<!-- Add payment method Modal -->
<div id="donationnow" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Donation</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
		  <form novalidate [formGroup]="myGroup">
		   <div class="row">

            <div class="col-sm-12">
                <div class="form-group">
                  <label for="exampleInputEmail1">Enter the amount you wish to donate</label>
                  <input type="text" class="form-control price inputmask" data-inputmask="'mask': '99999999999'" [(ngModel)]="price" formControlName="price" name="price"  placeholder="Enter amount($)">
                  <div *ngIf="myGroup.controls['price'].touched" class="rerror">
                      <div *ngIf="myGroup.controls['price'].errors?.required" class="alert alert-danger"> 
                          Amount is required
                      </div>

                      <div *ngIf="price && priceError" class="alert alert-danger"> 
						Please enter a valid amount
					  </div>
                      
                    </div>
                </div>
               
               </div>


			   <div class="col-sm-12">
                <div class="form-group">
                  <label for="exampleInputEmail1">Name</label>
                  <input type="text" class="form-control name inputmask" [(ngModel)]="uname"  formControlName="uname" name="uname"  placeholder="Enter name">
                
                </div>
               
               </div>

			   <div class="col-sm-12">
                <div class="form-group">
                  <label for="exampleInputEmail1"><input type="checkbox" class="unknownname" value="Unknown"/>&nbsp;I don't want to enter my name publicly</label>
                  
                
                </div>
               
               </div>


			 <div class="col-sm-12">
			  <div class="form-group">
				<label for="exampleInputEmail1">Cardholder Name</label>
				<input type="email" class="form-control inputmask" [(ngModel)]="cardHolderName"  (keypress)="allowAlphabetic($event)"   formControlName="cardHolderName" name="cardHolderName"  placeholder="Enter Cardholder name">
				<div *ngIf="myGroup.controls['cardHolderName'].touched" class="rerror">
					<div *ngIf="myGroup.controls['cardHolderName'].errors?.required" class="alert alert-danger"> 
						Cardholder name is required
					</div>
				  </div>
			  </div>
			 
			 </div>
			 <div class="col-sm-12">
			  <div class="form-group">
				<label for="exampleInputEmail1">Card Number</label>
				
				<input type="text" data-inputmask="'mask': '9999 9999 9999 9999'" class="form-control card_number inputmask" [(ngModel)]="cardNumber" formControlName="cardNumber"  name="cardNumber"  placeholder="Enter Card number" maxlength="19">
				<div *ngIf="myGroup.controls['cardNumber'].touched" class="rerror">
					<div *ngIf="myGroup.controls['cardNumber'].errors?.required" class="alert alert-danger"> 
						Card Number is required
					</div>

					  <div *ngIf="cardNumber && (cardNumber.length < 17 || cardNumber.length > 19)" class="alert alert-danger"> 
						Please enter valid Card Number.
					  </div>

					  

				</div>
				
			  </div>
			 </div>
			 <div class="col-sm-6">
			  <div class="form-group">
				<label for="exampleInputEmail1">Expiry date</label>
				
				<input type="text" class="form-control card_exp" [(ngModel)]="expiryDate" formControlName="expiryDate" name="expiryDate"   placeholder="MM / YYYY" maxlength="7">
				<div *ngIf="myGroup.controls['expiryDate'].touched" class="rerror">
					<div *ngIf="myGroup.controls['expiryDate'].errors?.required" class="alert alert-danger"> 
						Expiry date is required
					</div>


					  <div *ngIf="expiryDateError" class="alert alert-danger"> 
						Please enter a valid expiryDate
					  </div>

				</div>
				
			
				
			  </div>
			 </div>
			 
			 <div class="col-sm-6">
			  <div class="form-group">
				<label for="exampleInputEmail1">CVV</label>
				<input type="password"  class="form-control card_cvc inputmask" [(ngModel)]="cvvNumber" formControlName="cvvNumber" name="cvvNumber"  placeholder="Enter CVV" maxlength="4" data-inputmask="'mask': '9999'">
				<div *ngIf="myGroup.controls['cvvNumber'].touched" class="rerror">
					<div *ngIf="myGroup.controls['cvvNumber'].errors?.required" class="alert alert-danger"> 
						CVV Number is required
					</div>

					<div *ngIf="cvvNumber && (myGroup.controls['cvvNumber'].errors?.minlength || myGroup.controls['cvvNumber'].errors?.pattern)" class="alert alert-danger"> 
						Please enter valid cvvNumber.
					  </div>
				</div>
			  </div>
			 </div>


					<div class="col-sm-12">
						<div class="form-group">
							<div class="stripe_error"></div>
							</div>
							</div>
			
		   </div>
		   <!-- <button type="button" class="btn btn-default action close-btn" data-dismiss="modal">Close</button> -->
		   <button type="button" class="btn btn-default action" (click)="make_payment($event)" disabled="{{submitdisable?'true':''}}">Submit</button>
		   </form>
		  </div>
		  
		</div>
	  </div>
	  </div>
	 <app-siteloader></app-siteloader>
