<div class="left-bar admin">
    <div class="content-left mCustomScrollbar">
   <ul>
      <li><a [routerLink]="['/admin/dashboard']" [routerLinkActive]="['active']"><img src="assets/images/dashboard_icon.png" alt="icon">Dashboard</a></li>
      <li><a [routerLink]="['/admin/classes']" [routerLinkActive]="['active']"><img src="assets/images/classes.png" alt="icon">Classes</a></li>
      <li><a [routerLink]="['/admin/subcategories']" [routerLinkActive]="['active']"><img src="assets/images/category.png" alt="icon">Sub Category</a></li>
      <li><a [routerLink]="['/admin/myMusic']" [routerLinkActive]="['active']"><img src="assets/images/my_music.png" alt="icon">My Music</a></li>
      <li><a [routerLink]="['/admin/manageBookinngs']" [routerLinkActive]="['active']"><img src="assets/images/manage_booking.png" alt="icon">Manage Bookings</a></li>
      <li><a [routerLink]="['/admin/tutors']" [routerLinkActive]="['active']"><img src="assets/images/tutors.png" alt="icon">Tutors</a></li>
      <li><a [routerLink]="['/admin/users']" [routerLinkActive]="['active']"><img src="assets/images/manage_payments.png" alt="icon">Users</a></li>
      <li><a [routerLink]="['/admin/managePayments']" [routerLinkActive]="['active']"><img src="assets/images/manage_payments.png" alt="icon">Manage Payments</a></li>
   </ul>
   </div>
</div>

