@import '../../../node_modules/primeng/resources/themes/saga-blue/theme.css';
@import '../../../node_modules/primeng/resources/primeng.min.css';
@import '../../../node_modules/primeicons/primeicons.css';

.btn-cls{
    color: #fff;
    background: #738c72;
    border-radius: 4px;
    margin-top: 40px;
    padding: 14px 30 px;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.btn-cls:hover{
    color: #FFFFFF;
}


.audio-outer .audio-three-dots{
    display: none;
}

@-moz-document url-prefix() {
    .audio-outer .audio-three-dots{
        display: block !important;
    }

    .week-class audio{
        float: left !important;
    margin: 7px 0;
    }
    
.audio-outer{
    position: relative;
float: right;
width: 320px;
background: #221818;
height: 50px;
}


.audio-three-dots {
	float: right;
position: absolute;
right: 10px;
top: 5px;
cursor: pointer;
margin: 10px 0;

}


.audio-three-dots .fa.fa-download {
	color: #ffffff;
}
}