<app-header></app-header>

<section class="booking-main music-therapy mindful">
    <div class="container">
        <div class="heading">
            <h2>Mindful Musicians</h2>
            <span><img src="assets/images/heading_border.png" alt="img"></span>
        </div>
    </div>
</section>

<section class="mindful-musicians-top">
    <div class="container">
        <p>Mindful Musicians is an 8-week programmatic experience that promotes the foundational pillars of musical
            competence that reach into the realms of verbal, physical, & cognitive development, while simultaneously
            implanting core beliefs that support positive mental health & coping skills for times of future distress.
            Stemming from the idea that a positive development of self love is the answer to a successful life, we are
            proudly committed to sharing our vision. <br><br>Each 8 week session includes one 45 min class/week, access
            to digital
            music, and a canvas tote bag. Each class is to be attended with a
            caregiver (18+).</p>
    </div>
</section>

<section class="mindful-tution">
    <div class="container">
        <div class="heading">
            <h2>Tuition</h2>
            <span><img src="assets/images/heading_border.png" alt="img"></span>
        </div>
        <p>$175.00 for first child. $100 each additional sibling 6months+. Because our
            center is founded in an altruistic view of community, $5 of your tuition will
            be automatically deposited into the scholarship fund that will support a
            family who would not otherwise have the means to be a part of this
            program. If you would like to support one families’ full tuition, you may do
            so on the <a href="javascript:void(0)" data-toggle="modal" data-target="#donationnow">donations</a> page. Thank you for being part of the solution</p>
    </div>
</section>

<section class="benefits-music-therapy registration">
    <div class="container">
        <div class="benefits-music-therapy-left">
            <a *ngIf="loginUser; else elseblocka" [routerLink]="['/all-categories/mindful']">Registration</a>
            <ng-template #elseblocka>
              <a (click)="checkForRegisterMindful('mindful')">Registration</a>
            </ng-template>
            <p>Registration is now open for Winter 2022 8-week semester. Spaces are limited
                to 10 families/class. Please follow the registration link for confirmation of
                your pending enrollment.</p>

                <button class="btn-cls btn" *ngIf="loginUser; else elseblock" [routerLink]="['/all-categories/mindful']">Register here</button>
                  <ng-template #elseblock>
                    <button class="btn-cls btn" (click)="checkForRegisterMindful('mindful')">Register here</button>
                  </ng-template>
        </div>
        <div class="benefits-music-therapy-right">
            <img src="assets/images/mindful_musician_2.png" alt="img">
        </div>

    </div>
</section>

<section class="mindful-schedule-main">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="mindful-schedule">
                    <h3>Schedule</h3>
                    <ul>
                        <li>8 week session beginning January 17</li>
                        <li>Mondays 10:30am</li>
                        <li>Mondays 5:30pm</li>
                        <li>Tuesdays 5:45pm</li>
                        <li>Wednesdays 9am</li>
                        <li>Wednesdays 10am</li>
                        <li>Wednesdays 1pm</li>
                        <li>Wednesdays 4pm</li>
                        <li>Thursdays 1pm</li>
                        <li>Thursdays 5:30pm</li>
                        <li>Fridays 9am</li>
                        <li>Fridays 10am</li>
                        <li>Fridays 1:30pm</li>
                        <li>Saturdays 9am</li> 
                        <li>Saturdays 10am</li> 
                    </ul>
                </div>
                <div class="makeups">
                    <h3>Makeups</h3>
                    <p>You are allowed 1 makeup class/session. Please email<br>
                        <a style="color: unset;" href="mailto:callie.centrallyrooted@gmail.com">callie.centrallyrooted@gmail.com</a> to confirm your makeup.
                    </p>
                </div>
            </div>
            <div class="col-sm-6"> 
                <div class="mind-audio">
                    <h3>mindful musicians music</h3>
                    <p></p>
                     <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p> -->
                 <span class="audio-outer">
                    <audio controls>
             
                        <source src="{{'assets/music/mindful_music.mp3'}}" type="audio/mpeg">
                        Your browser does not support the audio element.
                      </audio>
                      <span class="audio-three-dots"><i class="fa fa-download" aria-hidden="true" (click)="downloadMusic('assets/music/mindful_music.mp3','mindful_music.mp3')"></i></span>
                     
                    </span>
                     
                <!--<div class="mindful-calender-image">
                     <p-calendar [(ngModel)]="dates" name="dates" [inline]="true" selectionMode="multiple"></p-calendar> 
                    <img src="assets/images/online-calendar.jpg" alt="img">
                </div>-->
            </div>
        </div>
        </div>
    </div>
</section>

<section class="expectations">
    <div class="container">
        <div class="heading">
            <h2>Expectations</h2>
            <span><img src="assets/images/heading_border.png" alt="img"></span>
        </div>
        <p>Upon arrival, please remove footwear and stow personal belongings in the
            provided cubbies. This is a floor seated class, but please communicate
            your needs should you need a chair. The more you engage in the class, the
            more your child will get out of the class. This is an opportunity to be fully
            present to let yourself play with your child, forget about stress, and engage
            in the playfulness of the experience.
        </p>
    </div>
</section>

<section class="expectations policies">
    <div class="container">
        <div class="heading">
            <h2>Policies</h2>
            <span><img src="assets/images/heading_border.png" alt="img"></span>
        </div>
        <p>No food or drink in the studio space. If you have water and need a drink,
            please excuse yourself to your cubby to refresh. No photography of any
            child other than your own. Be mindful of the privacy of others (even in the
            background of photos).
        </p>
    </div>
</section>

<section class="expectations bridging mindful">
    <div class="container">
        <div class="heading">
            <h2>Bridging to Home</h2>
            <span><img src="assets/images/heading_border.png" alt="img"></span>
        </div>
        <p>In an effort to solidify these concepts that promote positive mental health,
            please sing at home often! Use the songs/chants/recordings/games from
            our classes and incorporate them at home. If you can think of your child as
            a sponge, oftentimes they are busy soaking up the information within the
            experience. With some encouragement, you may start to see the squeezing
            out of the sponge at home, where they are more comfortable.</p>
    </div>
</section>

<section class="faq mindful">
    <div class="container">
        <div class="heading">
            <h2>Commonly Asked Questions</h2>
            <span><img src="assets/images/heading_border.png" alt="img"></span>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button type="button" class="btn btn-link" data-toggle="collapse"
                                    data-target="#collapseOne">
                                    <i class="fa fa-minus"></i>Is my kid too young?</button>
                            </h2>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Kids begin hearing in utero. At 4 months gestation, they have the capability to gain
                                    benefit from rhythm. After birth, they mature with rhythm alongside their
                                    development. This translates into nonmusical tasks such as speech sequencing,
                                    walking, coordination, and even reading. The benefits of music have been proven
                                    effective even in NICU babies, so no! Your child is not too young to join!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button type="button" class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseTwo"><i class="fa fa-plus"></i> Do I have to be a
                                    musician?</button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Nope. Music making is for every single person. You need not have any
                                    musical background to gain full value out of these courses.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <button type="button" class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseThree"><i class="fa fa-plus"></i> Can my child do this without
                                    me?</button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Nope-unless you’re sending them with a different caregiver over the age of
                                    18. Each child must be accompanied by an adult. The caregivers get the
                                    responsibility of redirecting any behaviors during class, while the teacher
                                    has the responsibility of maintaining the flow.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingfour">
                            <h2 class="mb-0">
                                <button type="button" class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapsefour"><i class="fa fa-plus"></i> What if my kid doesn’t appear
                                    to be engaged in class?</button>
                            </h2>
                        </div>
                        <div id="collapsefour" class="collapse" aria-labelledby="headingfour"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>This is quite common the first few semesters of class. Do not fret; there is
                                    still passive learning occurring and often in the beginning, kids will hide,
                                    play shy, or appear disengaged. The key here is your engagement. If you
                                    do the modeling, it will catch on with your kiddo. Please do intervene,
                                    however, if there is disruption to another child’s experience.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="faq-right">
                    <h3>Don’t Get Yet, Let<br>Us Know.</h3>
                    <ul>
                        <li><a style="color: unset;" href="mailto:callie@centrallyrooted.com"><i class="fas fa-envelope"></i>callie@centrallyrooted.com</a></li>
                        <li><a style="color: unset;" [routerLink]="['/']"><i class="fas fa-globe"></i>centrallyrooted.com</a></li>
                    </ul>
                    <button [routerLink]="['/contact-us']">contact us</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="meet-team">
    <div class="container">
        <div class="heading">
            <h2>Meet the team</h2>
            <span><img src="assets/images/heading_border.png" alt="img"></span>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-box">
                    <div class="team-img">
                        <img src="assets/images/team_img1.png" alt="img">
                    </div>
                    <div class="team-box-text">
                        <h3>Callie FitzGerald</h3>
                        <p>is a board certified music therapist and the founder of Mindful Musicians. She has degrees in
                            music education, vocal performance, and music therapy. She is as equally fascinated with
                            neuroanatomy as she is with psychology and self-growth. Through her lens of neurologic
                            music therapy and her life experiences that have taught the importance of self-love, she has
                            created this program base and has big visions for what is to come.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-box">
                    <div class="team-img">
                        <img src="assets/images/scott headshot.png" alt="img">
                    </div>
                    <div class="team-box-text">
                        <h3>Scott McDermott</h3>
                        <p>is an Iowa native that has traveled the country, but always staying near to his guitar and
                            his creative gift of music. He is the co-writer of Mindful Musicians and has found his
                            niche in sharing his deep love of music for a soul-serving purpose. His many talents allow
                            him to be a core part of the curriculum development and his open heart allows him to
                            continue adventuring throughout the country.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-box">
                    <div class="team-img">
                        <img src="assets/images/team_img3.png" alt="img">
                    </div>
                    <div class="team-box-text">
                        <h3>Jill Klinebriel</h3>
                        <p>began studying the piano at the age of 5 and hasn’t taken a break since! She studied
                            classical piano performance at Michigan State University and earned her degree in musical
                            theater performance from Western Michigan University. Jill has performed and taught in
                            educational and community circuits in New York City, Montgomery Alabama, and the tri-state
                            area since 2002. Jill is an adjunct faculty member at the University of Dubuque and music
                            directs “kids take the stage” summer series at the Bell Tower theater.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimonials">
    <div class="container">
        <h3>Testimonials</h3>
        <p>“My family and I love being a part of Callie’s interactive music classes. As a musician and educator myself,
            I really appreciate the way Callie’s classes <br>have developed and nurtured my children’s natural
            musicality in fun, affirming, and diverse ways. <br>We always leave the classes smiling and singing!”</p>
        <h4>- Lansing family</h4>
    </div>
</section>
<app-donation></app-donation>
<app-footer></app-footer>