<app-header></app-header>
<section class="login">
    <div class="container">
        <div class="heading">
            <h2>Reset password</h2>
            <span><img src="assets/images/heading_border.png" alt="img"></span>
        </div>
        <div class="login-main">
            <form novalidate [formGroup]="formGroup">
                <span style="color:red">{{error}}</span>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input formControlName="new_password" [(ngModel)]="new_password" name="new_password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password">
                    <div *ngIf="formGroup.controls['new_password'].touched">
                    
                        <div *ngIf="formGroup.controls['new_password'].errors?.required" class="alert alert-danger">
                            New Password is required
                        </div>
                        <div *ngIf="formGroup.controls['new_password'].errors?.minlength" class="alert alert-danger">
                            New Password must be atleast 6 character in length
                        </div>
                        </div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                    <input formControlName="new_confirm_password" [(ngModel)]="new_confirm_password" name="new_confirm_password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password">

                    <div *ngIf="formGroup.controls['new_confirm_password'].touched">
                    
                        <div *ngIf="formGroup.controls['new_confirm_password'].errors?.required" class="alert alert-danger">
                            Confirm Password is required
                        </div>
                        <div *ngIf="new_password != new_confirm_password" class="alert alert-danger">
                            Confirm Password do not matched
                        </div>
                        </div>
                </div>
                <button (click)="changePassword()" type="submit" class="btn"><span *ngIf="!ShowSubmitLoader">Save</span><i
					class="fa fa-spinner fa-spin" *ngIf="ShowSubmitLoader"></i></button>
            </form>
        </div>
    </div>
</section>
<app-footer></app-footer>