<main class="incident-report">
	<!------ top nav part Start -->
	<app-adminheader></app-adminheader>
	<!------ top nav part close -->
	<div class="container-fluid">
		<div class="row">
			<!--Sidebar-->
			<app-sidebar></app-sidebar>
			<div class="right-main">
				<div class="right-main-inn">
					<div class="dashboard-main-div">
						<div class="row">
							<div class="col-md-12">
								<div class="class-top">
									<h3>Manage Payments <span class="donation-py">(Donation Payments)</span></h3>
								</div>
								<app-siteloader></app-siteloader>
								<div class="recent-booking class manage-booking dashboard-table-outer">
									<table class="table">
										<thead>
											<tr *ngIf="Donationdata.length > 0">
												<th scope="col">Sr.No.</th>
												<th scope="col">Stripe ID</th>
												<th scope="col">Name</th>
												<th scope="col">Date & Time</th>
												<th scope="col">Amount</th>
											
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let donation of Donationdata; let i=index;">
												<td scope="row">{{ i + 1 * Index}}</td>
												<td>{{donation.stripe_id}}</td>
												<td>{{donation.name}}</td>
                                                <td>{{donation.created_at | date}} & {{formatTime(getTime(donation.created_at))}}</td>
												<td>{{donation.price > 0 ?'$'+donation.price:'N/A'}}</td>
												
												
											</tr>
										
										</tbody>
									</table>
									<div class="norecordfound" *ngIf="norecordfound" style="color:red">*No Record Found!</div>

									<mat-paginator *ngIf="totalDonationdata.length > 10" [length]="this.totalDonationdata.length" [pageSize]="pageSize"
										[pageSizeOptions]="pageSizeOptions" (page)="OnPageEvent($event)">
									</mat-paginator>
							
								</div>
							</div>

						</div><!-- row -->
					</div><!-- dashboard-main-div -->
				</div>
			</div>
		</div>
	</div>
</main>

