<section class="header" *ngIf="loggedInUser == 'guest' ">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" [routerLink]="['/']"><img src="assets/images/logo.png" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/mindful-musicians">Mindful Musicians</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/neurodynamic-music-therapy">Neurodynamic Music Therapy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/rooted-private-lessions">Rooted Private Lessons</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/about-us']">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/scholarship']">Scholarship Program </a>
          </li>
        </ul>
        <a class="nav-link login" [routerLink]="['/login']">Login</a>
        <a class="nav-link login" [routerLink]="['/register']">sign up</a>
      </div>
    </nav>
  </div>
</section>


<section class="header" *ngIf="loggedInUser == 'user' || loggedInUser == 'admin' ">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#"><img src="assets/images/logo.png" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/mindful-musicians">Mindful Musicians</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/neurodynamic-music-therapy">Neurodynamic Music Therapy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/rooted-private-lessions">Rooted Private Lessons</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/about-us']">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/scholarship']">Scholarship Program </a>
          </li>
        </ul>

        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="user-img"><img id="changeImage" src="{{image}}" alt=""></span>
            <span id="textChange" style="text-transform: capitalize">{{name}}</span>
          </button>
           <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" *ngIf="loggedInUser == 'admin'">
            <a class="dropdown-item" [routerLink]="['/admin/dashboard']">Dashboard</a>

          </div>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" *ngIf="loggedInUser == 'user'">
            <a class="dropdown-item" [routerLink]="['/dashboard']">Dashboard</a>
            <a class="dropdown-item" [routerLink]="['/profile']">My Profile</a>
            <a class="dropdown-item" [routerLink]="['/my-bookings']">My Bookings</a>
            <!-- <a class="dropdown-item" [routerLink]="['/my-payments']">My Payments</a> -->
            <a class="dropdown-item" [routerLink]="['/my-savecards']">My Saved Cards</a>
            <a class="dropdown-item" [routerLink]="['/change-password']" >Change Password</a>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </div>

      </div>
    </nav>
  </div>
</section>





<!-- 
    <ul *ngIf="loggedInUser == 'admin' " class="menu">
      <li><a [routerLink]="['/classes']">Classes</a></li>
      <li><a [routerLink]="['/teachers']">Teachers</a></li>
      <li><a [routerLink]="['/categories']">Category</a></li>
      <li><a [routerLink]="['/bookings']">Bookings</a></li>
      <li (click)="logout()"><a >Logout</a></li>
    </ul>


    <ul *ngIf="loggedInUser == 'user' " class="menu">
      <li><a [routerLink]="['/my-bookings']">My Bookings</a></li>
      <li (click)="logout()"><a >Logout</a></li>
    </ul>    
   -->