<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="footer-left">
                    <a ><img src="assets/images/footer_logo.png" alt="logo"></a>
                    <p>Centrally rooted: a center for developing positive <br>mental health through creative expression</p>
                    <div class="follow-us">
                        <h3>Follow us</h3>
                        <ul>
                            <li><a ><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a ><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a ><i class="fab fa-pinterest-p"></i></a></li> -->
                            <li><a ><i class="fab fa-instagram"></i></a></li>
                            <!-- <li><a ><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="footer-left"> 
                    <h2>Services</h2>
                    <ul>
                        <li><a [routerLink]="['/mindful-musicians']" (click)="scrolltotop()">- Mindful Musicians</a></li>
                        <li><a [routerLink]="['/neurodynamic-music-therapy']" (click)="scrolltotop()">- Neurodynamic Music
                            Therapy</a></li>
                        <li><a [routerLink]="['/rooted-private-lessions']" (click)="scrolltotop()">- Rooted Private Lessons</a></li>
                        <li><a [routerLink]="['/contact-us']" (click)="scrolltotop()">- Contact Us</a></li> 
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="footer-left contact">
                    <h2>Contact Info</h2>
                    <p>2230 central Ave dubuque <br>Iowa 52001</p>
                    <ul>
                        <li><strong>Email:</strong><br><a style="color: unset;" href="mailto:callie@centrallyrooted.com">callie@centrallyrooted.com</a></li>
                        <!-- <li><strong>Support:</strong><br>+1 325 562 3265</li> -->
                        <li><strong>Website:</strong><br><a style="color: unset;" [routerLink]="['/']" href="#">centrallyrooted.com</a></li> 
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="footer-left contact">
                    <h2>Stay in Touch</h2>
                    <p>we are happy to answer any question and look forward to getting to know you!</p>
                    <input type="text" class="email" placeholder="Email Address">
                    <button class="subscribe"><i class="far fa-paper-plane"></i>subscribe now</button>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <h4>Copyright © {{cyear}} <a href="">Centrally Rooted.</a> All Rights Reserved.</h4>
            <ul>
                <li><a href="">Terms & Condition</a></li>
                <li>|</li>
                <li><a href="">Privacy</a></li>
                <li>|</li>
                <li><a href="">Support</a></li>
            </ul>
        </div>

    </div>
</section>