<app-header></app-header>
<section class="login">
	<div class="container">
		<div class="heading">
			<h2>sign in</h2>
			<span><img src="assets/images/heading_border.png" alt="img"></span>
		</div>
		<div class="login-main">
			<form>
				<span *ngIf="messageError !=''" style="color: red;">{{messageError}}</span>
				<div class="mb-3">
					<label for="exampleInputEmail1" class="form-label">email address</label>
					<input  type="email" class="form-control" placeholder="Enter your Email" name="email" [(ngModel)]="email">
				</div>
				<div class="mb-3">				
					<label for="exampleInputPassword1" class="form-label">Password</label>
					<input type="password" class="form-control" placeholder="Enter your password" name="password" [(ngModel)]="password">
				</div>
				<div class="mb-3 form-check">
					<input type="checkbox" class="form-check-input" id="exampleCheck1" name="remember_me" [(ngModel)]="remember_me" (change)="remembercheckCheckBoxvalue($event)"/>
					<label class="form-check-label" for="exampleCheck1">Remember me</label>
					<a [routerLink]="['/forgot-password']">Forgot password?</a>
				</div>
				<button (click)="submitLoginForm()" type="button" class="btn"><span *ngIf="!loading">Sign in</span><i
					class="fa fa-spinner fa-spin" *ngIf="loading"></i></button>
				<h4 >Don't have an account? <a [routerLink]="['/register']">Sign up</a></h4>
			</form>
		</div>
	</div>
</section>

<app-footer></app-footer>





<!-- <div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>Centrally<span>Rooted</span></div>
		</div>
		<br>
		<div class="login">
            <span *ngIf="messageError !=''" style="color: red;">{{messageError}}</span>
				<input  type="text" placeholder="email" name="email" [(ngModel)]="email"><br>
				<input type="password" placeholder="password" name="password" [(ngModel)]="password"><br>
				<input (click)="submitLoginForm()" type="button" value="Sign in">
				<button [routerLink]="['/register']" class="form-control signup">Don't have account?Sign up</button>
				<button [routerLink]="['/forget-password']" class="form-control signup">Forget Password</button>
		</div> -->