<app-header></app-header>
<section class="booking-main music-therapy scholarship">

    <div class="container">
        <div class="heading">
            <h2>Scholarship Program</h2>
            <span><img src="assets/images/heading_border.png" alt="img"></span>
        </div>
        <p>Our society is in a mental health crisis that is primarily addressed from the postventative standpoint. We are motivated by the developing youth, and have a
            vision of setting foundational layers of positive mental health in children through creative opportunities. <strong>It is of utmost importance, however, that all children, regardless of socioeconomic status or upbringing, have an opportunity to be involved in these benefits.</strong><br><br>
            Centrally Rooted encompasses Mindful Musicians; an interactive music curriculum of caregiver:child classes that encompass all the benefits of music
            competence with an overarching theme of developing positive self image and coping skills for times of future distress. The program will run in 8 week sessions 4 times throughout a calendar year, featuring multiple ‘albums’ of digital music that families will have access to in bridging the gap between the studio and home. This scholarship fund would also be available to families interested in Neurodynamic music therapy, group or 1:1.<br><br>
            Because a large goal is reaching people of lower socioeconomic status, we have a scholarship fund developed that will be application based and provide families of lesser means the opportunity to be involved. <strong>As the business grows, so too will the scholarship opportunities for more than this curriculum exclusively. We hope it
                will eventually reach into the realms of a membership based
                recording/podcasting studio that will allow expression of
                storytelling/songwriting/etc, yoga therapy, & art therapy.</strong><br><br>
            This inquiry is reflective of an altruistic mission, supporting community members that may not otherwise have the means to commit to such a program. We deeply appreciate your consideration of a donation that will provide great benefit to a young child and their family. Any amount will be received and held in a scholarship account for families to apply to as soon as October 2021.<br><br>
            If you need additional information, we are happy to answer any questions and appreciate your support of spreading the word.</p>
    </div>
</section>

<section class="make-donation">
    <div class="container">
        <h3>Help a family in need</h3>
        <a href="javascript:void(0)" data-toggle="modal" data-target="#donationnow">Donation </a>
    </div>
</section> 

<section class="scholarship-applicants">
    <div class="container">
        <p>Scholarship Applicants: To inquire about income requirements and eligibility, please email</p>
         <h5><a href="mailto:callie@centrallyrooted.com" style="color: unset;">callie@centrallyrooted.com</a></h5>
    </div>
</section>
<app-donation></app-donation>

<app-footer></app-footer>