<app-header></app-header>
<!------ booking detail page start ----->
<section class="booking-main">
  <div class="container">
  <div class="heading">
	    <h2>booking details</h2>
	   <span><img src="images/heading_border.png" alt="img"></span>
	 </div>
     <div class="booking-inn">
	   <div class="select-class">
	     <h3>Select Class</h3>
		  <ul>
		    <li>
			  <label class="mind">
				<input type="radio" checked="checked" name="radio">
				 <span class="checkmark"><h5>Mindful Musicians</h5></span>
			  </label>
			</li>
			<li class="neuro">
			  <label class="mind">
				<input type="radio" checked="checked" name="radio">
				 <span class="checkmark"><h5>Neurodynamic Music Therapy</h5></span>
			  </label> 
			</li>
			<li>
			  <label class="mind">
				<input type="radio" checked="checked" name="radio">
				 <span class="checkmark"><h5>Rooted Private Lessons</h5></span>
			  </label> 
			</li>
		  </ul>
	   </div>
	   <div class="select-class">
	     <h3>Select age group</h3>
		  <ul>
		    <li>
			  <label class="mind">
				<input type="radio" checked="checked" name="radio">
				 <span class="checkmark"><h5>0-2 years</h5></span>
			  </label>
			</li>
			<li>
			  <label class="mind">
				<input type="radio" checked="checked" name="radio">
				 <span class="checkmark"><h5>3-6 years</h5></span>
			  </label> 
			</li>
		  </ul>
	   </div>
	   <div class="select-class">
	     <h3>Number of users</h3>
		  <ul>
		    <li class="border_user">
		     <h5>John doe for first child</h5> 
			</li>
			<button class="add-sibling"><i class="fas fa-plus"></i>ADD SIBLING</button>
		  </ul>
	   </div>
	   <div class="select-class">
	     <h3>Book the slots</h3>
		  <ul>
		    <li class="border_user slot">
		     <h5>22/10/2021</h5> 
			</li>
			<li class="border_user slot">
		     <h5>09:30 am</h5> 
			</li>
			<li class="border_user slot">
		     <h5>11:30 am</h5> 
			</li>
			<li class="border_user slot">
		     <h5>12:00 pm</h5> 
			</li>
			<li class="border_user slot">
		     <h5>1:30 pm</h5> 
			</li>
		  </ul>
	   </div>
	   <div class="select-class book-now-bottom">
	      <button class="book-now">book now</button>
	   </div>
	 </div>
  </div>
 <div class="summary">
   <h4>Summary : Amount $25</h4>
 </div>
</section>

<!------ booking detail page close -----> 
 <app-footer></app-footer>