<!-- Add payment method Modal -->
<div id="donationnow" class="modal fade inquiryform" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Inquiry</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
		  <form novalidate [formGroup]="myGroup">
		   <div class="row">

            <div class="col-sm-12">
                <div class="form-group">
                  <label for="exampleInputEmail1">Parent's Name</label>
                  <input type="text" class="form-control parentname" [(ngModel)]="parentname" formControlName="parentname" name="parentname"  placeholder="Enter Parent's Name">
                  <div *ngIf="myGroup.controls['parentname'].touched" class="rerror">
                      <div *ngIf="myGroup.controls['parentname'].errors?.required" class="alert alert-danger"> 
						Parent's Name is required
                      </div>

                     
                    </div>
                </div>
               
               </div>


		


			 <div class="col-sm-12">
			  <div class="form-group">
				<label for="exampleInputEmail1">Email</label>
				<input type="email" class="form-control" [(ngModel)]="email"  formControlName="email" name="email"  placeholder="Enter Email">
				<div *ngIf="myGroup.controls['email'].touched" class="rerror">
					<div *ngIf="myGroup.controls['email'].errors?.required" class="alert alert-danger"> 
						Email is required
					</div>
					<div *ngIf="myGroup.controls['email'].errors?.pattern" class="alert alert-danger">Email is not valid</div>
				  </div>
			  </div>
			</div>

			  <div class="col-sm-12">
                <div class="form-group">
                  <label for="exampleInputEmail1">Child's Name</label>
                  <input type="text" class="form-control childname" [(ngModel)]="childname" formControlName="childname" name="childname"  placeholder="Enter child's Name">
                  <div *ngIf="myGroup.controls['childname'].touched" class="rerror">
                      <div *ngIf="myGroup.controls['childname'].errors?.required" class="alert alert-danger"> 
						Child's Name is required
                      </div>

                     
                    </div>
                </div>
               
               

			 </div>
			 <div class="col-sm-12">
			  <div class="form-group">
				<label for="exampleInputEmail1">Age</label>
				
				<input type="text" (keypress)="numberOnly($event)" class="form-control card_number" [(ngModel)]="age" formControlName="age"  name="age"  placeholder="Enter Age" maxlength="19">
				<div *ngIf="myGroup.controls['age'].touched" class="rerror">
					<div *ngIf="myGroup.controls['age'].errors?.required" class="alert alert-danger"> 
						Age is required
					</div>

					 

					  

				</div>
				
			  </div>
			 </div>
			 <div class="col-sm-12">
			  <div class="form-group">
				<label for="exampleInputEmail1">Instrument</label>
				
				<input type="text" class="form-control" [(ngModel)]="instrument" formControlName="instrument" name="instrument"   placeholder="Enter Instrument">
				<div *ngIf="myGroup.controls['instrument'].touched" class="rerror">
					<div *ngIf="myGroup.controls['instrument'].errors?.required" class="alert alert-danger"> 
						Instrument is required
					</div>


				</div>
				
			
				
			  </div>
			 </div>
			 
			
		   </div>
		   <!-- <button type="button" class="btn btn-default action close-btn" data-dismiss="modal">Close</button> -->
		   <button type="button" class="btn btn-default action" (click)="inquiry_send($event)">Submit</button>
		   </form>
		  </div>
		  
		</div>
	  </div>
	  </div>