.outer-divexp-date{
    display: flex;
}


#donationnow button.action{

	text-align: center;
	margin: 15px;
	font-size: 18px;
	color: #fff;
	background: #738c72;
	border-radius: 4px;
	padding: 13px 35px;
	border: 0;
	font-weight: 500;
}

#donationnow .alert{
    position: unset;
}

.brandingLogoView,.testMode{
	display: none;
}


