
      <main class="incident-report">
        <app-adminheader></app-adminheader>
         <div class="container-fluid">
            <div class="row">
               <!--Sidebar-->
               <app-sidebar></app-sidebar>
               <div class="right-main">
                  <div class="right-main-inn">
				   <div class="dashboard-top-div">
				   	<div class="row">
				   		<div class="col-md-4">
				   			<div class="dashboar-top-box">
				   				<div class="left-div-box">
				   					<h5>Number of Registration</h5>
				   					<h1>{{usersCounts}}</h1>
				   				</div><!-- left-div-box -->
				   				<span class="right-box-icon"><img src="assets/images/number_registration.png" alt=""></span>
				   			</div><!-- dashboard-top-box -->
				   		</div><!-- col -->
				   		<div class="col-md-4">
				   			<div class="dashboar-top-box">
				   				<div class="left-div-box">
				   					<h5>Daily Classes</h5>
				   					<h1>{{dailyClassesCount}}</h1>
				   				</div><!-- left-div-box -->
				   				<span class="right-box-icon"><img src="assets/images/daily_class.png" alt=""></span>
				   			</div><!-- dashboard-top-box -->
				   		</div><!-- col -->
				   		<div class="col-md-4">
				   			<div class="dashboar-top-box">
				   				<div class="left-div-box">
				   					<h5>Number of Tutors</h5>
				   					<h1>{{teachersCount}}</h1>
				   				</div><!-- left-div-box -->
				   				<span class="right-box-icon"><img src="assets/images/number_tutor.png" alt=""></span>
				   			</div><!-- dashboard-top-box -->
				   		</div><!-- col -->
				   	</div>
				   </div><!-- dashboard-top-div -->
	   			<div class="dashboard-main-div">
	   				<div class="row">
	   					<div class="col-md-6">
	   						<div class="dashboad-main-inner left-dashboard">
	   							<div class="heading-div-top">
	   								<h2>Recent Users</h2>
	   								<a routerLink="/admin/users" class="view">View All</a>
	   							</div><!-- heading-div-top -->
								   <app-siteloader></app-siteloader>
	   							<div class="content dashboard-table-outer">
	   								<ul class="recent-users">
	   									<li *ngFor="let usersList of recentUsersList">
	   										<span class="images"><img src="{{baseurls}}{{usersList.image}}"></span>
	   										<div class="user-detail">
	   											<h1>{{usersList.name}}</h1>
	   										</div>
	   										<div class="time-date">{{usersList.created_at | date:'medium'}}</div>
	   									</li>
		   							</ul>
    <div class="norecordfound" *ngIf="norecordfounduserlist" style="color:red">*No Record Found!</div>

		   						</div>
	   						</div>
	   					</div>
						<div class="col-md-6">
	   						<div class="dashboad-main-inner left-dashboard">
	   							<div class="heading-div-top">
	   								<h2>Recent Tutors </h2>									  
	   								<a routerLink="/admin/tutors" class="view">View All</a>
									   
	   							</div><!-- heading-div-top -->
								   <app-siteloader></app-siteloader>
	   							<div class="content dashboard-table-outer">
	   								<ul class="recent-users">
	   									<li *ngFor="let teachersList of recentTutorsList">
	   										<span class="images"><img src="{{mainurl}}/centrallyRooted/public/uploads/1625737388.png"></span>
	   										<div class="user-detail">
	   											<h1>{{teachersList.name}}</h1>
	   										</div>
	   										<div class="time-date">{{teachersList.created_at  | date:'medium'}}</div>
	   									</li>	
		   							</ul>
    <div class="norecordfound" *ngIf="norecordfoundtutorlist" style="color:red">*No Record Found!</div>

		   						</div>
	   						</div>
	   					</div>
						
						<div class="col-md-12">
						  <div class="recent-booking">
						    <h3>Recent Bookings</h3>	
							<app-siteloader></app-siteloader>		
							<table class="table dashboard-table-outer">
							  <thead>
								<tr *ngIf="recentBookings.length > 0">
								  <th scope="col">Class</th>
								  <th scope="col">Category</th>
								  <th scope="col">Number of user</th>
								  <th scope="col">Date</th>
								  <th scope="col">Time</th>
								  <th scope="col">Action</th>
								</tr>
							  </thead>
							  <tbody>

								<tr *ngFor="let bookings of recentBookings; let i = index">
								  <td>{{bookings.classes.title}}</td>
								  <td>{{bookings.categoriesData.name}}</td>
								  <td>{{bookings.number_of_users}}</td>
								  <td>{{bookings.classes.start_date | date}}</td>
								  <td>{{formatTime(bookings.classes.start_time)}} to {{formatTime(bookings.classes.end_time)}}</td>
								  <td>
									  <button (click)="viewBookings(bookings)" class="view" data-toggle="modal" data-target="#view-class"><i class="far fa-eye"></i></button>							
								  </td>
								</tr>

								

							  </tbody>
							</table>
    <div class="norecordfound" *ngIf="norecordfound" style="color:red">*No Record Found!</div>
							
						  </div>
						</div>
						 
	   				</div><!-- row -->
	   			</div><!-- dashboard-main-div -->
            </div>
         </div>
         </div>
         </div>
      </main>

	
<!-- view class popup -->
<div class="modal fade" id="view-class" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Booking Details</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		 <ul>
		   <li>
			 <label>Class Name</label>
			  <p>{{recent_bookings_data.title}}</p>
		   </li>
		   <li>
			<label>Category</label>
			 <p>{{recent_bookings_data.categories?recent_bookings_data.categories.name:''}}</p>
			 </li>
			 
		  <ng-container *ngFor="let subcat of  subcategorylistData; let i = index">
		  <li *ngIf="subcat.id == recent_bookings_data.subCategories_id && subcat.cat_type == recent_bookings_data.categories_id">
			<label>SubCategory</label>
			 <p>
			
					 {{subcat?subcat.subcat_name:''}}
					
				</p>
		  </li>
		  </ng-container>
		   <li>
			 <label>Number Of Users</label>
			  <p>{{recent_bookings_data.numberOfUsers}}</p>
		   </li>
		   <li>
			 <label>{{recent_bookings_data.categories_id == 1?'Start Date':'Date'}}</label>
			  <p>{{recent_bookings_data.start_date | date}}</p>
		   </li>
		   <li>
			<label>Time</label>
			 <p>{{formatTime(recent_bookings_data.start_time)}} to {{formatTime(recent_bookings_data.end_time)}}</p>
		   </li>

		   <li>
			<label>Tutor</label>
			 <p>{{recent_bookings_data.teachers_name?recent_bookings_data.teachers_name:''}}</p>
		  </li>

		 

		  <li>
			<label>Price</label>
			 <p>{{recent_bookings_data.amount > 0?'$'+recent_bookings_data.amount:'N/A'}}</p>
		  </li>

		  <li>
			<label>Name of Child(ren)</label>
			<p>{{recent_bookings_data.individual+(recent_bookings_data.issiblingsData?',':'')}}
			 <ng-container *ngFor="let sibling of recent_bookings_data.siblingsData" >{{sibling}}</ng-container></p>
		  </li>

		 
		  <li class="more-session" *ngIf="sessionDatearray.length > 0"><label>{{recent_bookings_data.stype == 1?'All Available Sessions (In Current Billing Cycle)':'All Sessions'}}</label>
			<div class="row">
				<div class="col-sm-4" *ngFor="let sessionDate of sessionDatearray">
				  <div class="session-box">	
				  {{sessionDate | date }}
				  <p>{{formatTime(recent_bookings_data.start_time)}} to {{formatTime(recent_bookings_data.end_time)}}</p>
				</div>
				</div>

			</div>
		  </li>
		 </ul>
		</div>
	  </div>
	</div>
  </div>
  <!-- view class popup -->	
  