ul li.more-session ul li {
    display: inline-block !important;
    width: 33%;
}

.more-session li p{
    font-size: 14px !important;
}

#view-class li.more-session label {
    padding: 12px 0px;
    font-size: 15px;
}