<app-header></app-header>
<section class="login">
    <div class="container">
    <div class="heading">
        <h2>Sign up</h2>
        <span><img src="assets/images/heading_border.png" alt="img"></span>
    </div>
    <div class="login-main">
        <form novalidate [formGroup]="formGroup">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">First Name</label>
                <input class="form-control" type="text" (keypress)="allowAlphabetic($event)" [(ngModel)]="name" formControlName="name" placeholder="Enter your First Name"
                    name="name" id="name" required>
                <div *ngIf="formGroup.controls['name'].touched">
                    <div *ngIf="formGroup.controls['name'].errors?.required" class="alert alert-danger"> 
                        First name is required
                    </div>

                    <div *ngIf="formGroup.controls['name'].errors?.minlength" class="alert alert-danger"> First name
                        must be atleast 3 character in length
                    </div>
                </div>
                <!-- <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="John"> -->
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Last Name</label>
                <input class="form-control" type="text" (keypress)="allowAlphabetic($event)" [(ngModel)]="last_name" formControlName="last_name"
                    placeholder="Enter your Last Name" name="name" id="name" required>
                <div *ngIf="formGroup.controls['last_name'].touched">
                    <div *ngIf="formGroup.controls['last_name'].errors?.required" class="alert alert-danger"> Last
                        name is required
                    </div>

                    <div *ngIf="formGroup.controls['last_name'].errors?.minlength" class="alert alert-danger">Last
                        name must be atleast 3 character in length
                    </div>
                </div>
                <!-- <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Smith"> -->
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="email" class="form-control" [(ngModel)]="email" formControlName="email" name="email"
                    id="email" required placeholder="Enter your Email">

                

                <div *ngIf="formGroup.controls['email'].touched">
                    <div *ngIf="formGroup.controls['email'].errors?.required" class="alert alert-danger"> Email
                        is required
                    </div>

                    <div *ngIf="formGroup.controls['email'].errors?.pattern" class="alert alert-danger">Email is not valid</div>

                </div>
 
             
            </div>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Phone Number</label>
                <input type="tel" class="form-control" [(ngModel)]="phoneNumber" formControlName="phoneNumber" name="phoneNumber" pattern="[0-9]"
                    id="phoneNumber" required placeholder="Enter your Phone Number" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" maxlength="10">
                

                <div *ngIf="formGroup.controls['phoneNumber'].touched && formGroup.controls['phoneNumber'].invalid">

                    <div *ngIf="formGroup.controls['phoneNumber'].errors?.required" class="alert alert-danger">Phone Number is required.</div>
    
                    <div *ngIf="formGroup.controls['phoneNumber'].errors?.minlength" class="alert alert-danger">Enter 10 digit Phone Number.</div>
    
                </div>
            </div>    





            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>

                <input class="form-control" type="password" [(ngModel)]="password" formControlName="password"
                    placeholder="Enter Password" name="password" required>
                <div *ngIf="formGroup.controls['password'].touched">
                    <div *ngIf="formGroup.controls['password'].errors?.required" class="alert alert-danger">
                        Password is required
                    </div>

                    <div *ngIf="formGroup.controls['password'].errors?.minlength" class="alert alert-danger">
                        Password must be atleast 6 character in length
                    </div>
                </div>
              
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                <input type="password" [(ngModel)]="confirm_password" formControlName="confirm_password"
                    placeholder="Confirm Password" name="confirm_password" required class="form-control"
                    id="exampleInputPassword1">
                <div *ngIf="formGroup.controls['confirm_password'].touched">
                    <div *ngIf="formGroup.controls['confirm_password'].errors?.required" class="alert alert-danger">
                        Confirm Password is required
                    </div>
                    
                    <div *ngIf="formGroup.controls['confirm_password'].errors && ConfirmedPasswordValidator(formGroup.controls['confirm_password'].errors)" class="alert alert-danger">
                        Password do not matched
                    </div>
                </div>
            </div>

            <div *ngIf="errorthrown" class="alert alert-danger">
               {{errorthrown}}
            </div>
            <button type="submit" (click)='addUsers($event)' class="btn" disabled="{{disablebtn?'true':''}}"><span *ngIf="!loading">Sign up</span><i
                class="fa fa-spinner fa-spin" *ngIf="loading"></i></button>
            <!-- <button type="submit" class="btn">Sign up</button> -->
            <h4>Already have an account? <a [routerLink]="['/login']">Sign In</a></h4>
        </form>
    </div>
</div>
</section>

<app-footer></app-footer>


<!-- <form action="action_page.php">
    <div class="container">
        <h1>Register</h1>
        <p>Please fill in this form to create an account.</p>
        <form novalidate [formGroup]="formGroup">
            <div *ngIf="formGroup?.value"></div>
            <div class="form-group">
                
                <div class="row">

                    <div class="col-sm-6">
                        <hr>
                        <label><b>Name</b></label>
                        <input type="text" [(ngModel)]="name" formControlName="name" placeholder="Enter Name"
                            name="name" id="name" required>
                        <div *ngIf="formGroup.controls['name'].touched">
                            <div *ngIf="formGroup.controls['name'].errors?.required" class="alert alert-danger"> Name is
                                required
                            </div>
                            
                            <div *ngIf="formGroup.controls['name'].errors?.minlength" class="alert alert-danger"> Name
                                must be atleast 3 character in length
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <label><b>Email</b></label>
                        <input type="text" [(ngModel)]="email" formControlName="email" placeholder="Enter Email"
                            name="email" id="email" required>
                        <div *ngIf="formGroup.controls['email'].touched">
                            <div *ngIf="formGroup.controls['email'].errors?.required" class="alert alert-danger"> Email
                                is required
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <label><b>Password</b></label>
                        <input type="password" [(ngModel)]="password" formControlName="password"
                            placeholder="Enter Password" name="password" required>
                        <div *ngIf="formGroup.controls['password'].touched">
                            <div *ngIf="formGroup.controls['password'].errors?.required" class="alert alert-danger">
                                Password is required
                            </div>

                            <div *ngIf="formGroup.controls['password'].errors?.minlength" class="alert alert-danger">
                                Password must be atleast 6 character in length
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <hr>
                        <button type="submit" (click)='addUsers()' class="registerbtn">Register</button>
                        <button [routerLink]="['/']" class="signinbtn">Already have account? Sign in.</button>

                    </div>
                </div>
            </div>


        </form>
    </div>

</form> -->