<app-header></app-header>
<!------ contact us part start ----->
<section class="mission contact">
  <div class="container">
    <div class="heading">
      <h2>Contact us</h2>
      <span _ngcontent-xkq-c63=""><img _ngcontent-xkq-c63="" src="assets/images/heading_border.png" alt="img"></span>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="contact-left">
          <h3>Contact Info</h3>
          <p>We're happy you've found us and we are happy to answer any questions you have. Please drop us a line!</p>
          <ul>
            <li><a href="tel:563-663-1694" style="color: unset;"><span><i class="fas fa-phone"></i></span>563-663-1694</a></li>
            <li><a href="mailto:callie@centrallyrooted.com" style="color: unset;"><span><i class="fas fa-envelope"></i></span>callie@centrallyrooted.com</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="contact-right">
          <form (submit)="contactsubmit()">
            <div class="row">
              <!-- <form> -->
              <div class="col-sm-6">
                <div class="form-group">
                    
                  <label for="exampleInputEmail1">Name</label>
                  
                  <input required type="text" [(ngModel)]="name" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Name">
                  <span *ngIf="error.name" style="color: red;">Name is required</span>

                </div>
              </div>
              <div class="col-sm-6">
                 
                  
                <div class="form-group">
                    
                  <label for="exampleInputEmail1">Email</label>
                  
                  <input type="email" [(ngModel)]="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Email">
                    <span *ngIf="error.email" style="color: red;">Email is required</span>
                    <span *ngIf="emailValid" style="color: red;">Not a valid email</span>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  
                  <label for="exampleInputEmail1">Phone number</label>
                  
                  <input type="text" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" [(ngModel)]="phone" name="phone" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Phone number">
                  <span *ngIf="error.phone" style="color: red;">Phone number is required</span>

                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  
                  <label for="exampleInputEmail1">Subject</label>
                  
                  <input type="text" [(ngModel)]="subject" name="subject" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Subject">
                  <span *ngIf="error.subject" style="color: red;">Subject is required</span>

                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  
                  <label for="exampleInputEmail1">Message</label>
                  <textarea id="w3review" [(ngModel)]="message" name="message" class="form-control textarea" name="w3review" rows="4" cols="50"
                    placeholder="Your message"></textarea>
                  <span *ngIf="error.message" style="color: red;">Message is required</span>

                </div>
              </div>
              <div class="col-sm-12"><button type="submit" class="btn">send message</button></div>
            </div>
          </form>
    
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contact-map">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6322370.3140736725!2d-105.0301352666953!3d39.30877276727561!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited%20States!5e0!3m2!1sen!2sin!4v1625722292678!5m2!1sen!2sin"
    width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</section>

<!------ contact us part close ----->
<app-footer></app-footer>