<app-header></app-header>
<section class="mission about">
    <div class="container">
        <div class="heading">
            <h2>about us</h2>
            <span><img src="assets/images/heading_border.png" alt="img"></span>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="mission-left">
                    <div class="mission-img">
                        <img src="assets/images/callieabout.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="about-text">
                    <!-- <h4>Welcome</h4> -->
                    <h3>Welcome To<br>Centrally Rooted</h3>
                    <p>Centrally Rooted was founded by Callie FitzGerald. Her belief is that growth, exploration, and supported discovery of self encourages the positive development of mental health. Stemming from a moral idea of self love being critical to happiness, the hope is to offer a safe and supportive community with multiple avenues of expression to grow and learn.
                    </p>
                    <!-- <a >learn more</a> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!------ about us top part close ----->

<!------ who we are part start ----->
<section class="who-we-are donation">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="about-text donation">
                    <h3>Donations</h3>
                    <p>Centrally Rooted humbly and gratefully accepts any donations to help promote our
                        mission and support our scholarship fund. Centrally Rooted is currently operating as an
                        LLC, with greater intentions of shifting into a non-profit in time. If you are making a
                        donation greater than $250 and hope to seek a donation letter for tax purposes, please
                        contact Callie. Thank you for your contribution!</p>
                        <ul>
                            <li><a href="javascript:void(0)" data-toggle="modal" data-target="#donationnow">Donations</a></li>
                            <!-- <li><a>I’m happy to donate free of tax exemption</a></li>
                            <li><a>I would like to donate with the fiscal partnership</a></li> -->
                        </ul>
                    <!-- <a >Donate</a> -->
                </div>
            </div>
            <div class="col-sm-6">
                <div class="donation-img">
                    <img src="assets/images/donation_img.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section> 
<!------ who we are part close ----->

<!------ who we are part start ----->
<!-- <section class="who-we-are">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="about-text">
                    <h4>WHO WE ARE</h4>
                    <h3>Meet Our<br>Centrally Rooted Team</h3>
                    <p>Etiam scelerisque nec elit ac efficitur. Duis vestibulum magna
                        amet ante gravida malesuada. Nunc gravida dui scelerisque
                        libero venenatis hendrerit vestibulum euismod, lacus.</p>
                    <a >learn more</a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="who-right">
                    <ul>
                        <li><img src="assets/images/about_img1.png" alt=""></li>
                        <li><img src="assets/images/about_img2.png" alt=""></li>
                    </ul>
                    <ul class="mar-top">
                        <li><img src="assets/images/about_img3.png" alt=""></li>
                        <li><img src="assets/images/about_img4.png" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>  -->
<!------ who we are part close ----->

<!------ policies part start ----->
<!-- <section class="testimonials policies">
    <div class="container">
        <h3>Policies</h3>
        <p>No food or drink in the studio space. If you have water and need a drink, please excuse yourself to your
            locker to refresh. No photography of any child other than your own. Be mindful of the privacy of others
            (even in the background of photos).
        </p>
    </div>
</section> -->

<app-donation></app-donation>
<app-footer></app-footer>