 <!------ top nav part Start --> 
 <div class="top-nav">
    <a href=""><img src="assets/images/logo.png" alt="logo"></a>
     
    <div class="right-head-div">
        <div class="dropdown">
           <span><img src="{{image?image:'assets/images/user_img.png'}}"></span>
           <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <h3 style="text-transform: capitalize">{{name}}</h3>
           </button>
           <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" (click)="logout()">Logout
              </a>
               
           </div>
        </div>
    </div>
 </div>
 <!------ top nav part close --> 