
      <main class="incident-report">
        <!------ top nav part Start --> 
        <app-adminheader></app-adminheader>
        <!------ top nav part close --> 
        <div class="container-fluid">
           <div class="row">
             <!--Sidebar-->
             <app-sidebar></app-sidebar>
              <div class="right-main">
                 <div class="right-main-inn">			 
                    <div class="dashboard-main-div">
                      <div class="row">
                       <div class="col-md-12">
                         <div class="class-top">
                           <h3>Users</h3>
                            
                              <div class="dashboard-right-top-div">
                                <form (submit)="searchUsers($event)">
                                   <div class="search-div">
                                       <input type="text"  [(ngModel)]="searchText" name="searchText" class="input-control search-input" placeholder="Search"><i class="fa fa-search" aria-hidden="true"></i>
                                    </div>
                                </form>  
                             </div>
                             
                         </div>
                         <app-siteloader></app-siteloader>
                         <div class="recent-booking class dashboard-table-outer">	
                           <table class="table">
                             <thead>
                               <tr *ngIf="UsersArray.length > 0">
                                 <th scope="col">S.No</th>
                                 <th scope="col">Image</th>	
                                 <th scope="col">Name</th> 
                                 <th scope="col">Email</th>
                                 <th scope="col">Phone Number</th>
                                 
                               </tr>
                             </thead>
                             <tbody>
                                <tr *ngFor="let usersList of UsersArray let i=index;">
                                    <td scope="row">{{i + 1 * Index}}</td>	
                                    <td>
                                        <div class="category-image">
                                           <img src="{{baseurls}}{{usersList.image}}">
                                        </div>
                                    </td>
                                    <td>{{usersList.name}}</td>
                                    <td>{{usersList.email}}</td>
                                    <td>{{usersList.phone}}</td>
                                </tr>    
                                
                             </tbody>
                           </table>
                           <div class="norecordfound" *ngIf="norecordfound" style="color:red">*No Record Found!</div>

                           <mat-paginator *ngIf="totalUsersArray.length > 10"
                            [length]="this.totalUsersArray.length" [pageSize]="pageSize"
                            [pageSizeOptions]="pageSizeOptions" (page)="OnPageEvent($event)">
                          </mat-paginator>
                         </div>
                       </div>  
                      </div><!-- row -->
                  </div><!-- dashboard-main-div -->
           </div>
        </div>
        </div>
        </div>
     </main>
     
