<app-header></app-header>
<div class="container">
    <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Teachers</button> -->
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">User Name</th>
                <!-- <th scope="col">Status</th> -->
                <th scope="col">Class Type</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let post of bookingArray; let i=index;">
                <td scope="row">{{i +1}}</td>
                <td>{{post.classes.title}}</td>
                <td>{{post.user.name}}</td>
                <td><span *ngIf="post.classes.class_type == 2">Group Class</span><span *ngIf="post.classes.class_type == 1">One to One class</span></td>
                <!-- <td></td> -->

                <!-- <td>
                    <label class="switch">
                        <input (change)="changeStatus(post,$event)" type="checkbox" [checked]="post.status">
                        <span class="slider round"></span>
                    </label>
                </td> -->
                <td *ngIf="post.status == 0"><span class="btn btn-danger"  (click)="updateData(post.id)" >Cancel</span></td>
                <td *ngIf="post.status == 1"><span class="btn btn-danger" class="btn btn-info btn-sl" >Cancelled</span></td>
            </tr>
            <!-- <tr>
                <td scope="row">2</td>
                <td>Jacob</td>
                <td>Thornton</td>
            </tr> -->
        </tbody>
    </table>
</div>