@import '../../../../node_modules/primeng/resources/themes/saga-blue/theme.css';
@import '../../../../node_modules/primeng/resources/primeng.min.css';
@import '../../../../node_modules/primeicons/primeicons.css';
 

.music-inner .p-datepicker table td > span.p-highlight {
    background: #E3F2FD;
    color: #000;
}

.music-inner .p-datepicker table td > span{
    pointer-events: unset;
}


.music-inner .p-datepicker table td > span {
    background: none;
    color: #000;
}

.music-inner .p-datepicker table td.ng-star-inserted:not(.cactive) > span {
    color: #d7d7d7;
    pointer-events: none;
}
.music-inner .p-datepicker table td.ng-star-inserted.cactive{
    font-weight: bold;
}

.custom-file-upload-inner{
    position: relative;
    border: none !important;
    margin: 10px auto auto;
}

span.close-sb {
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: unset !important;
}

span.close-sb i.fa-minus-circle{
    font-size: 28px;color: red;
}
.today-session,.today-session li{
    margin-bottom: unset;
   
        display: flex;
        justify-content: space-evenly;
    
}


label.custom-file-upload.form-control {
    width: max-content;
    padding: 10px 20px 30px 20px;
}

.upload-image-music {
    font-size: 14px;
    color: #242424;
    margin: 0;
    
}

.upload-image-music input[type="file"]{
 display: none;   
}

.cst-mindfull-schedule-title {
    font-size: 16px;
    color: #242424;
    margin-bottom: 20px;
}
.upload-image-music{
        cursor: pointer;
        background: #ddd;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;
        margin-right: 25px;
}

.upload-image-music img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}


.recent-booking.class.my-music.dashboard-table-outer tbody tr td span.error.alert {
    float: left;
    padding: unset;
    margin: unset;
    color: #ea0808
}