<main class="incident-report">
	<!------ top nav part Start -->
	<app-adminheader></app-adminheader>
	<!------ top nav part close -->
	<div class="container-fluid">
		<div class="row">
			<!--Sidebar-->
			<app-sidebar></app-sidebar>
			<div class="right-main">
				<div class="right-main-inn">
					<div class="dashboard-main-div">
						<div class="row">
							<div class="col-md-12">
								<div class="class-top">
									<h3>Mindful Musicians Music</h3>
									<h4 class="cst-mindfull-schedule-title">October 4 - December 3 Schedule</h4>

									<!-- <div class="dashboard-right-top-div">
								 <div class="search-div"><input type="text" class="input-control search-input" placeholder="Search" name=""><i class="fa fa-search" aria-hidden="true"></i></div>							 
							  </div>					 -->
								</div>
								<app-siteloader></app-siteloader>
								<div class="recent-booking class my-music dashboard-table-outer">
									<!-- <div class="music-inner"> -->
									<!-- <div class="music-calender">
							    <p-calendar (onSelect)="selectDate($event)"  class="singledate"  [(ngModel)]="date1" name="dates"  [inline]="true" 
								 ></p-calendar>
							  </div> -->

									<table class="table">
										<thead>
											<tr>
												<th scope="col">Image</th>
												<th scope="col">Name</th>
												<th scope="col">Music</th>
												<th scope="col">Action</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let post of musicArray; let i=index;">
												<td><label class="upload-image-music"><img _ngcontent-qnc-c68=""
															src="{{post.image?baseurls+post.image:'assets/images/week-img.png'}}"
															alt="img"><input (change)="onChange($event)" type="file" (click)="onChangeMusicnameInput($event)"
															class="form-control" value=""></label>
													<input type="hidden" value="{{post.image}}"
														class="form-control musicimage">
														<input type="hidden" 
														class="form-control musicid" value="{{post.id}}">
												</td>
												<td class="music-name-td" style="width: 300px;"><input type="text" value="{{post.name}}"
														class="form-control musicname">
													<span class="error alert"></span>
													
												</td>
												<td class="music-td">
													<div *ngIf="post.file == ''" class="today-session">
														<ul>
															<li>
																<div name="upload_music_loader_app"
																	class="upload_music_loader_app"
																	style="z-index: 2147483647;display: none; background: transparent; border: 0px none transparent; overflow: hidden auto; visibility: visible; margin: 0px; padding: 0px; -webkit-tap-highlight-color: transparent; left: 0px; top: 0px; width: 100%; height: 100%;text-align: center;">
																	<i class="fa fa-spinner fa-spin"
																		style="font-size:24px;padding:10px"></i>
																</div>
																<label for="file-upload"
																	class="custom-file-upload form-control"   (click)="validationMusicName($event)"> <i
																		class="fas fa-upload"></i> Upload Music<input (click)="fileUploadMusicInput($event)"
																		 value=""
																		id="file-upload" type="file"
																		class="fileupload" (change)="fileUpload($event)"></label>
															</li>
														</ul>
													</div>
													<label *ngIf="post.file != ''"
														class="custom-file-upload custom-file-upload-inner">

														<audio controls>

															<source src="{{baseurls}}{{post.file}}" type="audio/mpeg">
															Your browser does not support the audio element.
														</audio>

														<span class="close-sb" (click)="removeMusic($event,post.id,'')"
															style="cursor: pointer;"><i class="fa fa-minus-circle"
																style="color:#738c72"></i></span>

													</label>
													<input type="hidden" class="musichiddenfield"
														value="{{post.file}}" />
														<span class="error alert"></span>
												</td>

												<td><button class="view removeclonemusic"
														(click)="removeMusic($event,post.id,'removerow')"><i
															class="fas fa-trash"></i></button>

												</td>
											</tr>
											<tr>
												<td><label class="upload-image-music deft"><img _ngcontent-qnc-c68=""
															src="assets/images/week-img.png" alt="img"><input
															(change)="onChange($event)"  (click)="onChangeMusicnameInput($event)" type="file"
															class="form-control" value=""></label></td>
												<td class="music-name-td" style="width: 300px;"><input type="text" name="name" [(ngModel)]="name"
														class="form-control name musicname">
													<span class="error alert"></span>
												</td>
												<td class="music-td">
													<div class="today-session">
														<ul>
															<li>
																<div name="upload_music_loader_app"
																	class="upload_music_loader_app"
																	style="z-index: 2147483647;display: none; background: transparent; border: 0px none transparent; overflow: hidden auto; visibility: visible; margin: 0px; padding: 0px; -webkit-tap-highlight-color: transparent; left: 0px; top: 0px; width: 100%; height: 100%;text-align: center;">
																	<i class="fa fa-spinner fa-spin"
																		style="font-size:24px;padding:10px"></i>
																</div>



																<label for="file-upload"
																	class="custom-file-upload form-control"   (click)="validationMusicName($event)"> <i
																		class="fas fa-upload"></i> Upload Music<input (click)="fileUploadMusicInput($event)"
																		  value=""
																		id="file-upload" type="file"
																		class="fileupload" (change)="fileUpload($event)"></label>
															</li>
														</ul>
													</div>
													<span class="error alert"></span>
												</td>

												<td><button class="view addclonemusic" (click)="uploadMusicValidation($event)"><i
															class="fas fa-plus"></i></button>

												</td>
											</tr>




										</tbody>
									</table>

									<mat-paginator *ngIf="totalmusicArray.length > 10" [length]="this.totalmusicArray.length" [pageSize]="pageSize"
										[pageSizeOptions]="pageSizeOptions" (page)="OnPageEvent($event)">
									</mat-paginator>

									<!--<div class="today-session" >
								<h4>Sessions {{todayDay | date}}</h4>
								 <ul>
								   <li>
									 <h3>{{""}}</h3>
									  <label  for="file-upload" class="custom-file-upload">
										<i class="fas fa-upload"></i> Upload Music
										<input id="file-upload" type="file" (change)="fileUpload($event,'')">
									  </label>
									  <label  for="file-upload" class="custom-file-upload custom-file-upload-inner">
									 
										 <audio controls>
 
											 <source src="{{baseurls}}{{'po.document'}}" type="audio/mpeg">
											 Your browser does not support the audio element.
										   </audio>
										   <span class="close-sb" (click)="removeMusic($event,'')" style="cursor: pointer;"><i class="fa fa-minus-circle" ></i></span>
									   </label>
									  
								   </li>
								 
								 </ul>
							   </div>-->
								</div>
							</div>

						</div><!-- row -->
					</div><!-- dashboard-main-div -->
					<br>
				</div>
			</div>
		</div>
	</div>
</main>