<main class="incident-report">
	<!------ top nav part Start -->
	<app-adminheader></app-adminheader>
	<!------ top nav part close -->
	<div class="container-fluid">
		<div class="row">
			<!--Sidebar-->
			<app-sidebar></app-sidebar>
			<div class="right-main">
				<div class="right-main-inn">
					<div class="dashboard-main-div">
						<div class="row">
							<div class="col-md-12">
								<div class="class-top">
									<h3>Manage Booking</h3>
									<div class="dashboard-right-top-div">
										<form (submit)="searchBookings($event)">
											<div class="search-div">
												<input type="text" [(ngModel)]="searchText" name="searchText"
													class="input-control search-input" placeholder="Search"><i
													class="fa fa-search" aria-hidden="true"></i>
											</div>
										</form>
									</div>
								</div>
								<app-siteloader></app-siteloader>
								<div class="recent-booking class manage-booking dashboard-table-outer">
									<table class="table">
										<thead>
											<tr *ngIf="recentBookings.length > 0">
												<th scope="col">Sr.No.</th>
												<th scope="col">Class</th>
												<th scope="col">Category</th>
												<th scope="col">Number Of Users</th>
												<th scope="col">Booked By</th>
												<th scope="col">Amount</th>
												<th scope="col">Date & Time</th>
												<th scope="col">Action</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let bookings of recentBookings; let i=index;">
												<td scope="row">{{ i + 1 * Index}}</td>
												<td>{{bookings.classes.title}}</td>
												<td>{{bookings.categoriesData.name}}</td>
												<td>{{bookings.number_of_users}}</td>
												<td>{{bookings.user.name}}</td>
												<td>{{bookings.amount > 0 ?'$'+bookings.amount:'N/A'}}</td>
												<td>{{bookings.classes.start_date | date}} &
													{{formatTime(bookings.classes.start_time)}} to
													{{formatTime(bookings.classes.end_time)}}</td>

												<td style="display: flex;"><button (click)="viewBookings(bookings)"
														class="view" data-toggle="modal" data-target="#view-class"><i
															class="far fa-eye"></i></button><button
														*ngIf="bookings.categoriesData.stype != 1" class="edit"
														data-toggle="modal" data-target="#edit-class"
														(click)="updateData(bookings,bookings.id)"><i
															class="fas fa-toggle-on"></i></button></td>
											</tr>

										</tbody>
									</table>
									<div class="norecordfound" *ngIf="norecordfound" style="color:red">*No Record Found!
									</div>

									<mat-paginator *ngIf="totalrecentBookings.length > 10"
										[length]="this.totalrecentBookings.length" [pageSize]="pageSize"
										[pageSizeOptions]="pageSizeOptions" (page)="OnPageEvent($event)">
									</mat-paginator>

								</div>
							</div>

						</div><!-- row -->
					</div><!-- dashboard-main-div -->
				</div>
			</div>
		</div>
	</div>
</main>

<!-- create class popup start -->
<!-- Add payment method Modal -->
<div class="modal fade" id="create-class" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Edit Booking</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="row">

						<div class="col-sm-12">
							<div class="form-group">
								<label for="exampleInputEmail1">Name</label>
								<input type="email" class="form-control" id="exampleInputEmail1"
									aria-describedby="emailHelp" placeholder="John Smith">
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<label for="exampleInputEmail1">Class Name</label>
								<input type="email" class="form-control" id="exampleInputEmail1"
									aria-describedby="emailHelp" placeholder="Mindful Musicians">
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<label for="exampleInputEmail1">Date</label>
								<input type="date" class="form-control" id="exampleInputEmail1"
									aria-describedby="emailHelp" placeholder="Mindful Musicians">
								<span class="calender-icon"><i class="far fa-calendar-alt"></i></span>
							</div>
						</div>

						<div class="col-sm-12">
							<div class="form-group">
								<label for="exampleInputEmail1">Time</label>
								<div class="from-time">
									<input type="email" class="form-control" id="exampleInputEmail1"
										aria-describedby="emailHelp" placeholder="12:00AM">
									<span><i class="far fa-clock"></i></span>
								</div>
								<h5 class="to">To</h5>
								<div class="from-time">
									<input type="email" class="form-control" id="exampleInputEmail1"
										aria-describedby="emailHelp" placeholder="12:00AM">
									<span><i class="far fa-clock"></i></span>
								</div>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<label for="exampleInputEmail1">Assign</label>
								<select class="form-control option-select">
									<option>John Smith</option>
								</select>

							</div>
						</div>

					</div>
					<button class="continue">Create</button>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- create class popup close -->

<!-- view class popup -->
<div class="modal fade" id="view-class" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Booking Details</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<ul>
					<li>
						<label>Class Name</label>
						<p>{{recent_bookings_data.title}}</p>
					</li>
					<li>
						<label>Category</label>
						<p>{{recent_bookings_data.categories?recent_bookings_data.categories.name:''}}</p>
					</li>

					<ng-container *ngFor="let subcat of  subcategorylistData; let i = index">
						<li
							*ngIf="subcat.id == recent_bookings_data.subCategories_id && subcat.cat_type == recent_bookings_data.categories_id">
							<label>SubCategory</label>
							<p>

								{{subcat?subcat.subcat_name:''}}

							</p>
						</li>
					</ng-container>
					<li>
						<label>Number Of Users</label>
						<p>{{recent_bookings_data.numberOfUsers}}</p>
					</li>
					<li>
						<label>{{recent_bookings_data.categories_id == 1?'Start Date':'Date'}}</label>
						<p>{{recent_bookings_data.start_date | date}}</p>
					</li>
					<li>
						<label>Time</label>
						<p>{{formatTime(recent_bookings_data.start_time)}} to
							{{formatTime(recent_bookings_data.end_time)}}</p>
					</li>

					<li>
						<label>Tutor</label>
						<p>{{recent_bookings_data.teachers_name?recent_bookings_data.teachers_name:''}}</p>
					</li>



					<li>
						<label>Price</label>
						<p>{{recent_bookings_data.amount > 0?'$'+recent_bookings_data.amount:'N/A'}}</p>
					</li>

					<li>
						<label>Name of Child(ren)</label>
						<p>{{recent_bookings_data.individual+(recent_bookings_data.issiblingsData?',':'')}}
							<ng-container *ngFor="let sibling of recent_bookings_data.siblingsData">{{sibling}}
							</ng-container>
						</p>
					</li>


					<li class="more-session" *ngIf="sessionDatearray.length > 0"><label>{{recent_bookings_data.stype ==
							1?'All Available Sessions (In Current Billing Cycle)':'All Sessions'}}</label>
						<div class="row">
							<div class="col-sm-4" *ngFor="let sessionDate of sessionDatearray">
								<div class="session-box">
									{{sessionDate | date }}
									<p>{{formatTime(recent_bookings_data.start_time)}} to
										{{formatTime(recent_bookings_data.end_time)}}</p>
								</div>
							</div>

						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- view class popup -->


<div class="modal fade mangaebooking-pop" id="edit-class" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Edit Booking</h5>
				<button type="button" class="close" data-dismiss="modal" id="closeThepopup" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form novalidate [formGroup]="myGroup">
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label>Name of Child(ren)</label>
								<p>{{recent_bookings_data.individual+(recent_bookings_data.issiblingsData?',':'')}}
									<ng-container *ngFor="let sibling of recent_bookings_data.siblingsData">{{sibling}}
									</ng-container>
								</p>
							</div>
						</div>




						<div class="col-sm-12 d-none">
							<div class="form-group">
								<label for="exampleInputEmail1">Tutor assigned</label>
								<select formControlName="teacher" [(ngModel)]="teacher" name="teacher"
									class="form-control option-select" (change)="selecttutor($event)">
									<option value="">--Select--</option>
									<option *ngFor="let data of TeachersArray" value="{{data.id}}">
										{{data.name}}
									</option>
								</select>
								<div *ngIf="myGroup.controls['teacher'].touched" class="rerror">
									<div *ngIf="myGroup.controls['teacher'].errors?.required"
										class="alert alert-danger">
										Tutor is required
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-12">
							<div class="form-group">
								<label for="exampleInputEmail1">{{categories == 1?'Start Date':'Date'}}</label>

								<p-calendar (onSelect)="selectDate($event)"  class="form-control singledate" name="start_date"
									inputId="basic"  formControlName="start_date" [(ngModel)]="start_date" placeholder="Select Date" [readonlyInput]="true"></p-calendar>

									 

								<!-- <input formControlName="start_date" type="date" class="form-control calender start_date"
									(change)="selectDate($event)" name="start_date" [(ngModel)]="start_date"> -->

								<div *ngIf="myGroup.controls['start_date'].touched" class="rerror">
									<div *ngIf="myGroup.controls['start_date'].errors?.required"
										class="alert alert-danger">
										Date is required
									</div>
								</div>
							</div>
						</div>

						<!-- <div class="col-sm-12">
							<div class="form-group">
								<label for="exampleInputEmail1">Time</label>
								<div class="from-time">
									<input formControlName="start_time" type="time" class="form-control"
										[(ngModel)]="start_time" name="start_time" (change)="selecttime($event)">
									<div *ngIf="myGroup.controls['start_time'].touched" class="rerror">
										<div *ngIf="myGroup.controls['start_time'].errors?.required"
											class="alert alert-danger">
											Start time is required
										</div>
									</div>
								</div>
								<h5 class="to">To</h5>
								<div class="from-time">
									<input formControlName="end_time" type="time" class="form-control"
										[(ngModel)]="end_time" name="end_time" (change)="selecttime($event)">

									<div *ngIf="myGroup.controls['end_time'].touched" class="rerror">
										<div *ngIf="myGroup.controls['end_time'].errors?.required"
											class="alert alert-danger">
											End time is required
										</div>
									</div>
								</div>
							</div>
						</div> -->

						<div class="col-sm-12">
							<div class="select-class book-slot form-group" *ngIf="formatedTimeSlot1[0]">
								<label>Select Class</label>
								<ul class="row">
									
									<li *ngFor="let slot of formatedTimeSlot1; let i=index;" class="ng-star-inserted time-slot {{i+1 > showtotaldefaultslot?'hide':''}} col-sm-4" style="cursor: pointer;" (click)="getclassbyslot(classidArray[i],classNameArray[i])">
									<div class="more-slot">
										
										<label class="mind {{classDate[i] && category_id == 1?'classdate':''}}">
											<span
										class="class-name d-none">{{classNameArray[i]?classNameArray[i]:''}}</span>
											<input type="hidden"  class="class_id_slot" value="{{classidArray[i]?classidArray[i]:''}}">
											<input type="radio" checked="{{ i == 0?'checked':''}}" class="radio_slot"
												 value="{{slot?slot:''}}"><span
												class="checkmark" style="padding: 8px;">
												<p style="font-size:13px"><i class="far fa-clock"></i>&nbsp;{{slot?slot:''}}
												</p>
											</span>
										</label>
										</div>
									</li>

									
									
								</ul>
		
								<input type="hidden" name="class_id"  value="{{classidval?classidval:classidArray[0]}}">
								<input type="hidden" name="radio_slot" value="{{slotval?slotval:formatedTimeSlot1[0]}}">
		
		
								<div class="show-more" *ngIf="formatedTimeSlot1.length > showtotaldefaultslot">
									<button (click)="showmoreSlot($event)">Show More</button>
								</div>
							</div>
		


						</div>



						<div class="col-sm-12">
							<div class="form-group">
								<label for="exampleInputEmail1">Class Name</label>
								<input type="text" formControlName="title" class="form-control" name="title"
									[(ngModel)]="title" placeholder="Enter Class Name" readonly>

								<div *ngIf="myGroup.controls['title'].touched" class="rerror">
									<div *ngIf="myGroup.controls['title'].errors?.required" class="alert alert-danger">
										Class Name is required
									</div>
								</div>
							</div>
						</div>


						<div class="col-sm-12" *ngIf="classexit">
							<div class="form-group">
								<div class="rerror classexit_error">

									<div class="alert alert-danger">Class already exists for selected tutor and time!
									</div>
								</div>
							</div>
						</div>


						<div class="col-sm-12 d-none">
							<div class="form-group">
								<label>Users limit</label>

								<input formControlName="users_limit" type="number" [(ngModel)]="users_limit"
									placeholder="Enter Users Limit" name="users_limit" class="form-control" min="1">
								<div *ngIf="myGroup.controls['users_limit'].touched" class="rerror">
									<div *ngIf="myGroup.controls['users_limit'].errors?.required"
										class="alert alert-danger">
										Users limit is required
									</div>
								</div>
							</div>
						</div>


					</div>

					<div  class="error-msg">
					
					</div>

					<button (click)="UpdateBooking($event)" class="continue"
						disabled="{{submitdisable?'true':''}}">Update</button>
				</form>
			</div>
		</div>
	</div>
</div>

