@import '../../../../node_modules/primeng/resources/themes/saga-blue/theme.css';
@import '../../../../node_modules/primeng/resources/primeng.min.css';
@import '../../../../node_modules/primeicons/primeicons.css';


button.booking-status {
    border: #708a6f;
    background: #708a6f;
    color: #ffffff;
    border-radius: 3px;
}


.select-class li.time-slot {
   
    margin: 20px 20px 0px 0px;
   
}


ul li.more-session ul li {
    display: inline-block !important;
    width: 33%;
}

.more-session li p{
    font-size: 14px !important;
}

#view-class li.more-session label {
    padding: 12px 0px;
    font-size: 15px;
}


.error-msg#show {
    background: #f443365c;
    padding: 10px;
    border-radius: 10px;
}

.time-slot .more-slot{
    width: max-content;
}