<app-header></app-header>


<!------ rooted private lesson page start ----->
<section class="booking-main music-therapy rooted-lesson">
    <div class="container">
    <div class="heading">
          <h2>Rooted Private Lessons</h2>
         <span><img src="assets/images/heading_border.png" alt="img"></span>
       </div>
       <section class="music-therapy-top">
       <div class="row">
         <div class="col-sm-5">
           <div class="mission-left">
            <div class="mission-img">
             <img src="assets/images/rooted_lesson.png" alt="">
           </div>
          </div>
         </div>
         <div class="col-sm-7">
           <div class="music-therapy-right">
             <p>Private music lessons are not only a way to assist your child in their development of music and finding a creative outlet, but can also make deep impressions on their development of confidence and self. <br><br>

                Currently, Rooted lessons offer piano, voice, guitar, and ukulele for 30 minutes or 60 minutes weekly. Inquire today to get on the waiting list to start lessons ASAP.<br><br>
                
                We aim to hold 3 recitals throughout a calendar year and view these events as great opportunities for the students to work toward a musical goal through their own discipline, showcase their talents for their families, and ultimately impact their developing confidence in themselves. They are not required, but strongly encouraged. </p>
             <div class="one-one">
                 <h3>Pricing</h3>
               <ul>
                 <li>
                    30 minute weekly lessons: $25/lesson ($100 or $125/month)<br>
                    60 minute weekly lessons: $50/lesson ($200 or $250/month)                
                    </li>             
                  <button  data-toggle="modal" data-target="#donationnow">Inquire Here</button>
               </ul>
             </div>
           </div>
         </div>
       </div>
       </section>
    </div>
  </section>

  
  <section class="benefits-music-therapy expectations rooted-private">
    <div class="container">
     <div class="benefits-music-therapy-left">
      <div class="heading">
        <h2>Expectations</h2>
       <span><img src="assets/images/heading_border.png" alt="img"></span>
     </div>
     <p>
      Private lessons are a commitment and are anticipated to be a long term investment. Students are held accountable in their practicing 4x/week for 20 min each practice. They are also to keep track of their books and notebooks, bringing them back week to week.  Throughout a calendar year, students are allowed 3 excused absences and any further absences are to be paid in full.  Caregivers will be provided studio policies upon enrollment and payments for each month are due by the first lesson of the month. For your convenience, you may choose to enroll in a recurring payment system. 
      </p>
     </div>
     <div class="benefits-music-therapy-right">
       <img src="assets/images/zoey_website.png">
     </div>
     </div>
  </section>



  <!-- <section class="expectations">
    <div class="container">
        <div class="heading">
            <h2>Expectations</h2>
           <span><img src="assets/images/heading_border.png" alt="img"></span>
         </div>
         <p>
            Private lessons are a commitment and are anticipated to be a long term investment. Students are held accountable in their practicing 4x/week for 20 min each practice. They are also to keep track of their books and notebooks, bringing them back week to week.  Throughout a calendar year, students are allowed 3 excused absences and any further absences are to be paid in full.  Caregivers will be provided studio policies upon enrollment and payments for each month are due by the first lesson of the month. For your convenience, you may choose to enroll in a recurring payment system. 
            </p>
    </div>
    </section> -->

  <section class="testimonials">
    <div class="container">
        <h3>Testimonials</h3>
          <p>“My seven year old son has been taking guitar lessons with Callie for two years. Their relationship has been amazing-personable, fun, and understanding. When Caleb is finished with lessons, he is in a much better mood, excited about having his lessons, and being with Callie.  Even though my son is only seven she keeps giving him new challenges and makes it so he is successful. I highly recommend anyone to get <br>involved in a class with Callie.”</p>
          <h4>- Melissa Roller</h4> 
    </div>
</section>

<!------ rooted private lesson page close ----->
 <!-- inquire popup -->
<app-inquiry></app-inquiry>
<app-footer></app-footer>