
input.ng-invalid{
    border-left:5px solid red;
}

input.ng-valid{
    border-left:5px solid green;
}

.error{
    color:red;
}

#alert-div{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -15px;
}

#add-tutor .alert, #edit-tutor .alert{
    position: unset;
}