<main class="incident-report">
	<!------ top nav part Start -->
	<app-adminheader></app-adminheader>
	<!------ top nav part close -->
	<div class="container-fluid">
		<div class="row">
			<!--Sidebar-->
			<app-sidebar></app-sidebar>
			<div class="right-main">
				<div class="right-main-inn">
					<div class="dashboard-main-div">
						<div class="row">
							<div class="col-md-12">
								<div class="class-top">
									<h3>Tutors</h3>

									<div class="dashboard-right-top-div">
										<form (submit)="searchTeachers($event)">
											<div class="search-div">
												<input type="text" [(ngModel)]="searchText" name="searchText"
													class="input-control search-input" placeholder="Search"><i
													class="fa fa-search" aria-hidden="true"></i>
											</div>
										</form>
										<button data-toggle="modal" data-target="#add-tutor"
											(click)="addTutor($event)">Add Tutors </button>
									</div>

								</div>
								<app-siteloader></app-siteloader>

								<div class="recent-booking class dashboard-table-outer">
									<table class="table">
										<thead>
											<tr *ngIf="TeachersArray.length > 0">
												<th scope="col">S.No</th>
												<th scope="col">Tutor Name </th>
												<th scope="col">Phone Number</th>
												<th scope="col">City</th>
												<th scope="col">State</th>
												<th scope="col">Zip code</th>
												<th scope="col">Street Address</th>
												<!-- <th scope="col">Status</th> -->
												<th scope="col">Action</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let teachersList of TeachersArray let i=index;">
												<td scope="row">{{i +1 * Index}}</td>
												<td>{{teachersList.name}}</td>
												<td>{{teachersList.phone_number}}</td>
												<td>{{teachersList.city}}</td>
												<td>{{teachersList.state}} </td>
												<td>{{teachersList.zip_code}} </td>
												<td>{{teachersList.street_address}}</td>
												<!-- <td>
									<label class="switch">
										<input (change)="changeStatus(teachersList,$event)" type="checkbox" [checked]="teachersList.status">
										<span class="slider round"></span>
									</label>
								    </td>	 -->
												<td>
													<button (click)="deleteTeacher(teachersList.id)" class="view"><i
															class="fas fa-trash"></i></button>
													<button
														(click)="updateData(teachersList.name,teachersList.phone_number,teachersList.city,teachersList.state,teachersList.zip_code,teachersList.street_address,teachersList.id)"
														class="edit" data-toggle="modal" data-target="#add-tutor"><i
															class="fas fa-pencil-alt"></i></button>
												</td>
											</tr>
										
										</tbody>
									</table>
    <div class="norecordfound" *ngIf="norecordfound" style="color:red">*No Record Found!</div>

									<mat-paginator *ngIf="totalTeachersArray.length > 10"
										[length]="this.totalTeachersArray.length" [pageSize]="pageSize"
										[pageSizeOptions]="pageSizeOptions" (page)="OnPageEvent($event)">
									</mat-paginator>
								</div>
							</div>

						</div><!-- row -->
					</div><!-- dashboard-main-div -->
				</div>
			</div>
		</div>
	</div>
</main>


<!-- Add tutor popup -->
<div class="modal fade" id="add-tutor" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Add tutors </h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form novalidate [formGroup]="myGroup">
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label for="exampleInputEmail1">Tutor Name </label>
								<input formControlName="teacherName" type="text" class="form-control"
									placeholder="Enter name" name="teacherName" [(ngModel)]="teacherName" required />
								<div *ngIf="myGroup.controls['teacherName'].touched" class="rerror">
									<div *ngIf="myGroup.controls['teacherName'].errors?.required"
										class="alert alert-danger">
										Tutor Name is required
									</div>
								</div>
							</div>
						</div>




						<div class="col-sm-12">
							<div class="form-group">
								<label for="exampleInputEmail1">Phone Number</label>
								<input type="text" formControlName="phoneNumber"
									onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"
									class="form-control" [(ngModel)]="phoneNumber" name="phoneNumber"
									placeholder="Enter phone number" required>
								<div *ngIf="myGroup.controls['phoneNumber'].touched" class="rerror">
									<div *ngIf="myGroup.controls['phoneNumber'].errors?.required"
										class="alert alert-danger">
										Phone Number is required
									</div>
								</div>
							</div>
						</div>


						<div class="col-sm-12">
							<div class="form-group">
								<label for="exampleInputEmail1">City</label>
								<input type="text" formControlName="city" class="form-control" [(ngModel)]="city"
									name="city" placeholder="Enter city" required>
								<div *ngIf="myGroup.controls['city'].touched" class="rerror">
									<div *ngIf="myGroup.controls['city'].errors?.required" class="alert alert-danger">
										City is required
									</div>
								</div>
							</div>
						</div>



						<div class="col-sm-6">
							<div class="form-group">
								<label for="exampleInputEmail1">State</label>
								<input type="text" formControlName="state" class="form-control" [(ngModel)]="state"
									name="state" placeholder="Enter state" required>
								<div *ngIf="myGroup.controls['state'].touched" class="rerror">
									<div *ngIf="myGroup.controls['state'].errors?.required" class="alert alert-danger">
										State is required
									</div>
								</div>
							</div>
						</div>


						<div class="col-sm-6">
							<div class="form-group">
								<label for="exampleInputEmail1">Zip Code</label>
								<input type="text" formControlName="zipCode" class="form-control" [(ngModel)]="zipCode"
									name="zipCode" placeholder="Enter zipcode" required>
								<div *ngIf="myGroup.controls['zipCode'].touched" class="rerror">
									<div *ngIf="myGroup.controls['zipCode'].errors?.required"
										class="alert alert-danger">
										Zip Code is required
									</div>
								</div>
							</div>
						</div>


						<div class="col-sm-12">
							<div class="form-group">
								<label for="exampleInputEmail1">Street Address</label>
								<textarea formControlName="streetAddress" class="form-control textarea"
									[(ngModel)]="streetAddress" name="streetAddress" rows="4" cols="50"
									placeholder="Enter address" required></textarea>
								<div *ngIf="myGroup.controls['streetAddress'].touched" class="rerror">
									<div *ngIf="myGroup.controls['streetAddress'].errors?.required"
										class="alert alert-danger">
										Street Address is required
									</div>
								</div>
							</div>
						</div>

					</div>
					<button class="continue" (click)="saveTeacher($event)"
						disabled="{{submitdisable?'true':''}}">Save</button>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- Add tutor popup -->

<!-- view tutor popup -->
<div class="modal fade" id="view-tutor" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Tutor detail</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<ul>
					<li>
						<label>Tutor Name </label>
						<p>Callie Mescher</p>
					</li>
					<li>
						<label>Phone Number</label>
						<p>+86-316-2430087</p>
					</li>
					<li>
						<label>City</label>
						<p>Anchorage</p>
					</li>
					<li>
						<label>State</label>
						<p>Alaska</p>
					</li>
					<li>
						<label>Zip code</label>
						<p>99501</p>
					</li>
					<li>
						<label>Street Address</label>
						<p>1283 Martin Rd, Apollo, PA, 15613</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- view tutor popup -->

<!-- edit tutor popup -->
<div class="modal fade" id="edit-tutor" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Edit tutors</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label for="exampleInputEmail1">Tutor Name </label>
								<input type="email" class="form-control" id="exampleInputEmail1"
									aria-describedby="emailHelp" placeholder="">
								<div *ngIf="myGroup.controls['teacherName'].touched" class="rerror">
									<div *ngIf="myGroup.controls['teacherName'].errors?.required"
										class="alert alert-danger">
										Tutor Name is required
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<label for="exampleInputEmail1">Phone Number</label>
								<input type="tel" class="form-control" id="phone" name="phone" [(ngModel)]="phoneNumber"
									placeholder="">
								<div *ngIf="myGroup.controls['teacherName'].touched" class="rerror">
									<div *ngIf="myGroup.controls['teacherName'].errors?.required"
										class="alert alert-danger">
										teacherName is required
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<label for="exampleInputEmail1">City</label>
								<input type="email" class="form-control" id="exampleInputEmail1"
									aria-describedby="emailHelp" placeholder="">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="exampleInputEmail1">State</label>
								<input type="email" class="form-control" id="exampleInputEmail1"
									aria-describedby="emailHelp" placeholder="">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="exampleInputEmail1">Zip code</label>
								<input type="email" class="form-control" id="exampleInputEmail1"
									aria-describedby="emailHelp" placeholder="">
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<label for="exampleInputEmail1">Street Address</label>
								<textarea id="w3review" class="form-control textarea" name="w3review" rows="4" cols="50"
									placeholder=""></textarea>
							</div>
						</div>
					</div>
					<button class="continue">Save</button>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- edit tutor popup -->