body {margin: 0;padding: 0;font-size: 14px;font-weight: 400;font-family: 'Montserrat', sans-serif!important;}
h1,
h2,
h3,
h4,
h5,
h6 {margin: 0;}
ul {list-style: none;padding: 0;margin: 0;}
p {margin: 0;}
a:hover {text-decoration: none;transition: .5s;}
button {transition: .8s;}
.form-control:focus {box-shadow: none;}
.container {max-width: 1360px;width: 100%;}
button:focus {outline: none;}
button {cursor: pointer;}




@font-face {
	font-family: 'Conv_ACaslonPro-Semibold';
	src: url('fonts/ACaslonPro-Semibold.eot');
	src: local('☺'), 
	url('fonts/ACaslonPro-Semibold.woff') format('woff'), 
	url('fonts/ACaslonPro-Semibold.ttf') format('truetype'), 
	url('fonts/ACaslonPro-Semibold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


.mangaebooking-pop .p-calendar {
    z-index: 99999;
    width: 100%;
    border: none;
}

.mangaebooking-pop .p-calendar input{
    border: none;

}

.mangaebooking-pop .p-datepicker table td > span {
    background: none;
    color: #000;
}

.mangaebooking-pop .p-datepicker table td.ng-star-inserted:not(.cactive) > span {
    color: #d7d7d7;
    pointer-events: none;
    background: none;

}
.mangaebooking-pop .p-datepicker table td.ng-star-inserted.cactive{
    font-weight: bold;
}


 
/*====== header part css start ==========*/ 
.header .navbar-brand{padding: 0;}
.header .navbar-brand img {max-width: 170px;}
.header {padding: 10px 0;-webkit-box-shadow: 0 0px 25px rgba(25, 25, 25, 0.1);position:relative;}
.header .navbar.navbar-expand-lg.navbar-light {padding: 0;}
.header .navbar.navbar-expand-lg.navbar-light .navbar-nav.ml-auto {padding-top: 8px;margin-right:20px;}
.header .navbar.navbar-expand-lg.navbar-light .nav-item{margin: 0 20px;}
.header .navbar.navbar-expand-lg.navbar-light .nav-link{font-size:15px;color:#242424;font-weight:500;padding:0;margin-left:0;}
.header .navbar.navbar-expand-lg.navbar-light .nav-item.cart {margin-left:25px;}
.header .navbar.navbar-expand-lg.navbar-light .nav-item.cart .nav-link:hover{border-bottom:0;}
.header .navbar.navbar-expand-lg.navbar-light .nav-item.search .nav-link:hover{border-bottom:0;}
.header .navbar.navbar-expand-lg.navbar-light .nav-item.cart .nav-link{margin-left:35px;}
.header .navbar.navbar-expand-lg.navbar-light .nav-item.search .nav-link{margin-left:35px;}
.header .navbar.navbar-expand-lg.navbar-light .nav-link.login{color:#fff;background:#738c72;border-radius:4px;border-bottom:0;
padding: 10px 0;margin-left: 20px;text-transform: uppercase;width: 110px;text-align: center;font-size: 16px;}
.header .dropdown-menu.show{top: 55px!important;right: 0;}  
.header .container{max-width: 1560px;}

/*====== header part css close ==========*/

/*====== banner part css start ==========*/
.banner{background:#ddd;overflow:hidden;height:800px;background-size:cover;}
.banner-text{text-align:center;padding:250px 0;}
.banner-text h2{font-family: 'Conv_ACaslonPro-Semibold';font-size:75px;color:#000000;line-height:85px;}
.banner-text a{font-size:17px;color:#fff;background:#489a70;border-radius:4px;text-transform:uppercase;font-weight:500;padding:15px 45px;display:inline-block;margin-top:40px;}
/*====== banner part css close ==========*/

/*====== service part css start ==========*/
.service{padding:70px 0;background:#f1eee7;}
.service-main{background:#738c72;border-radius:8px;padding:32px 25px;box-shadow: hsl(0, 0%, 80%) 0 0 15px;} 
.service-icon{background:#fff;width:95px;height:95px;border-radius:50%;text-align:center;padding:22px 0;position:relative;display: block;margin: auto;}
.service-icon::after{content:"";width:95px;height:95px;border:1px solid #ffff;display:block;border-radius:50%;position: absolute;top: -8px;left: -7px;}
.service-text{display:block;width:100%;text-align: center;margin-top: 15px;}
.service-text h3{font-size:22px;color:#fff;font-weight:500;}
.service-text p{font-size:15px;color:#fff;font-weight:400;margin:15px 0 25px;line-height:23px;}
.service-text a{color:#363a2e;font-size:15px;font-weight:500;background:#fff;border-radius:4px;padding: 10px 25px;
display: inline-block;}
/*====== service part css close ==========*/

/*====== mission part css start ==========*/
.mission{padding:50px 0;margin-bottom: 40px;}
.mission-img{background: #ddd;border-radius: 20px;overflow: hidden;height:510px;position:relative;}
.mission-img img{width: 100%; height: 100%; object-fit: cover;}
.mission-left::after{content: "";width:154px;height: 154px;background: url(../images/dot_img.png) no-repeat;position: absolute;
left: -40px;z-index:-1;bottom: -60px;}
.mission-text {padding-left: 10px;}
.mission-text .heading{text-align:left;margin-bottom:20px;}
.mission-text .heading h2{font-family: 'Conv_ACaslonPro-Semibold'!important;font-size:42px!important;text-transform:capitalize;font-weight:400!important;}
.mission-text p{font-size:15px;line-height:24px;text-align: justify;}
.mission-text p a{color: #738c72;text-decoration: underline;}
.mission-text .book-now-btn{background: #738c72;border-radius: 4px;font-size: 17px;color: #fff;text-transform: uppercase;
font-weight: 500;border: 0;display: inline-block;padding: 13px 28px;margin-top: 25px;cursor: pointer;}
.mission-text .book-now-btn:hover{color: #fff;}
/*====== mission part css close ==========*/

/*====== Bridging to home part css start ==========*/
.bridging{background:#f5f2eb;padding:60px 0;margin-top:50px;} 
.bridging .heading{margin: 0 0 30px;}
.bridging .heading h2{font-family: 'Conv_ACaslonPro-Semibold';font-size:43px;text-transform: inherit;font-weight:500;}
.bridging p{font-size:18px;color:#242424;font-weight:400;text-align:center;padding:0 112px;line-height:35px;}
/*====== Bridging to home part css start ==========*/

/*====== check experience part css start ==========*/
.check-experience{padding:80px 0;}
.exp-left{background: #ddd;border-radius: 20px;overflow: hidden;}
.check-experience .exp-left button {border: 0;background: none;position: absolute;left: 0;top: 0;text-align: center;
right: 0;margin: 220px auto;}
.exp-right .heading{text-align:left;margin: 0 0 25px;}
.exp-right .heading h2{font-family: 'Conv_ACaslonPro-Semibold';font-size:43px;text-transform: inherit;font-weight:500;}
.exp-right p{font-size:16px;line-height:27px;text-align: justify;}
/*====== check experience part css close ==========*/

/*====== mission bottom part css start ==========*/
.mission-bottom{background: #f5f2eb;padding: 60px 0;}
.mission-bottom .heading{margin: 0 0 30px;}
.mission-bottom .heading h2 {font-family: 'Conv_ACaslonPro-Semibold';font-size: 43px;text-transform: inherit;font-weight: 500;}
.mission-bottom p {font-size: 18px;color: #242424;font-weight: 400;text-align: center;line-height: 33px;padding:0 55px;}
/*====== mission bottom part css start ==========*/

/*====== faq part css start ==========*/
.faq{padding:65px 0;}
.faq .heading h2 {font-family: 'Conv_ACaslonPro-Semibold';font-size: 43px;text-transform: inherit;font-weight: 500;}
.faq .card-header {background: none;padding: 0;}
.faq .btn.btn-link {width: 100%;display: block;text-align: left;font-size: 23px;color:#242424;font-weight:500;padding:0 0 15px;font-style: italic;}
.faq .btn.btn-link:hover{text-decoration:none;}
.faq .btn.btn-link:focus{text-decoration:none;box-shadow:none;}
.faq .btn.btn-link i {float: right;color: #242424;font-size:12px;background:#eef2f6;width:32px;height:32px;text-align: center;padding:10px 0;}
.faq .card{border:0;margin-bottom:15px;}
.faq .card-body{padding:15px 0;}
.faq .card-body p{font-size:15px;line-height:23px;}
.faq-right{background:#242424;padding:25px;position:relative;margin-left: 35px;}
.faq-right::after{content: "";width: 305px;height: 300px;background: url(../images/globe.png) no-repeat;position: absolute;z-index: 9;top: 0;right: 0;left:0;margin: auto;}
.faq-right h3{font-size:37px;color:#fff;font-weight:600;margin:0 0 30px;z-index: 99; position: relative;}
.faq-right ul{position: relative;z-index: 99;}
.faq-right li{font-size:18px;color:#fff;margin-bottom:15px;}
.faq-right li a{color: #fff;}
.faq-right li i{margin-right:10px;}
.faq-right button{background:#ffffff;border-radius:4px;font-size:17px;color:#242424;text-transform:uppercase;font-weight:500;border:0;display: inline-block;padding: 12px 32px;margin-top:25px;position: relative;z-index: 99;}
/*====== faq part css close ==========*/

/*====== testimonials part css start ==========*/
.testimonials{background:#738c72;padding:50px 0;}
.testimonials h3{text-align:center;font-family: 'Conv_ACaslonPro-Semibold';font-size: 45px;text-transform: inherit;
font-weight: 500;color:#fff;display:block;margin-bottom:40px;}
.testimonials p{text-align:center;font-size:18px;color:#fff;padding:0;line-height:28px;font-style: italic;}
.testimonials h4{text-align:right;font-size: 21px;color: #fff;margin-top: 20px;font-style: italic;}
/*====== testimonials part css close ==========*/

/*====== footer part css start ==========*/
.footer{background:#151616;padding:80px 0 40px;}
.footer.fixed {position: fixed;bottom: 0;left: 0;right: 0;}
#wrapper {position: relative;background: #fff;z-index: 10;margin-bottom:485px;}
.footer-left p{font-size:14px;color:#848b8a;margin:10px 0;}
.follow-us h3{color:#fff;font-size:28px;font-family: 'Conv_ACaslonPro-Semibold';}
.follow-us ul{margin-top:20px;}
.follow-us li{display:inline-block;margin-right:8px;}
.follow-us li a{display:inline-block;width:40px;height:40px;background:#313232;border-radius:50%;text-align: center;
color: #fff;font-size: 17px;padding:10px 0;}
.footer-left h2{color:#fff;font-size:28px;font-family: 'Conv_ACaslonPro-Semibold';margin-bottom:25px;}
.footer-left li{margin-bottom:10px;}
.footer-left li a{color:#bababa;font-size:14px;cursor: pointer;}
.footer-left li a:hover{color: #fff;}
.footer-left.contact p{margin:0 0 10px;color:#bababa;}
.footer-left.contact li{font-size:14px;color:#bababa;}
.footer-left.contact li strong{color:#fff;font-size:18px;font-weight:600;}
.footer .email{height: 60px;width: 100%;line-height: 70px;padding: 0 25px;font-size: 15px;color: #535656;border: none;margin-top:10px;
border-top-left-radius: 30px;border-bottom-right-radius: 30px;background-color: #ffffff;margin-bottom: 16px;}
.footer .subscribe{background: #738c72;height: 55px;display: inline-block;padding: 0 30px;color: #fff;font-size: 14px;border:0;
font-weight: 500;text-transform: uppercase;border-radius: 0 50px 50px 50px;	}
.subscribe i{margin-right:10px;font-size:16px}
.footer-bottom{border-top:1px solid #2d2e2e;padding-top: 25px;margin-top: 35px;}
.footer-bottom h4{font-size:14px;color:#bababa;font-weight:400;display:inline-block;}
.footer-bottom h4 a{color:#fff;}
.footer-bottom ul{display:inline-block;float:right;}
.footer-bottom li{display:inline-block;margin-right:15px;color:#bababa;}
.footer-bottom li a{color:#bababa;font-size:14px;}
/*====== footer part css close ==========*/

/*====== about us page css start ==========*/
.mission.about .heading{margin: 0 0 60px;}
.mission.about{margin-bottom: 0;}
.mission.about .mission-img{height: 440px;}
.about-text{padding-left:10px;}
.about-text h4{font-size:25px;color:#8dc01c;}
.about-text h3{font-size:60px;color:#738c72;font-family: 'Conv_ACaslonPro-Semibold';margin:30px 0;}
.about-text p{font-size:17px;color:#242424;font-weight:400;line-height:28px;}
.about-text a{color: #fff;background: #738c72;border-radius: 4px;margin-top:40px;padding: 14px 30px;font-weight:500;font-size:16px;display: inline-block;text-align: center;cursor: pointer;}
.about-text a:hover{color: #fff;}
.who-we-are{padding:65px 0;position:relative;}
.who-we-are::before{content: "";width: 305px;height: 300px;background: url(../images/who_we_are_img.png) no-repeat;position: absolute;z-index: 9;top:160px;right: 0;left:0;background-size: 250px;}
.who-we-are ul {width: 45%;display: inline-block;}
.who-we-are li {margin-bottom: 30px;width: 258px;height: 258px;background: #ddd;overflow: hidden;border-radius:30px;}
.who-we-are li img{width:100%;height:100%;object-fit:cover;}
.mar-top {position: relative;top: -55px;}
.who-we-are .about-text {padding: 10px;}
.testimonials.policies{background: #f5f2eb;}
.testimonials.policies h3{color:#242424;}
.testimonials.policies p{color:#242424;}
.who-we-are.donation .about-text ul{width: 100%;margin: 20px 0;}
.who-we-are.donation .about-text li{background: none;width: auto;height: auto;overflow: inherit;margin-bottom: 0;font-size: 17px;font-weight: 500;color: #0d0c0c;}
.who-we-are.donation .about-text a{margin-top: 15px;}
.who-we-are.donation .donation-img{background: #e8e2e4;border-radius: 20px;overflow: hidden;height: 420px;position: relative;}
.who-we-are.donation .donation-img img{width:100%;height:100%;object-fit:none;}
.who-we-are.donation .about-text p{width:95%;}
.who-we-are.donation .about-text h3{margin: 0 0 15px;}
.about-text.donation p{font-style: italic;}

#donationnow .modal-header h5 {font-size: 27px;}
#donationnow .modal-dialog {max-width: 600px;}
#donationnow .form-group label input {margin-right: 3px;}
#donationnow .close {font-size: 45px;font-weight: 400;opacity: 1;color: #000;}
#donationnow .modal-header{border: 0;padding-bottom: 0;}
#donationnow .form-group label {font-size: 16px;color: #242424;font-weight: 500;}
#donationnow .form-group{margin-bottom: 20px;}
#donationnow .form-group .form-control {height: 48px;border: 1px solid #ced4da;font-size: 15px;}
#donationnow .alert-danger{margin-bottom: 0;}
#donationnow .btn.btn-default{display: block;margin: 0 auto 10px!important;}
#donationnow .alert-danger{float: left;width: 100%;padding: 0;margin-bottom: 0;background: none;border: none;color: #ea0808;font-size: 13px;}
/*====== about us page css start ==========*/

/*====== profile page css start ==========*/
.header span.user-img{width:40px;height:40px;background:#ddd;border-radius:50%;display: inline-block;
vertical-align: middle;margin-right:10px;overflow:hidden;}
.header span.user-img img{width:100%;height:100%;object-fit:cover;}
.header #dropdownMenuButton{padding:0;font-size:17px;color:#242424;font-weight:500;}
.header .btn.focus, .btn:focus{box-shadow:none;}
.header .dropdown-item {padding: 8px 10px;border-bottom: 1px solid #f1efef;font-size:15px;}
.header .dropdown-item:active{background-color: #a6a6a6;}
.header .dropdown-item:last-child{border-bottom:0;}
.header .dropdown-menu{padding:0;}

.profile-main{max-width:750px;margin:auto;}
.profile-img{width:160px;height:160px;background:#ddd;border-radius:50%;overflow:hidden;margin: 0 auto 55px;}
.profile-img img{width:100%;height:100%;object-fit:cover;}
.profile-left .form-label {text-transform: uppercase;font-weight: 600;font-size: 15px;}
.profile-left .form-control {height: 50px;border: 1px solid #ced4da;}
.profile-left {margin-bottom: 20px;float: left;width: 100%;}
.save{color: #fff;background: #738c72;border-radius: 4px;padding: 14px 55px;text-transform: uppercase;border:0;text-align: center;font-size:18px;font-weight:500;display:block;margin:15px auto 0;}
/* Chrome, Safari, Edge, Opera */
.profile-main input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.profile-main input[type=number] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*====== profile page css close ==========*/

/*====== booking detail page css start ==========*/
.booking-main{background:#f5f2f2;padding:50px 0;}
.min-height {min-height: 400px;}
.min-height.booking-min{min-height: 730px; padding: 50px 0 0;} 
.booking-main .heading{margin: 0 0 40px;}
.booking-inn{background:#ffffff;padding:30px;-webkit-box-shadow: 0 0px 10px rgba(25, 25, 25, 0.1);}
.booking-inn .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{background: #738c72;color: #fff;border-color: #738c72 #738c72 #738c72;}
.booking-main .booking-inn table tr:nth-child(2n) {background-color: #fff;}

.booking-main table th{font-size: 16px;color: #242424;font-weight: 500;border-top: 0;}
.booking-main table td {font-size: 15px;color: #595757;font-weight: 400;border: 0;vertical-align: middle;}
.booking-main table tr:nth-child(2n) {background-color: #f7f7f7;}

.booking-inn .nav-tabs {border-bottom: 1px solid #dee2e6;margin-bottom: 25px;}
.booking-inn .nav-link {font-size: 16px;color: #242424;font-weight: 500;padding: 18px 35px;border: 1px solid #ddd;}
.booking-inn .fade:not(.show){opacity: 1;}
.select-class.book-slot #basic {border: 0;padding: 0;color:#242424;opacity: 1;} 

.select-class.book-slot #basic::-webkit-input-placeholder { /* Edge */color:#242424;opacity: 1;}
.select-class.book-slot #basic:-ms-input-placeholder { /* Internet Explorer 10-11 */color:#242424;opacity: 1;}
.select-class.book-slot #basic::placeholder {color:#242424;opacity: 1;}

.border_user.slot span i{font-size: 20px;position: absolute;top: 15px;left: 15px;color: #252626;}
.select-class.book-slot .form-control{padding: 1px 0;height: 23px;border-radius: 10px;
border: 0;font-size: 16px;color: #242424;margin-top: -5px;padding-left: 45px;} 
.select-class.book-slot #basic:focus{box-shadow: none;}
.select-class.book-slot .text-danger {display: inline-block;}
.add-sib .form-control{padding: 12px 15px;height: auto;border-radius: 10px;border: 1px solid #e2e1e1;}
.select-class {margin-bottom: 25px;}
.form-control.sibling_name {margin-bottom: 20px;width: 100%;}

#mindful1 .select-class{margin-bottom: 5px;}
#mindful2 .select-class{margin-bottom: 5px;}
#mindful3 .select-class{margin-bottom: 5px;}
.book_slot_form .select-class {margin-bottom: 25px;}
.book_slot_form .select-class li {width: 20%;}

.select-class h3{font-size:22px;font-weight:500;margin:0 0 15px;}
.select-class li{width:auto;display:inline-block;margin-right:20px;position: relative;vertical-align: top;}

.show-more {float: right;margin-top: 20px;display: block;width: 100%;text-align: right;}
.select-class.book-slot .time-slot {width: auto;margin: 0 0 23px;}
.select-class li.time-slot {width: 23%;}
.select-class li.time-slot .class-name{font-size: 14px;color: #555555;}
.select-class li.time-slot .class-name strong{font-size: 14px;color: #242424;font-weight: 600;}
.select-class li.time-slot .tutor-name{font-size: 13px;color: #656565;margin-top: 5px;}
.select-class li.time-slot .tutor-name strong{font-size: 14px;color: #242424;font-weight: 600;}
.tutor-name {display: block;}

.select-class li.time-slot .checkmark{padding: 0;}
.select-class li.time-slot .checkmark h5{margin-top: 62px;padding: 10px 15px;border-top: 1px solid #d5d5d5;
border-radius: 0 0 10px 10px;font-size: 15px;text-align: left;}
.select-class li.time-slot .checkmark h5 i {margin-right: 8px;}  

.cst-outer-class-tutor {position: absolute;top: 3px;z-index: 9;padding: 5px 0;margin-left: 15px;width: 80%;white-space: nowrap;
overflow: hidden;text-overflow: ellipsis;}

.select-class.book-slot .border_user.slot.border-none {border: 0;padding: 0;}
.booking-inn input.form-control{border: 1px solid #e2e1e1;} 
.booking-inn .p-datepicker-prev {background: #738c72!important;color: #fff !important;}
.select-class li.neuro{width:29%;}
.mind {display: inline-block;position: relative;cursor: pointer;font-size: 22px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;width:100%;margin-bottom: 20px;}
.mind input {position: absolute;opacity: 0;cursor: pointer;}
.checkmark {position: relative;display:block;top: 0;left: 0;height: auto;padding:18px 35px;background-color: #fff;border-radius: 10px;
width: 100%;border:1px solid #e2e1e1;}
.checkmark h5{text-align:center;font-size:16px;}
.mind:hover input ~ .checkmark {background-color: #fff;}
.mind input:checked ~ .checkmark {background-color: #fff;border:1px solid #738c72;}
.checkmark:after {content: "";position: absolute;display: none;}
.mind input:checked ~ .checkmark:after {display: block;}
.mind .checkmark:after {content: "";width: 28px;height: 28px;background: url(../images/check_img.png) no-repeat;position: absolute;z-index: 9;top: -10px;right: -10px;}
li.border_user{text-align:center;padding: 18px 0;background-color: #fff;border-radius: 10px;border: 1px solid #e2e1e1;vertical-align: top;}
li.border_user h5{font-size:16px;}
.add-sibling{background:#738c72;color:#fff;text-transform:uppercase;font-weight:500;font-size:15px;border:0;border-radius: 10px;padding:15px 20px;vertical-align: top;}
.add-sibling i{margin-right:10px;}

li.border_user.slot h5{font-size:16px;text-transform:uppercase;}
.book-now{background: #738c72;color: #fff;text-transform: uppercase;font-weight: 500;font-size: 17px;border: 0;
border-radius: 10px;margin: 45px auto 0;display: block;padding: 16px 35px;}
.select-class.book-now-bottom {margin-bottom: 15px;}
.summary{
position: fixed;
bottom: 0;
left: 0;
right: 0;
z-index: 9;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#489a70+43,363d30+100 */
background: #489a70; /* Old browsers */
background: -moz-linear-gradient(45deg,  #489a70 43%, #363d30 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #489a70 43%,#363d30 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #489a70 43%,#363d30 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#489a70', endColorstr='#363d30',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
margin-top:70px;}
.summary h4{text-align:center;font-size:20px;color:#fff;padding:16px 0;}
.select-class.tutor li {width:18%;}
.booking .footer{margin-bottom: 40px;}

/*====== booking detail page css close ==========*/

/*====== neurodynamic music therapy page css start ==========*/
.booking-main.music-therapy .mission-img{height: 550px;}
.booking-main.music-therapy{background:#fff;padding-bottom: 0;}
.music-therapy-top{padding: 0 0 60px;}
.music-therapy-right p{font-size: 17px;color: #242424;font-weight: 400;line-height: 28px;}
.one-one{background:#738c72;border-radius:5px;padding:20px;margin-top:20px;}
.one-one li{font-size:20px;color:#fff;font-weight:500;margin-bottom:20px;}
.one-one li.frid {margin-left: 15px;}
.one-one button{color: #242424;background: #fff;border-radius: 4px;padding: 11px 20px;border:0;display:inline-block;font-weight:500;font-size:16px;}

.benefits-music-therapy{background:#f4f1ea;position: relative;overflow:hidden;height:480px;}
.benefits-music-therapy-left{width:65%;padding:40px 0;display:inline-block;}
.benefits-music-therapy-left h2{font-size:43px;color:#242424;font-family: 'Conv_ACaslonPro-Semibold';}
.benefits-music-therapy-left ul{margin:20px 0;padding-left:15px;}
.benefits-music-therapy-left li{margin-bottom:25px;font-size:17px;font-weight:500;list-style:disc;text-decoration: underline;word-wrap: break-word;}
.benefits-music-therapy-left li a{color: #242424;}
.benefits-music-therapy-left li a:hover{color: #738c72;}
.benefits-music-therapy-right{width: 38%;float: right;background:#ddd;position: absolute;height: 100%;
right: 0;top: 0;overflow:hidden;}
.benefits-music-therapy-right img {width: 100%;height: 100%;object-fit: cover;}

.booking-main.music-therapy.my-booking {padding: 50px 0;}

/*====== neurodynamic music therapy page css close ==========*/

/*====== mindful musicians page css start ==========*/
.booking-main.music-therapy.mindful{padding-bottom: 0;}
.mindful-musicians-top{background:#f4f1ea;padding:50px 0;}
.mindful-musicians-top h2{font-size:43px;color:#242424;font-family: 'Conv_ACaslonPro-Semibold';text-align:center;margin-bottom:30px;}
.mindful-musicians-top p{font-size: 16px;color: #242424;font-weight: 400;line-height: 28px;text-align:center;padding:0;}

.callie-mescher{padding:70px 0;}
.callie-img{background: #ddd;border-radius: 20px;overflow: hidden;height: 520px;position: relative;}
.callie-img img{width:100%;height:100%;object-fit:cover;}
.callie-right h2{font-size:42px;color:#242424;font-family: 'Conv_ACaslonPro-Semibold';margin-bottom:20px;}
.callie-right p{font-size: 16px;color: #242424;font-weight: 400;line-height: 28px;margin-bottom:30px;}
.sched h3{font-size:26px;color:#242424;margin-bottom:18px;}
.sched li{font-size:18px;margin-bottom:10px;}

.mindful-tution{padding: 50px 0;} 
.mindful-tution .heading{margin-bottom: 30px;}
.mindful-tution .heading h2{font-size: 42px !important;color: #242424;font-family: 'Conv_ACaslonPro-Semibold'!important;text-align: center;
font-weight: 400 !important;margin-bottom:0px;text-transform: capitalize;}
.mindful-tution p{font-size: 16px;color: #242424;font-weight: 400;line-height: 28px;text-align: center;padding: 0;font-style: italic;}
.mindful-tution p a{color: #738c72;text-decoration: underline;}

.benefits-music-therapy.registration{height: 400px;}
.benefits-music-therapy.registration .benefits-music-therapy-left{width:48%;}
.benefits-music-therapy.registration .benefits-music-therapy-left a{font-size: 42px;color: #738c72;text-decoration: underline;font-family: 'Conv_ACaslonPro-Semibold';}
.benefits-music-therapy.registration .benefits-music-therapy-left p{font-size: 17px;color: #242424;line-height: 30px;margin-top: 20px;font-style: italic;}
.benefits-music-therapy.registration .benefits-music-therapy-right{width:48%;}

.mindful-schedule-main{padding: 50px 0;}
.mindful-schedule{margin-bottom: 25px;}
.mindful-schedule h3{font-family: 'Conv_ACaslonPro-Semibold';font-size: 42px;margin-bottom: 15px;}
.mindful-schedule li{font-size: 17px;color: #242424;margin-bottom: 8px;font-style: italic;}
.makeups h3{font-family: 'Conv_ACaslonPro-Semibold';font-size: 42px;margin-bottom: 15px;}
.makeups p{font-size: 17px;color: #242424;line-height: 30px;}
.makeups p a{color: #738c72;text-decoration: underline;}

.mind-audio {background: #738c72;width: 100%;height: 210px;overflow: hidden;position: relative;border-radius: 15px;padding: 25px;}
.mind-audio img{width: 100%;height: 100%;object-fit: cover;}
.mind-audio .audio-outer{width: 80%;float: left;margin-top: 5px;} 
.mind-audio .audio-outer audio {width: 92%;margin: 5px 0;}
.mind-audio h3{color: #fff;font-size: 32px;text-transform: capitalize;font-weight: 500;margin: 0 0 35px;}
.mind-audio p {font-size: 16px;color: #fff;margin: 15px 0 20px;}

.mindful-calender .p-calendar{width:100%;}
.mindful-calender .p-calendar .p-datepicker{padding: 0;}
.mindful-calender .p-datepicker table th{text-align: center;}
.mindful-calender table th {font-size: 16px;color: #242424;font-weight: 500;border-top: 0;}
.mindful-calender .p-datepicker .p-datepicker-header .p-datepicker-prev, .p-datepicker .p-datepicker-header .p-datepicker-next {background: #738c72;color: #fff;}
.mindful-calender .p-datepicker-next.p-link.ng-tns-c56-0.p-ripple.ng-star-inserted {background: #738c72;color: #fff;}
.mindful-calender .p-datepicker table td.p-datepicker-today > span{background: #738c72;color: #fff;}
.mindful-calender .p-datepicker table td > span.p-highlight{background: none;color: #000;}
.mindful-calender .p-datepicker table td > span.p-highlight::after{content: "";width: 7px;height: 7px;background: #54c45a;border-radius: 50%;
position: absolute;bottom: 0px;}
.mindful-calender .p-datepicker table td.p-datepicker-today > span.p-highlight{background: #738c72;color: #fff;}
/* .mindful-calender .p-datepicker:not(.p-disabled) table td span:not(.p-highlight):not(.p-disabled):hover {background:none;} */
.mindful-calender .p-datepicker table td.p-datepicker-today > span:hover{background: #738c72!important;}
.mindful-calender .p-datepicker table th{text-align: center;}
.mindful-calender .p-calendar table tr:nth-child(2n) {background-color: #fff;}
.mindful-calender .p-datepicker table td > span{color: #000;}
.mindful-calender .p-datepicker .p-datepicker-header .p-datepicker-prev, .p-datepicker .p-datepicker-header .p-datepicker-next{background: #738c72;color: #fff;}
.mindful-calender .p-datepicker .p-datepicker-header .p-datepicker-prev:enabled:hover, .p-datepicker .p-datepicker-header .p-datepicker-next:enabled:hover{background: #738c72;color: #fff;}
.mindful-calender .p-datepicker-next.p-link.ng-tns-c56-0.p-ripple.ng-star-inserted{background: #738c72;color: #fff;}
.mindful-calender .p-datepicker .p-datepicker-header .p-datepicker-prev:focus, .p-datepicker .p-datepicker-header .p-datepicker-next:focus{box-shadow: none!important;}
.p-datepicker .p-datepicker-header .p-datepicker-title{font-size: 20px;color: #242424;}
.mindful-calender .p-component {font-family: inherit;}
.mindful-calender .p-datepicker .p-datepicker-header{padding: 10px;}	

.mindful-calender-image{background: #ddd;border-radius: 20px;overflow: hidden;height: 430px;position: relative;}
.mindful-calender-image img{width: 100%;height: 100%;object-fit: cover;}

.expectations.bridging.mindful{margin-top: 0;}
.expectations{background: #f3f0e9;padding: 50px 0;}
.expectations .heading{margin-bottom: 30px;text-align: center;}
.expectations .heading h2{font-family: 'Conv_ACaslonPro-Semibold'!important;font-size: 42px !important;text-transform: capitalize;font-weight: 400 !important;}
.expectations p{font-size: 17px;color: #242424;font-weight: 400;line-height: 28px;text-align: center;padding: 0;}
.expectations.policies{background: #fff;}
.faq.mindful .heading h2{font-family: 'Conv_ACaslonPro-Semibold'!important;font-size: 42px !important;text-transform: capitalize;font-weight: 400 !important;}
.faq.mindful .card-body p{font-size: 16px;line-height: 28px;}
.meet-team{background: #f3f0e9;padding: 50px 0;}
.meet-team .heading{margin-bottom: 30px;}
.meet-team .heading h2{font-family: 'Conv_ACaslonPro-Semibold'!important;font-size: 42px !important;text-transform: capitalize;font-weight: 400 !important;}
.team-box{background: #ffffff;}
.team-img{width: 100%;background: #ddd;height: 400px;overflow: hidden;}
.team-img img{width: 100%;height: 100%;object-fit: cover;}
.team-box-text{text-align: center;padding: 20px;min-height: 340px;}
.team-box-text h3{font-size: 28px;color: #242424;margin-bottom: 15px;}
.team-box-text p{font-size: 15px;color: #242424;}
/*====== mindful musicians page css close ==========*/

/*====== Rooted private lessons page css start ==========*/
.callie-mescher.rooted-private .callie-right p{line-height:24px;margin-bottom: 20px;}
.callie-mescher.rooted-private .sched li{font-weight: 500;font-size:19px;margin-bottom: 2px;}
.callie-mescher.rooted-private .sched h3{margin-bottom:5px;}
.callie-mescher.rooted-private .sched button {color: #fff;background: #36392e;border-radius: 4px;padding: 11px 20px;border: 0;
display: inline-block;font-weight: 500;font-size: 16px;margin-top:15px;}

.benefits-music-therapy.expectations.rooted-private{height: 500px;}
.benefits-music-therapy.expectations.rooted-private .heading{text-align: left;}
.benefits-music-therapy.expectations.rooted-private p{text-align: left;}

.booking-main.music-therapy.rooted-lesson .one-one h3{color: #fff;font-size: 28px;margin: 0 0 15px;}
.booking-main.music-therapy.rooted-lesson .one-one li{font-size: 18px;margin-bottom: 25px;}
/*====== Rooted private lessons page css close ==========*/

/*====== my payment page css start ==========*/
.item-add{border:1px solid #e2e2e2;border-radius:5px;padding:30px;}
.item-add .table{margin-bottom: 0;}
.item-add table td:first-child {width: 170px;}
/* .item-add .table td, .table th{padding: 10px 0;border-top: 0;} */

.item-add h2{font-size:22px;text-transform:uppercase;color:#242424;font-weight:500;margin-bottom:25px;}
.item-img{width:125px;height:95px;background:#ddd;border-radius:5px;overflow:hidden;display:inline-block;margin-right:20px;}
.item-img img{width:100%;height:100%;object-fit:cover;}
.item-text{display:inline-block;vertical-align:top;}
.item-text h3{font-size:21px;color:#242424;font-weight:500;}
.item-text h4{font-size:17px;color:#595757;font-weight:400;margin:8px 0;}
.item-text button{font-size:14px;color:#646262;border:1px solid #b4b3b3;border-radius:4px;text-transform:uppercase;font-weight:500;background:#fff;padding:6px 12px;}
.item-text button i{margin-right:3px;}
.item-text-right {float: left;margin-top:10px;}
.item-text-right h4{font-size:16px;color:#403f3f;font-weight:400;}
.item-text-right a{font-size:14px;color:#403f3f;font-weight:400;float:right;margin-top:20px;}

.billing-method{border:1px solid #e2e2e2;border-radius:5px;padding:30px;margin-top:30px;}
.billing-method h2{font-size:20px;text-transform:uppercase;color:#24424;font-weight:500;margin-bottom:25px;}
.billing-method li{margin-bottom:25px;padding-bottom:25px;border-bottom:1px solid #f3efef;}
.billing-method li img{display:inline-block;margin-right:10px;}
.billing-method li h4{font-size:18px;color:#595757;font-weight:400;display:inline-block;vertical-align:middle;}
.billing-method li:last-child{border-bottom:0;margin-bottom:0;padding-bottom:0;}

.form-control.savecard_cvc{height: 50px;border: 1px solid #ced4da;padding-right: 8px;font-size: 15px;}

.billing {display: block;position: relative;padding-left: 35px;margin-bottom: 12px;cursor: pointer;font-size: 22px;
-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;float:right;}
.billing input {position: absolute;opacity: 0;cursor: pointer;}
.billing .checkmark {position: absolute;top: 0;left: 0;height: 25px;width: 25px;background-color: #fff;border-radius: 50%;padding:0;border:0;border:1px solid #d2cfcf;}
.billing:hover input ~ .checkmark {background-color: #fff;}
.billing input:checked ~ .checkmark {background-color: #fff;border: 1px solid #738c72;}
.checkmark:after {content: "";position: absolute;display: none;}
.billing input:checked ~ .checkmark:after {display: block;}
.billing .checkmark:after {top: 7px;left: 7px;width: 9px;height: 9px;border-radius: 50%;background: #738c72;}
.add-payment{background:#36392e;font-size:17px;color:#fff;border:0;border-radius:4px;display: inline-block;
margin: 30px 0 100px;padding: 12px 25px;}

.payment-right{border: 1px solid #e2e2e2;border-radius: 5px;padding: 25px;}
.payment-right h2{font-size:22px;color:#242424;font-weight:500;margin-bottom:25px;}
.payment-right li{border-bottom: 1px dashed #c9c7c7;margin-bottom:25px;padding-bottom:25px;}
.payment-right li:last-child{border-bottom:0;margin-bottom:0;padding-bottom:0;}
.payment-right li h4{font-size:18px;display:inline-block;font-weight:400;color:#555555;}
.payment-right li h5{font-size:18px;display:inline-block;font-weight:400;color:#555555;float:right;}
.payment-right li h4 strong{color:#242424;font-weight:400;}
.payment-right li h5 strong{color:#242424;font-weight:400;}
.pay-now{color: #fff;background: #738c72;border-radius: 4px;padding: 14px 0;text-transform: uppercase;text-align: center;width:100%;margin-top:20px;border:0;font-weight:500;font-size:18px;}
.swal2-confirm{background: #738c72!important;}


#add-payment .modal-header{border:0;padding-bottom:10px;}
#add-payment .modal-header h5 {font-size: 27px;}
#add-payment .close {font-size: 45px;font-weight: 400;color: #000;opacity: 1;}
#add-payment .form-group label{font-size:16px;color:#242424;font-weight:500;}
#add-payment .form-group .form-control{height:48px;border: 1px solid #ced4da;font-size: 15px;}
#add-payment button.continue{display: block;text-align: center;margin: 15px auto 10px;font-size:18px;color:#fff;background: #738c72;
border-radius: 4px;padding: 13px 35px;border:0;font-weight:500;}
#add-payment .modal-content {padding:5px;}
#add-payment .form-group{margin-bottom: 15px;}
#add-payment .alert-danger{float: left;width: 100%;padding: 0;margin-bottom: 0;background: none;border: none;color: #ea0808;font-size: 13px;}


#paynowwithsavecard .modal-header{border:0;padding-bottom:10px;}
#paynowwithsavecard .modal-header h5 {font-size: 27px;}
#paynowwithsavecard .close {font-size: 45px;font-weight: 400;color: #000;opacity: 1;}
#paynowwithsavecard .form-group label{font-size:15px;color:#242424;font-weight:500;}
#paynowwithsavecard .form-group .form-control{height:48px;border: 1px solid #ced4da;font-size: 15px;}
#paynowwithsavecard button.continue{display: block;text-align: center;margin: 15px auto 10px;font-size:18px;color:#fff;background: #738c72;
border-radius: 4px;padding: 13px 35px;border:0;font-weight:500;}
#paynowwithsavecard .modal-content {padding:5px;}
#paynowwithsavecard .form-group{margin-bottom: 15px;}
#paynowwithsavecard .alert-danger{float: left;width: 100%;padding: 0;margin-bottom: 0;background: none;border: none;color: #ea0808;font-size: 13px;}
#paynowwithsavecard .btn.btn-default.action {display: block;text-align: center;margin: 10px auto;font-size: 18px;color: #fff;background: #738c72;
border-radius: 4px;padding: 13px 35px;border: 0;font-weight: 500;}

#paynow .modal-header{border:0;padding-bottom:10px;}
#paynow .modal-header h5 {font-size: 27px;}
#paynow .close {font-size: 45px;font-weight: 400;color: #000;opacity: 1;}
#paynow .form-group{margin-bottom: 20px;}
#paynow .form-group label{font-size:16px;color:#242424;font-weight:500;}
#paynow .form-group .form-control{height:48px;border: 1px solid #ced4da;font-size: 15px;}
#paynow button.continue{display: block;text-align: center;margin: 15px auto 10px;font-size:18px;color:#fff;background: #738c72;
border-radius: 4px;padding: 13px 35px;border:0;font-weight:500;}
#paynow .modal-content {padding:5px;}
#paynow .form-group{margin-bottom: 15px;} 
#paynow .alert-danger{float: left;width: 100%;padding: 0;margin-bottom: 0;background: none;border: none;color: #ea0808;font-size: 13px;}
#paynow .btn.btn-default.action{display: block;margin: 0 auto 10px !important;text-align: center;margin: 15px;font-size: 18px;color: #fff;background: #738c72;
border-radius: 4px;padding: 13px 35px;border: 0;font-weight: 500;}
#paynow .form-group input.save_card {margin-right: 8px;float: left;margin-top: 5px;} 
/*====== my payment page css close ==========*/

/*====== my payment history page css start ==========*/
.booking-main.music-therapy.payment-history{padding: 80px 0;}
.payment-history table th{font-size:16px;color:#242424;font-weight:500;border-top: 0;}
.payment-history table td{font-size:15px;color:#595757;font-weight:400;border:0;vertical-align: middle;}
.payment-history table tr:nth-child(2n) {background-color: #f7f7f7;}
.payment-history table button.view{width:30px;height:30px;background:#489a70;border:0;border-radius:7px;}
.payment-history table button.view i{color:#fff;}
/*====== my payment history page css close ==========*/


/*====== my payment new page css start ==========*/
.booking-image{margin-bottom:30px;}
.booking-image li{margin-bottom:20px;}
.booking-image li label{font-size:16px;color:#242424;margin:0;vertical-align: top;width: 32%;font-weight:500;}
.booking-image li span{width:130px;height:100px;background:#ddd;border-radius:4px;display: inline-block;overflow:hidden;}
.booking-image li span img{width:100%;height:100%;object-fit:cover;}
.booking-image h4{font-size:22px;margin-bottom:25px;}
.booking-image li h4{font-size:16px;color:#605e5e;margin:0;vertical-align: top;font-weight:400;display: inline-block;}
.booking-image li a{color: #f23243;font-size: 18px;font-weight: 500;margin-top: 35px;display: block;}
.booking-image li a i {font-size: 25px;margin-right: 10px;float: left;}
.booking-image.description{margin-bottom:0;} 
.booking-image.description li:last-child{margin-bottom:0;}       
/*====== my payment new page css close ==========*/

/*====== dashboard page css start ==========*/
.dashboard-top {margin-bottom: 0px;}
.dashboard-box{border-radius:5px;-webkit-box-shadow: 0 0px 10px rgba(25, 25, 25, 0.1);text-align:center;padding: 25px 23px;}
.dashboard-box h4{font-size:22px;color:#242424;}
.dashboard-box p{font-size:15px;color:#606363;display:inline-block;padding:15px 0 20px;}
.dashboard-box button{color: #fff;background: #738c72;border-radius: 4px;padding: 10px 22px;font-size:15px;border:0;font-weight:500;}
.today-schedule{padding:50px 0;}
.last-week{margin-bottom: 40px;}
.today-schedule h3{font-size:25px;color:#242424;font-weight:500;margin-bottom:25px;}
.today-schedule
.last-week {padding-bottom: 80px;}
.last-week h3{font-size:25px;color:#242424;font-weight:500;margin-bottom:25px;}
.week-class{background:#daebe2;padding:12px 20px;margin-bottom:10px;}
.week-class-img{background:#ddd;width:60px;height:60px;border-radius:50%;overflow:hidden;display:inline-block;vertical-align: middle;margin-right:25px;}
.week-class-img img{width:100%;height:100%;object-fit:cover;}
.week-class h4{display:inline-block;vertical-align: middle;font-weight:400;font-size: 18px;}
.week-class a{float:right;font-size:18px;color:#242424;margin: 17px 0;}
.week-class audio{float: right;margin: 10px 0;}

.week-class a i{font-size: 25px;margin-right: 10px;float: left;}
.booking-main.music-therapy.scholarship{padding-bottom:50px;}
.booking-main.music-therapy.scholarship p{font-size:16px;line-height:27px;}
.booking-main.music-therapy.scholarship p strong{font-weight: 500;}
 
.make-donation{background: #f4f1ea;padding: 50px 0;text-align: center;}
.make-donation h3{font-size: 43px;color: #242424;font-family: 'Conv_ACaslonPro-Semibold';display: inline-block;vertical-align: top;margin-right: 40px;}
.make-donation a{color: #fff;background: #738c72;border-radius: 4px;padding: 12px 35px;font-weight: 500;font-size: 17px;display: inline-block;
text-transform: uppercase;text-align: center;cursor: pointer;}
.scholarship-applicants{background: #738c72;text-align: center;padding: 50px 0;}
.scholarship-applicants p{font-size: 27px;color: #fff;margin: 0 0 15px;}
.scholarship-applicants h5{font-size: 23px;color: #fff;font-weight: 500;}
.view.tooltipt.pause {margin: 0 5px;}

/*====== dashboard page css start ==========*/

/*====== contact us page css start ==========*/
.contact-left h3{font-family: 'Conv_ACaslonPro-Semibold';font-size: 43px;text-transform: capitalize;font-weight: 500;color: #738c72;}
.contact-left p{font-size:15px;color:#242424;display:inline-block;margin:15px 0 30px;padding-right:70px;} 
.contact-left li{font-size:16px;color:#242424;margin-bottom:15px;}
.contact-left li span{width:40px;height:40px;background:#738c72;display: inline-block;
text-align: center;border-radius:50%;padding:9px 0;margin-right:20px;}
.contact-left li span i{color:#fff;font-size:17px;}
.contact-right{-webkit-box-shadow: 0 0px 10px rgba(25, 25, 25, 0.1);background:#fff;padding:30px;}
.contact-right .form-group{margin-bottom: 15px;}
.contact-right .form-group label{font-size:15px;text-transform:uppercase;color:#242424;font-weight:600;}
.contact-right .form-group .form-control{height:50px;border: 1px solid #ced4da;padding-right: 8px;font-size: 15px;}
.contact-right .form-group .form-control.textarea {min-height: 130px;}
.contact-right .btn{color: #fff;background: #738c72;border-radius: 4px;padding: 15px 30px;text-transform: uppercase;font-weight:500;margin-top:5px;font-size:15px;}
.contact-map {margin-bottom: -5px;}
.contact-right span{float: left;}
.contact-right span {position: unset;}
/*====== contact us page css close ==========*/

/*====== login page css start ==========*/
.login{padding:50px 0;}
.heading{text-align:center;margin:0 0 50px;}
.heading h2{font-size:32px!important;color:#242424;text-transform:uppercase;font-weight:600!important;margin:0 0 5px;font-family: 'Montserrat', sans-serif!important;}
.login-main{width:385px;margin:auto;}
.login-main .form-label{text-transform:uppercase;font-weight:600;font-size:15px;}
.login-main .form-control{height:50px;display: block;width: 100%;padding: .375rem .75rem;font-size: 15px;font-weight: 400;line-height: 1.5;color: #495057;
background-color: #fff!important;background-clip: padding-box;border: 1px solid #ced4da!important;border-radius: .25rem;margin-bottom: 0 !important;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
.login-main input[type="text"][_ngcontent-hot-c60], input[type="password"][_ngcontent-hot-c60]{margin: 0;}
.login-main .mb-3.form-check a{float:right;color:#738c72;font-size:15px;}
.login-main .form-check-label{font-size:15px;}
.login-main .form-check-input{margin-top: .2rem;}
.login-main .btn{font-size:18px;color:#fff;background: #738c72;width: 100%;text-transform:uppercase;font-weight:500;height:60px;margin:15px 0 25px;}
.login-main h4{font-size:16px;color:#585858;text-align:center;font-weight:400;}
.login-main h4 a{color:#738c72;}
.login-main .mb-3{margin-bottom: 15px!important;display: inline-block;width:100%;}
.login-main .mat-h4, .mat-subheading-1, .mat-typography h4{font: inherit!important;}
.login-main .alert-danger{float: left;width: 100%;padding: 0;margin-bottom: 0;background: none;border: none;color: #ea0808;font-size: 13px;}

/*====== login page css close ==========*/









/*============================= admin css start =============================*/

/*====== login page css start ==========*/
.login-left-image {float: left;width: 40%;}
.login-main-div {float: left;width: 100%;}
.login-form .form-group .col-md-6 {padding: 0px;}
.right-login-div.text-center h1 {font-size: 34px;font-weight: 400;margin-bottom: 30px;}
main#Login {float: left;width: 100%;min-height: 100vh;background: #d0dbd0;display: flex;align-items: center;
justify-content: center;flex-direction: column;}
.logo-div.text-center {margin-bottom: 30px;}
.logo-div.text-center img {width: 180px;}
.inner-login {float: none;width: 530px;background: #fff;padding: 35px;box-shadow: 0 0px 3px #eaeaea;border-radius: 6px;}
.login-logo {margin: 0 0 30px;}
.login-logo img{max-width: 250px;}
.login-form input.form-control {border: 2px solid #ced4da;height: 55px;border-radius: 10px!important;padding:10px 14px 10px 55px;width: 100%;}
.login-form .form-group .col-md-12 {padding: 0;}
.form-group.add-job.announcement-input .bootstrap-select .dropdown-toggle:focus, .form-group.add-job.announcement-input .bootstrap-select>select.mobile-device:focus+.dropdown-toggle {outline: thin dotted #333 !important;outline: 0px auto -webkit-focus-ring-color !important;outline-offset: 0 !important;}
.btn.focus, .btn:focus {outline: 0 !important;box-shadow: 0 0 0 0rem rgba(0,123,255,.25) !important;}
.login-form .form-group [type="checkbox"]:not(:checked),
.login-form .form-group [type="checkbox"]:checked {position: absolute;left: -9999px;}
.login-form .form-group [type="checkbox"]:not(:checked)+label, .login-form .form-group [type="checkbox"]:checked+label {
position: relative;padding-left: 1.95em;cursor: pointer;left: 0;pointer-events: initial !important;}
button.btn.dropdown-toggle.btn-default {float: left;width: 100%;border: 2px solid #d6d6d6;height: 52px;border-radius: 7px;
background: #fff;padding: 12px 14px 11px 9px;font-size: 17px;position: relative;}
.login-form .form-group [type="checkbox"]:not(:checked)+label:before,
.login-form .form-group [type="checkbox"]:checked+label:before {content: '';position: absolute;left: 0;top: -1px;width: 25px;
height: 25px;border: 2px solid #ced4da;background: #fff;border-radius: 4px;box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);}
.login-form .form-group [type="checkbox"]:not(:checked)+label:after,
.login-form .form-group [type="checkbox"]:checked+label:after {content: '\2713\0020';position: absolute;top: 5px;left: 5px;font-size: 18px;line-height: 0.8;color: #000000;transition: all .2s;}
.login-form .form-group [type="checkbox"]:checked+label:before {border-color: #000000;}
.login-form .form-group .col-md-6.text-md-right.forgot-pass a.btn.btn-link {padding: 0;color: #000;font-size: 18px;
margin-top: -24px;}
.login-form .form-group button.btn.btn-primary {float: left;width: 100%;border-radius: 10px;background: #a7b39b;color: #fff;
text-transform: uppercase;font-size: 24px;padding: 10px 20px;margin-top: 5px;border-color: #a7b39b;}
[type="checkbox"]:not(:checked)+label:after {opacity: 0;transform: scale(0);}
[type="checkbox"]:checked+label:after {opacity: 1;transform: scale(1);}
[type="checkbox"]:disabled:not(:checked)+label:before,
[type="checkbox"]:disabled:checked+label:before {box-shadow: none;border-color: #bbb;background-color: #ddd;}
[type="checkbox"]:disabled:checked+label:after {color: #999;}
[type="checkbox"]:disabled+label {color: #aaa;}
[type="checkbox"]:checked:focus+label:before,
[type="checkbox"]:not(:checked):focus+label:before {border: 2px dotted blue;}
span.input-icon {position: absolute;left: 13px;top: 10px;}
label:hover:before {border: 2px solid #4778d9!important;}
.checkbox-div {float: left;position: relative;}
.checkbox-div label {font-size: 16px !important;}
.login-form .checkbox-div label {font-size: 18px;float: left;color: #000;pointer-events: initial;position: initial;}
a.forgot {font-size: 16px;float: right;color: #000;}
.inner-login button.btn.login-btn {float: left;width: 100%;border-radius: 8px;background: #738c72;color: #fff;text-transform: uppercase;
font-size: 20px;padding: 13px 20px;margin-top: 10px;}
.form-group.btn-div {margin-bottom: 0;}
.form-group {margin-bottom: 30px;float: left;width: 100%;position: relative;}
.left-infograph img {max-width: 80%;}
a.logo img {width: 260px;margin-bottom: 40px;}
/*====== Login page css Close ==========*/

/*====== Dashboard page css start ==========*/
.top-nav {background: #ffffff;box-shadow: 0px 0px 5px #d0d0d0;padding: 8px 15px 2px;position: fixed;left: 0;right: 0;z-index: 99;text-align: left;}
.top-nav a {margin:0;float: left;}
.top-nav a img{max-width: 180px;}
ul.top-navigation {float: left;margin-left: 160px;}
ul.top-navigation li {float: left;margin-right: 10px;padding: 0px 15px;position: relative;}
ul.top-navigation li a {font-size: 18px;color: #000;}
ul.top-navigation li a img {width: auto;filter: brightness(0);margin-right: 10px;}
ul.top-navigation li a {font-size: 18px;color: #000;padding:15px 0;position: relative;}
ul.top-navigation li a:hover img, ul.top-navigation li a.active img {width: auto;filter: none;}
ul.top-navigation li a:hover, ul.top-navigation li a.active {color: #d02826;}
ul.top-navigation li a:after {width: 100%;height: 3px;background-color: #fff;content: "";position: absolute;left: 0px;bottom: -20px;}
ul.top-navigation li a:hover:after, ul.top-navigation li a.active:after{background-color:#d02826 }
.dropdown-item strong {display: block;font-weight: 400;color: #8c8a8a;}
.top-nav img {margin-bottom: 0!important;width: auto;}
.top-nav .dropdown {display: inline-block;float: right;}
.top-nav .dropdown span {width: 55px;height: 55px;background: #ddd;display: inline-block;border-radius: 50%;overflow: hidden;
margin-right: 10px;border: 1px solid #ddd;}
.top-nav .dropdown span img {width: 100%;height: 100%;object-fit: cover;}
.top-nav .dropdown button {text-align: left;background: none;border: 0;padding: 0;vertical-align: top;}
.top-nav .dropdown button h3 {color: #000000;font-size: 17px;margin: 15px 0;}
.top-nav .dropdown button h4 {color: #606060;font-size: 15px;}
.top-nav .dropdown button:focus {box-shadow: none;}
.top-nav .btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {background: none;border: 0;box-shadow: none;}
.top-nav .btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show>.btn-secondary.dropdown-toggle:focus {box-shadow: none;}
.top-nav .dropdown-toggle::after {content: ""!important;background-image: url(../images/down-arrow.png);width: 17px;
height: 10px!important;position: absolute;right: 0;top: 22px;height: 8px;background-repeat: no-repeat;}
.right-head-div {float: right;width: 50%;text-align: right;position: relative;}
.dropdown-menu.show {padding: 0;margin: 0 0;top: 10px !important;}
.top-nav .dropdown-toggle::after {display: inherit;margin-left: 0;vertical-align: 0;content: "";border-top: inherit;
border-right: inherit;border-bottom: 0;border-left: inherit;}
.top-nav .dropdown {padding-right: 30px;margin: 5px 0;}
.left-bar {padding: 35px 20px;background: #ffffff;background-image: none;color: #fff;height: calc(100vh - 80px);
z-index: 99;width: 300px;vertical-align: top;position: fixed;top: 80px;padding:5px 0px 30px;bottom: 0;left: 0;display: block;overflow-x: hidden;box-shadow: 5px 0px 5px -5px #d0d0d0;}
.left-bar li {margin-bottom: 0px;text-align: left;float: left;width: 100%;}
.left-bar  ul {float: left;width: 100%;margin-top: 30px;}
.left-bar li img {margin-right: 10px;margin-bottom: 0;}
.left-bar li a {font-size: 18px;color: #000000;float: left;width: 100%;line-height: 54px;padding: 1px 10px;background: white;
margin-bottom: 22px;border-radius: 0;border-left: 3px solid transparent;;}
.left-bar li a img {width: 28px;}
.left-bar li a:hover {color: #242424;background: #e2f3ea;border-left:3px solid #738c72;} 
.left-bar li a.active {color: #242424;background: #e2f3ea;border-left:3px solid #738c72;}
.left-bar li a.active img {filter: none;}
.left-bar li a:hover img {filter: none;}
.right-main {width: 100%;display: inline-block;padding-left: 330px;min-height: calc(100vh - 140px);max-height: calc(100vh - 140px);padding-top: 110px;padding-right: 20px;}
.right-main-inn {border-radius: 5px;height: 100%;}
.dashboar-top-box {background: #fff;border-radius: 13px;box-shadow: 0 0px 3px #ccc;padding: 24px 20px 20px;box-sizing: border-box;float: left;width: 100%;}
.dashboar-top-box .left-div-box {float: left;width: 60%;}
.dashboar-top-box span.right-box-icon {float: right;}
.dashboar-top-box .left-div-box h5 {font-size: 18px;color: #888888;font-weight: 400;}
.dashboar-top-box .left-div-box h1 {font-size: 40px;font-weight: 500;color: #000;float: left;margin-top: 9px;}
.dashboard-datepicker {float: left;width: 100%;margin: 35px 0;}
.dashboard-datepicker div#reportrange {float: left;width: 440px !important;border: 2px solid #d6d6d6;height: 58px;border-radius: 7px;background: #fff;padding: 16px 44px 11px 9px;font-size: 17px;position: relative;}
.dashboard-datepicker div#reportrange i.calendar {float: right;position: absolute;right: 10px;top: 8px;}
.btn.filter {background: #d02826;color: #fff;font-size: 16px;padding: 10px 9px;height: 49px;margin: 1px 0 0 10px;border-radius: 6px;display: inline-block;float: left;font-weight: 500;}
a.btn.filter.back {background: #000;}
input.form-control {float: left;width: 100%;border: 2px solid #d6d6d6;height: 52px;border-radius: 7px !important;background: #fff;padding: 12px 37px 11px 9px;font-size: 17px;position: relative;}
i.fa.fa-clock {color: #989898;font-size: 22px;}
.form-group.add-job span.input-group-addon {position: absolute;right: 10px;top: 14px;}
.dashboad-main-inner {float: left;width: 100%;}
.graph-heading h2 {font-size: 21px;font-weight: 400;padding: 10px 0 18px;}
.dashboad-main-inner.left-dashboard {background: #fff;border-radius: 13px;box-shadow: 0 0px 3px #ccc;box-sizing: border-box;float: left;width: 100%;margin-top: 30px;}
.graph-heading {float: left;width: 100%;margin-top: 20px;}
.graph-outer-div {background: #fff;border-radius: 13px;box-shadow: 0 0px 3px #ccc;box-sizing: border-box;float: left;
width: 100%;margin-bottom: 5px;}
ul.recent-users {float: left;width: 100%;}
ul.recent-users li {float: left;width: 100%;padding: 8px 20px;}
ul.recent-users li span.images {float: left;width: 50px;height: 50px;border-radius: 50%;overflow: hidden;}
ul.recent-users li span.images img{width: 100%;height: 100%;object-fit: cover;}
ul.recent-users li .user-detail {float: left;width: 60%;padding: 15px 12px;}
.time-date {float: right;font-size: 15px;color: #615f5f;line-height: 49px;}
ul.recent-users li {float: left;width: 100%;padding: 10px 20px;}
ul.recent-users li .user-detail h1 {font-size: 17px;font-weight: 400;}
ul.recent-users li .user-detail small {float: left;width: 100%;color: #7d7d7d;font-size: 15px;}
.dashboad-main-inner .heading-div-top {float: left;width: 100%;padding: 16px 20px;
border-bottom: 1px solid #dcdcdc;}
.dashboad-main-inner .heading-div-top h2 {font-size: 20px;font-weight: 400;float: left;color: #000;}
a.view {float: right;font-size: 16px;color: #000;line-height: 20px;margin: 4px 0 0;}
.dashboad-main-inner .heading-div-top span.total-re {float: right;color: #9c9c9c;font-size: 17px;line-height: 31px;}
ul.resume-list {float: left;width: 100%;padding: 15px 0;}
ul.resume-list li {float: left;width: 100%;padding: 12px 20px;}
ul.resume-list li span.file-icon {float: left;margin-right: 17px;}
ul.resume-list li .resume_name {float: left;font-size: 19px;font-weight: 500;}
ul.resume-list li .resume_name small {font-size: 14px;color: #7b7b7b;line-height: 20px;margin-top: -2px;float: left;}
ul.resume-list li span.download-icon {float: right;margin-top: 8px;}
.content {float: left;width: 100%;max-height: 225px;min-height: 225px;overflow-y: auto;}
img {max-width: 100%;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {background-color: rgb(251 215 215) !important;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {width: 6px !important;}
.mCSB_scrollTools .mCSB_draggerRail {width: 7px !important;height: 100%;margin: 0 auto;-webkit-border-radius: 16px;
-moz-border-radius: 16px;border-radius: 16px;background: #f3f2f2 !important;}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {background-color: rgb(251 215 215) !important;}
.graph-div {float: left;width: 100%;padding: 19px 15px;}
.dashboard-datepicker .btn.filter {height: 55px;margin-top: 0;margin-left: 20px;}
.recent-booking{padding:30px 0;}
.recent-booking h3{font-size:25px;color:#242424;font-weight:400;margin-bottom:25px;}
.recent-booking table th {font-size: 16px;color: #242424;font-weight: 500;border-top: 0;}
.recent-booking table td {font-size: 15px;color: #595757;font-weight: 400;border: 0;vertical-align: middle;}
.recent-booking table tr:nth-child(2n) {background-color: #f7f7f7;}
.recent-booking table button.view {width: 30px;height: 30px;background: #738c72;border: 0;border-radius: 6px;}
.recent-booking table button.view.del{margin-right: 5px;}
.recent-booking table button.edit {width: 30px;height: 30px;background: #a77065;border: 0;border-radius: 6px;margin-left:5px;}
.recent-booking table button.edit i{color: #fff;}
.recent-booking table button.view i {color: #fff;}
/*====== Dashboard page css Close ==========*/

/*====== class page css start ==========*/
.class-top h3{font-size:25px;color:#242424;font-weight:400;display:inline-block;margin:10px 0;}
.dashboard-right-top-div {float: right;text-align: right;margin-bottom: 20px;}
.dashboard-right-top-div form{display: inline-block;vertical-align: top;}
.search-div {position: relative;display: inline-block;margin-right: 8px;float: left;}
.search-div input.input-control.search-input {border: 2px solid #d6d6d6;border-radius: 8px;height: 52px;padding: 0 16px 0 40px;
position: relative;margin-top: 0;margin-bottom: 0;width: 320px;font-size: 18px;}
.search-div i.fa.fa-search {position: absolute;left: 15px;top: 18px;font-size: 17px;color: #b9b9b9;}
.dashboard-right-top-div button {background: #738c72;color: #fff;font-size: 16px;padding: 10px 20px;height: 49px;
margin: 1px 0 0 10px;border-radius: 6px;display: inline-block;border:0;font-weight: 500;}
.search-div input.input-control.search-input:focus{outline:none;}
.recent-booking.class{
width: 100%;border-radius: 10px;background: #fff;box-shadow: 0 0px 3px #dedede;padding: 10px 12px;min-height: calc(100vh - 220px);float:left;}
.recent-booking table td strong{color:#5a7719;font-weight:400;}
#create-class .modal-content {padding: 5px;border-radius:10px;}
#create-class .modal-header h5 {font-size: 25px;}
#create-class .close {font-size: 45px;font-weight: 400;color: #000;opacity: 1;}
#create-class .modal-header {border: 0;padding-bottom: 10px;}
#create-class .form-group{margin-bottom:15px;}
#create-class .form-group .form-control {height: 48px;border: 1px solid #ced4da;padding-right: 10px;font-size: 15px;}
#create-class .form-group label {font-size: 17px;color: #242424;font-weight: 500;}
#create-class .form-group span.calender-icon {font-size: 18px;position: absolute;right: 14px;top: 45px;color:#787676;}
#create-class .from-time {width: 43%;position:relative;display:inline-block;}

#create-class .from-time .alert.alert-danger{position: absolute;top: 50px;}

#create-class .from-time span.clock-icon{font-size: 18px;position: absolute;right: 15px;top: 11px;color:#787676;}
#create-class .form-group label {width: 100%;}
h5.to {display: inline-block;font-size: 16px;font-weight: 400;color: #585858;padding:13px 20px;vertical-align: top;}
#create-class .form-group .option-select {background: url(../images/select_arrow.png) 96% no-repeat #fff;
-webkit-appearance: none;-moz-appearance: none;appearance: none;padding: 0 12px;}
#create-class .form-group select#available{background: url(../images/select_arrow.png) 96% no-repeat #fff;
-webkit-appearance: none;-moz-appearance: none;appearance: none;padding: 0 12px;}
#create-class button.continue {display: block;text-align: center;margin: 15px auto 10px;font-size: 18px;color: #fff;background: #738c72;border-radius: 4px;padding: 13px 35px;border: 0;font-weight: 500;}
#create-class .modal-content #timeonly {border: 0;padding: 4px 0;background: none;}
#create-class .modal-content #timeonly:focus{box-shadow: none;}
#create-class .alert-danger {float: left;width: 100%;padding: 0;margin-bottom: 0;background: none;border: none;color: #ea0808;font-size: 13px;}

#edit-class .modal-content {padding: 5px;border-radius:10px;}
#edit-class .alert-danger {float: left;width: 100%;padding: 0;margin-bottom: 0;background: none;border: none;color: #ea0808;font-size: 13px;}

#edit-class .modal-header h5 {font-size: 25px;}
#edit-class .close {font-size: 45px;font-weight: 400;color: #000;opacity: 1;}
#edit-class .modal-header {border: 0;padding-bottom: 10px;}
#edit-class .form-group{margin-bottom:15px;}
#edit-class .form-group .form-control {height: 48px;border: 1px solid #ced4da;padding-right: 10px;font-size: 15px;}
#edit-class .form-group .form-control.calender{padding-right: 35px;}
#edit-class .form-group label {font-size: 17px;color: #242424;font-weight: 500;}
#edit-class .form-group span.calender-icon {font-size: 18px;position: absolute;right: 14px;top: 45px;color:#787676;}
#edit-class .from-time {width: 43%;position:relative;display:inline-block;}
#edit-class .from-time span.clock-icon{font-size: 18px;position: absolute;right: 15px;top: 11px;color:#787676;}
#edit-class .form-group label {width: 100%;}
h5.to {display: inline-block;font-size: 16px;font-weight: 400;color: #585858;padding:13px 20px;vertical-align: top;}
#edit-class .form-group .option-select {background: url(../images/select_arrow.png) 96% no-repeat #fff;
-webkit-appearance: none;-moz-appearance: none;appearance: none;padding: 0 12px;}
#edit-class .form-group select#available{background: url(../images/select_arrow.png) 96% no-repeat #fff;
-webkit-appearance: none;-moz-appearance: none;appearance: none;padding: 0 12px;}
#edit-class button.continue {display: block;text-align: center;margin: 15px auto 10px;font-size: 18px;color: #fff;background: #738c72;border-radius: 4px;padding: 13px 35px;border: 0;font-weight: 500;}
#edit-class .modal-content #timeonly {border: 0;padding: 4px 0;background: none;}
#edit-class .modal-content #timeonly:focus{box-shadow: none;}

#view-class .modal-dialog{max-width: 600px;}
#view-class .modal-content {padding: 5px;border-radius:10px;border: 0;}
#view-class .modal-header h5 {font-size: 25px;}
#view-class .close {font-size: 45px;font-weight: 400;color: #000;opacity: 1;}
#view-class .modal-header {border: 0;padding-bottom: 10px;}
#view-class li{display:block;margin-bottom:0px;}
#view-class li:nth-child(2n){background-color: #f7f7f7;}
#view-class li label{font-size:15px;color:#242424;font-weight:500;display:inline-block;width:35%;margin: 0;padding: 12px 11px;vertical-align: middle;}
#view-class li p{font-size:15px;color: #4B4949;font-weight:400;display:inline-block;width: 63%;vertical-align: middle;}
#view-class li:last-child{margin-bottom:0;}
#view-class li p strong{color: #5a7719;font-weight: 400;}
#view-class .session-box{background-color: #fff;border: 1px solid #e0dfdf;margin-bottom: 15px;padding: 8px;font-size: 14px;border-radius: 10px;font-weight: 500;}
#view-class .session-box p{width:100%;font-size: 13px;}
#view-class .modal-body{max-height: 650px;overflow: auto;}
#view-class li.more-session label{font-size: 15px;margin-top: 5px;padding: 0 0 8px;width: 100%;}
#view-class li.more-session {background: none;}
/*====== class page css close ==========*/

/*====== category page css start ==========*/
.category-image{width:55px;height:55px;background:#ddd;border-radius:8px;overflow:hidden;}
.category-image img {width: 100%;height: 100%;object-fit: cover;}
.recent-booking.class.category td{vertical-align:middle;}
#add-category .modal-content {padding: 5px;border-radius:10px;}
#add-category .modal-header h5 {font-size: 25px;}
#add-category .close {font-size: 45px;font-weight: 400;color: #000;opacity: 1;}
#add-category .modal-header {border: 0;padding-bottom: 10px;}
#add-category .upload-image {text-align: center;}
#add-category .upload-img{width:110px;height:110px;background:#ddd;border-radius:50%;overflow:hidden;display:inline-block;}
#add-category .upload-img img{width: 100%;height: 100%;object-fit: cover;}
#add-category input[type="file"] {display: none;}
.custom-file-upload{font-size:15px;color:#595757;border: 1px solid #489a70;border-radius: 6px;padding: 12px 20px;cursor:pointer;margin: 20px auto 30px;}
.custom-file-upload i{font-size:20px;color:#489a70;margin-right: 5px;}
#add-category .form-group{margin-bottom:20px;}
#add-category .form-group .form-control {height: 48px;border: 1px solid #ced4da;}
#add-category .form-group label {font-size: 17px;color: #242424;font-weight: 500;display: block;}
#add-category .form-group .option-select {background: url(../images/select_arrow.png) 96% no-repeat #fff;
-webkit-appearance: none;-moz-appearance: none;appearance: none;padding: 0 12px;}
#add-category button.continue {display: block;text-align: center;margin: 15px auto 10px;font-size: 18px;color: #fff;background: #738c72;border-radius: 4px;padding: 13px 35px;border: 0;font-weight: 500;}
#add-category .alert-danger{float: left;width: 100%;padding: 0;margin-bottom: 0;background: none;border: none;color: #ea0808;font-size: 13px;}
#add-category .cst-type-inner input {float: left;margin: 4px 0;}
#add-category .cst-type-inner label{margin: 0;padding-left: 8px;font-weight: normal;font-size: 16px;color: #495057;}

#edit-category .modal-content {padding: 5px;border-radius:10px;}
#edit-category .alert-danger {float: left;width: 100%;padding: 0;margin-bottom: 0;background: none;border: none;color: #ea0808;font-size: 13px;}

#edit-category .cst-type-inner input {float: left;margin: 4px 0;}
#edit-category .form-group .cst-type-inner label{margin: 0;padding-left: 8px;font-weight: normal;font-size: 16px;color: #495057;}

#edit-category .modal-header h5 {font-size: 25px;}
#edit-category .close {font-size: 45px;font-weight: 400;color: #000;opacity: 1;}
#edit-category .modal-header {border: 0;padding-bottom: 10px;}
#edit-category .upload-image {text-align: center;}
#edit-category .upload-img{width:110px;height:110px;background:#ddd;border-radius:50%;overflow:hidden;display:inline-block;}
#edit-category .upload-img img{width: 100%;height: 100%;object-fit: cover;}
#edit-category input[type="file"] {display: none;}
.custom-file-upload{font-size:15px;color:#595757;border: 1px solid #489a70;border-radius: 6px;padding: 12px 20px;cursor:pointer;margin: 20px auto 30px;}
.custom-file-upload i{font-size:20px;color:#489a70;margin-right: 5px;}
#edit-category .form-group{margin-bottom:20px;}
#edit-category .form-group .form-control {height: 48px;border: 1px solid #ced4da;}
#edit-category .form-group label {font-size: 17px;color: #242424;font-weight: 500;}
#edit-category .form-group .option-select {background: url(../images/select_arrow.png) 96% no-repeat #fff;
-webkit-appearance: none;-moz-appearance: none;appearance: none;padding: 0 12px;}
#edit-category button.continue {display: block;text-align: center;margin: 15px auto 10px;font-size: 18px;color: #fff;background: #738c72;border-radius: 4px;padding: 13px 35px;border: 0;font-weight: 500;}
.recent-booking.class.manage-booking {margin-top:15px;}
.recent-booking table td strong.received{color:#4c6d03;}
.recent-booking table td strong.pending{color:#cb2027;}

#view-category .modal-content {padding: 5px;border-radius:10px;}
#view-category .modal-header h5 {font-size: 25px;}
#view-category .close {font-size: 45px;font-weight: 400;color: #000;opacity: 1;}
#view-category .modal-header {border: 0;padding-bottom: 10px;}
#view-category li{display:block;margin-bottom:8px;}
#view-category li label{font-size:15px;color:#242424;font-weight:500;display:inline-block;width:35%;}
#view-category li p{font-size:15px;color: #595757;font-weight:400;display:inline-block;width: 63%;}
#view-category li:last-child{margin-bottom:0;}
#view-category li .category-image {width: 100px;height: 100px;background: #ddd;border-radius: 8px;overflow: hidden;margin-bottom:15px;}
/*====== category page css close ==========*/

/*====== my music page css start ==========*/
.music-inner {max-width: 65%;margin: 50px auto;}
.music-calender{margin-bottom:60px;}
.today-session {margin-bottom: 30px;float: left;width:100%;}
.today-session h4{font-size:25px;margin-bottom:20px;color:#242424;}
.today-session li{box-shadow: 0 0px 3px #dedede;padding:12px 18px;border-radius:4px;float: left;width: 100%;margin-bottom:20px;}
.today-session li h3{font-size:20px;color:#242424;margin:8px 0;display:inline-block;}
.today-session li .custom-file-upload {font-size: 14px;color: #242424;border: 1px solid #242424;border-radius: 6px;
padding: 10px 20px;cursor: pointer;float:right;margin:0;}
.today-session li .custom-file-upload i{color: #242424;}
.today-session li input[type="file"] {display: none;}

.music-inner .p-calendar{width:60%;margin: auto;display: block;}
.music-inner .p-datepicker{padding: 0;}
.music-inner .p-datepicker table td.p-datepicker-today > span{background: #738c72;color: #fff;}
.music-inner .p-datepicker table td > span.p-highlight{background: none;color: #000;}
.music-inner .p-datepicker table td > span.p-highlight::after{content: "";width: 7px;height: 7px;background: #54c45a;border-radius: 50%;
position: absolute;bottom: 0px;}
.music-inner .p-datepicker table td.p-datepicker-today > span.p-highlight{background: #738c72;color: #fff;}
.music-inner .p-datepicker:not(.p-disabled) table td span:not(.p-highlight):not(.p-disabled):hover {background:none;}
.music-inner .p-datepicker table td.p-datepicker-today > span:hover{background: #738c72!important;}
.music-inner .p-datepicker table th{text-align: center;}
.music-inner .p-calendar table tr:nth-child(2n) {background-color: #fff;}
.music-inner .p-datepicker table td > span{color: #000;pointer-events: none;}
.music-inner .p-datepicker .p-datepicker-header .p-datepicker-prev, .p-datepicker .p-datepicker-header .p-datepicker-next{background: #738c72!important;color: #fff!important;}
.music-inner .p-datepicker .p-datepicker-header .p-datepicker-prev:enabled:hover, .p-datepicker .p-datepicker-header .p-datepicker-next:enabled:hover{background: #738c72;color: #fff;}
.music-inner .p-datepicker-next.p-link.ng-tns-c56-0.p-ripple.ng-star-inserted{background: #738c72;color: #fff;}
.music-inner .p-datepicker .p-datepicker-header .p-datepicker-prev:focus, .p-datepicker .p-datepicker-header .p-datepicker-next:focus{box-shadow: none!important;}
.p-datepicker .p-datepicker-header .p-datepicker-title{font-size: 20px;color: #242424;}
.music-inner .p-component {font-family: inherit;}
.music-inner .p-datepicker .p-datepicker-header{padding: 10px;}	 
.recent-booking.class.my-music input.form-control{height: 50px;border: 1px solid #ced4da;padding-right: 8px;font-size: 15px;width: 80%;}
.recent-booking.class.my-music .custom-file-upload{margin: 0;padding: 11px 25px 36px 25px;}
.recent-booking.class.my-music .today-session li{box-shadow: none;}
.recent-booking.class.my-music .today-session, .today-session li{justify-content: flex-start;}
.recent-booking.class.my-music .custom-file-upload.custom-file-upload-inner {padding-left: 0;padding-bottom: 0;}
.recent-booking.class.my-music .today-session li{padding: 0;}
.recent-booking.class.my-music span.close-sb {position: absolute;top: -5px;right: 5px;z-index: 99999;}
.recent-booking.class.my-music span.close-sb i.fa-minus-circle {font-size: 25px;color: red;}
.recent-booking.class.my-music .upload_music_loader_app{width: 50px !important;height: 50px !important;}
/*====== my music page css close ==========*/

/*====== add tutor page css start ==========*/
#add-tutor .modal-content {padding: 5px;border-radius:10px;}
#add-tutor .modal-header h5 {font-size: 25px;}
#add-tutor .close {font-size: 45px;font-weight: 400;color: #000;opacity: 1;}
#add-tutor .modal-header {border: 0;padding-bottom: 10px;}
#add-tutor .upload-image {text-align: center;}
#add-tutor .upload-img{width:110px;height:110px;background:#ddd;border-radius:50%;overflow:hidden;display:inline-block;}
#add-tutor .upload-img img{width: 100%;height: 100%;object-fit: cover;}
#add-tutor input[type="file"] {display: none;}
.custom-file-upload{font-size:15px;color:#595757;border: 1px solid #738c72;border-radius: 6px;padding: 12px 20px;cursor:pointer;margin: 20px auto 30px;}
.custom-file-upload i{font-size:20px;color:#738c72;margin-right: 5px;}
#add-tutor .form-group{margin-bottom:15px;}
#add-tutor .form-group .form-control {height: 48px;border: 1px solid #ced4da;font-size: 15px;}
#add-tutor .form-control.textarea {min-height: 100px;}
#add-tutor .form-group label {font-size: 17px;color: #242424;font-weight: 500;}
#add-tutor button.continue {display: block;text-align: center;margin: 15px auto 10px;font-size: 18px;color: #fff;background: #738c72;border-radius: 4px;padding: 13px 35px;border: 0;font-weight: 500;}
#add-tutor .alert-danger {float: left;width: 100%;padding: 0;margin-bottom: 0;background: none;border: none;color: #ea0808;font-size: 13px;}

#view-tutor .modal-content {padding: 5px;border-radius:10px;}
#view-tutor .modal-header h5 {font-size: 25px;}
#view-tutor .close {font-size: 45px;font-weight: 400;color: #000;opacity: 1;}
#view-tutor .modal-header {border: 0;padding-bottom: 10px;}
#view-tutor li{display:block;margin-bottom:8px;}
#view-tutor li label{font-size:15px;color:#242424;font-weight:500;display:inline-block;width:35%;}
#view-tutor li p{font-size:15px;color: #595757;font-weight:400;display:inline-block;width: 63%;}
#view-tutor li:last-child{margin-bottom:0;}

#edit-tutor .modal-content {padding: 5px;border-radius:10px;}
#edit-tutor .modal-header h5 {font-size: 25px;}
#edit-tutor .close {font-size: 45px;font-weight: 400;color: #000;opacity: 1;}
#edit-tutor .modal-header {border: 0;padding-bottom: 10px;}
#edit-tutor .form-group{margin-bottom:15px;}
#edit-tutor .form-group .form-control {height: 48px;border: 1px solid #ced4da;}
#edit-tutor .form-control.textarea {min-height: 100px;}
#edit-tutor .form-group label {font-size: 17px;color: #242424;font-weight: 500;}
#edit-tutor button.continue {display: block;text-align: center;margin: 15px auto 10px;font-size: 18px;color: #fff;background: #489a70;border-radius: 4px;padding: 13px 35px;border: 0;font-weight: 500;}
/*====== add tutor page css close ==========*/


/*============================== admin css close =============================*/





/*====== media css start ==========*/

@media only screen and (max-width: 1599px) {
.banner{background-position: center;height: 700px;}
.banner-text{padding: 205px 0;}
.service-text h3 {font-size: 21px;}
.service-text p{margin:12px 0 15px;}
.service-main{min-height:255px;}

/*====== mindful booking page media css start ==========*/	
.container{max-width: 1270px;}
.select-class {margin-bottom: 20px;} 
.booking-main .heading {margin: 0 0 25px;}
.booking-main{padding: 40px 0 0;}
.heading h2 {font-size: 32px;}
.select-class h3 {font-size: 22px;margin: 0 0 15px;}
.checkmark h5{font-size:16px;}
li.border_user h5 {font-size: 16px;}
.add-sibling{font-size:15px;}
li.border_user.slot h5 {font-size: 16px;}
.book-now{font-size:16px;}
.summary h4{font-size:17px;}
.heading{margin: 0 0 40px;}
li.border_user{padding:20px 0;}
/*====== mindful booking page media css close ==========*/

/*====== mindful musicians page css start ==========*/
.team-box-text{min-height: 320px;}
.team-box-text h3{margin-bottom: 10px;}
.team-box-text p {font-size: 14px;}
.faq-right{padding: 20px;}
.faq-right h3 {font-size: 32px;}
.faq-right li {font-size: 16px;}
/*====== mindful musicians page css close ==========*/

/*====== dashboard page css start ==========*/	
.min-height.booking-min {min-height: 715px;}
/*====== dashboard page css close ==========*/	

 
}


@media only screen and (max-width: 1440px) {

/*====== navbar css start ==========*/
.header .navbar.navbar-expand-lg.navbar-light .nav-item {margin: 0 15px;}
/*====== navbar css close ==========*/

/*====== admin dashboard page css start ==========*/	
.dashboar-top-box{padding: 20px;}
.dashboar-top-box .left-div-box{width:70%;}
.dashboar-top-box .left-div-box h5 {font-size: 16px;}
.dashboar-top-box .left-div-box h1 {font-size: 35px;}
.dashboad-main-inner .heading-div-top h2 {font-size: 18px;}
a.view{font-size: 14px;}
ul.recent-users li .user-detail h1{font-size: 15px;}
.time-date{font-size: 14px;}
ul.recent-users li span.images{width: 45px;height: 45px;}
/*====== admin dashboard page css close ==========*/

/*====== admin my music page css start ==========*/	
.music-inner .p-calendar {width: 65%;}
/*====== admin my music page css close ==========*/

/*====== neurodynamic music therapy page css start ==========*/
.benefits-music-therapy-left{width: 60%;}
/*====== neurodynamic music therapy page css close ==========*/

}


@media only screen and (max-width: 1366px) {

/*====== navbar css start ==========*/
.header .navbar.navbar-expand-lg.navbar-light .nav-item {margin: 0 10px;}
/*====== navbar css close ==========*/	

/*====== admin dashboard page css start ==========*/	
.right-box-icon img {max-width: 65px;}
.dashboar-top-box .left-div-box h1{margin-top: 5px;}
.time-date {font-size: 13px;}
/*====== admin dashboard page css close ==========*/

/*====== admin classes page css start ==========*/	
.recent-booking table th {font-size: 15px;}
.recent-booking table td {font-size: 13px;vertical-align: middle;}
/*====== admin classes page css close ==========*/

/*====== admin my music page css start ==========*/	
.music-inner .p-calendar {width: 75%;}
/*====== admin my music page css close ==========*/
	
}


@media only screen and (max-width: 1280px) {

/*====== navbar css start ==========*/
.header .navbar.navbar-expand-lg.navbar-light .nav-link {font-size: 15px;} 
.header .navbar.navbar-expand-lg.navbar-light .nav-item {margin: 0 8px;}
/*====== navbar css close ==========*/		

/*====== admin dashboard page css start ==========*/	
.table td, .table th{padding: 8px;}
.left-bar li a {font-size: 16px;}
.dashboar-top-box .left-div-box h5 {font-size: 14px;}
.dashboar-top-box .left-div-box h1 {font-size: 30px;}
ul.recent-users li .user-detail{width:50%;}
ul.recent-users li{padding: 5px 15px;}
/*====== admin dashboard page css close ==========*/

/*====== admin classes page css start ==========*/	
.recent-booking table td.class-name{width:20%;}
.recent-booking table td.category-name{width:20%;}

/*====== admin classes page css close ==========*/

/*====== admin my music page css start ==========*/	
.music-inner .p-calendar {width: 85%;}
.today-session h4 {font-size: 22px;}
.today-session li h3 {font-size: 18px;}
/*====== admin my music page css close ==========*/


}


@media only screen and (max-width: 1024px) {
/*====== home page css start ==========*/	
.mission {padding: 50px 0;}
.mission-img{height: 450px;}
.mission-left::after{bottom: 100px;}
.mission-text {padding-left: 0;}
.mission-text .heading{margin-bottom: 10px;}
.mission-text p {font-size: 14px;line-height: 22px;}
.mission-text .book-now-btn{font-size: 15px;}
.service {padding: 50px 0;}
.service-main{padding: 30px 15px;}
.service-text h3 {font-size: 18px;}
.service-text p{font-size: 13px; line-height: 20px;}
.service-text a{font-size: 13px;}
/*====== home page css close ==========*/	

/*====== about us page css start ==========*/	
.mission.about .mission-img {height: 380px;}
.about-text h3{margin: 10px 0;}
.who-we-are{padding: 50px 0;}
.mission.about .mission-left::after {bottom: -50px;}
/*====== about us page css close ==========*/

/*====== mindful musicians page css start ==========*/
.faq-right::after{background-size: 85%;}
.faq-right{margin-left: 20px;}
.faq-right h3 {font-size: 25px;}
.faq-right li {font-size: 14px;}
.faq-right button{font-size: 15px;margin-top: 15px;}
.faq .btn.btn-link{font-size: 21px;}
.team-box-text h3 {font-size: 22px;}
/*====== mindful musicians page css close ==========*/

/*====== neurodynamic music therapy page css start ==========*/
.booking-main.music-therapy .mission-img {height: 420px;}
.music-therapy-right p{line-height: 25px;}
.one-one li {font-size: 17px;margin-bottom: 10px;}
/*====== neurodynamic music therapy page css close ==========*/

/*====== my payment page css start ==========*/
.item-add{padding: 20px;}
.billing-method{padding: 20px;}
.payment-right{padding: 20px;}
/*====== my payment page css close ==========*/

/*====== dashboard page css start ==========*/	
.dashboard-box{padding: 20px 15px;}
.dashboard-box h4 {font-size: 18px;}
.dashboard-box p{min-height: 125px;}
.dashboard-box p br {display: none;}
.today-schedule.payment-history table th {font-size: 15px;}
.today-schedule.payment-history table td {font-size: 14px;}
.payment-history table button.view{margin-bottom: 5px;}
/*====== dashboard page css close ==========*/	

/*====== mindful booking page media css start ==========*/	
.booking-inn .checkmark{padding: 18px 30px;}  
.select-class.book-slot .col-sm-3.time-slot {max-width: 33%;flex: auto;width: 33%;}
/*====== mindful booking page media css close ==========*/

}


@media only screen and (max-width: 991px) {
/*====== navbar css start ==========*/
.header .navbar-nav.mr-auto {text-align: right;}
.header .navbar.navbar-expand-lg.navbar-light .nav-link{margin-bottom: 5px;}
.header .navbar.navbar-expand-lg.navbar-light .nav-link.login{width: auto;text-align: right;background: none;font-size: 15px;
color: #242424;font-weight: 500;padding: 0;padding-bottom: 0px;text-transform: capitalize !important;padding-bottom: 0px;}
.header .dropdown{text-align: right;}
.header .dropdown-menu{right: 0; left: auto;}
/*====== navbar css close ==========*/

}


@media only screen and (max-width: 896px) {
/*====== home page css start ==========*/	
.service-text p br{display: none;}
.footer .subscribe{padding: 0 15px;}
.footer-left.contact li{word-wrap: break-word;}
/*====== home page css close ==========*/

/*====== mindful musicians page css start ==========*/	
.faq-right{margin-left: 0;padding: 15px;}
.faq-right li{font-size: 13px;}
.faq-right::after{width: auto;}
.mindful-calender .p-datepicker table td {padding: 0;}
/*====== mindful musicians page css close ==========*/

	
}


 
@media only screen and (max-width: 768px) {
/*====== home page css start ==========*/	
.mission-img{height: 300px;}
.mission-left::after{bottom: 300px;}
.service-main{min-height: 382px;}
.service-text h3{min-height: 45px;}
.footer{padding: 50px 0 40px;}
.footer .col-sm-4{flex: auto;max-width: 50%;}
.footer .col-sm-2{flex: auto;max-width: 50%;}
.footer .col-sm-3{flex: auto;max-width: 50%;}
.footer .col-sm-3{flex: auto;max-width: 50%;}
/*====== home page css close ==========*/	

/*====== about us page css start ==========*/	
.mission.about .mission-img {height: 310px;}
.mission.about .mission-left::after {bottom: -50px;}
.about-text {padding-left: 0;}
.about-text h3 {font-size: 45px;}
.about-text p{font-size: 15px;line-height: 25px;}
.who-we-are.donation .donation-img{height: 320px;}
.who-we-are.donation .about-text ul{margin: 5px 0;}
.about-text a{padding: 10px;}
.mission.about .heading{margin: 0 0 50px;}
/*====== about us page css close ==========*/

/*====== mindful musicians page css start ==========*/
.benefits-music-therapy.registration {height: 320px;}
.mindful-schedule-main .col-sm-6 {flex: auto;max-width: 100%;}
.mindful-calender {margin-top: 30px;}
.faq {padding: 50px 0;}
.faq.mindful .col-sm-8{flex: auto;max-width: 100%;}
.faq.mindful .faq-right {margin-left: 0;}
.faq.mindful .col-sm-4 {flex: auto;max-width: 40%;}
.meet-team .col-sm-4{flex: auto;max-width: 100%;}
.meet-team .team-img{height: auto;}
.meet-team .team-box-text {min-height: auto;}
.meet-team .team-box{margin-bottom: 35px;}
.benefits-music-therapy.registration .benefits-music-therapy-right{position: absolute;}
/*====== mindful musicians page css close ==========*/

/*====== neurodynamic music therapy page css start ==========*/
.music-therapy-top .col-sm-5{flex: auto;max-width: 100%;}
.booking-main.music-therapy .mission-img {height: 500px;}
.music-therapy-top .col-sm-7{flex: auto;max-width: 100%;}
.music-therapy-right {margin-top: 20px;}
.benefits-music-therapy{height: auto;}
.benefits-music-therapy-left {width: 100%;}
.benefits-music-therapy-right {width: 100%;position: relative;}
.music-therapy-top {padding: 0 0 50px;}
/*====== neurodynamic music therapy page css close ==========*/

/*====== contact us page css start ==========*/
.mission.contact .col-sm-6{flex: auto;max-width: 100%;}
.mission.contact .contact-left {margin-bottom: 30px;}
.mission.contact .contact-right{padding: 20px;}
/*====== contact us page css close ==========*/

/*====== Booking details page css start ==========*/
.booking-inn{padding: 20px;}
.booking-inn .nav-link{font-size: 15px;padding: 18px 10px;}
.select-class.book-slot .col-sm-3.time-slot {max-width: 50%;flex: auto;width: 50%;}
.book_slot_form .select-class li {width: 45%;}
/*====== Booking details page css close ==========*/

/*====== dashboard page css start ==========*/	
.dashboard-box p{min-height: 150px;}
.today-schedule.payment-history table th {font-size: 14px;}
.today-schedule.payment-history table td{font-size: 13px;}
.payment-history table button.view{margin-bottom: 5px;} 
.min-height.booking-min {min-height: 500px;}
/*====== dashboard page css close ==========*/	


}


@media only screen and (max-width: 667px) {
/*====== home page css start ==========*/	
.mission-img {height: 250px;}
.mission-left::after {bottom: 440px;}
.service .col-sm-4{max-width: 100%;flex: auto;}
.service-main{margin-bottom: 25px;}
.footer-bottom ul{float: left;}
/*====== home page css close ==========*/

/*====== Booking details page css start ==========*/
.select-class li.time-slot {width: 45%;} 
/*====== Booking details page css close ==========*/

.faq.mindful .col-sm-4 {max-width: 60%;}

}


@media only screen and (max-width: 480px) {
/*====== home page css start ==========*/	
.mission {margin-bottom: 0;}
.mission-left::after {bottom: -50px;}
.mission-text{margin-top: 15px;}
.service-main{margin-bottom: 25px;min-height: auto;}
.service-text h3 {min-height: auto;}
.footer .col-sm-4{flex: auto;max-width: 100%;}
.footer .col-sm-2{flex: auto;max-width: 100%;}
.footer .col-sm-3{flex: auto;max-width: 100%;}
.footer .col-sm-3{flex: auto;max-width: 100%;}
.footer-left {margin-bottom: 30px;}
.footer-bottom ul{float: left;}
.footer-bottom h4{margin-bottom: 10px;}
/*====== home page css close ==========*/	

/*====== about us page css start ==========*/	
.who-we-are {padding: 0 0 50px;}
.who-we-are .about-text{margin-bottom: 15px;padding: 0;}
.mission.about .mission-img {height: auto;}
.who-we-are.donation .donation-img {height: auto;}
.who-we-are.donation .about-text p {width: 100%;}
.about-text a{font-size: 13px;width:100%;}
/*====== about us page css close ==========*/

/*====== mindful musicians page css start ==========*/
.benefits-music-therapy.registration {height: auto;}
.benefits-music-therapy.registration .benefits-music-therapy-left {width: 100%;}
.benefits-music-therapy.registration .benefits-music-therapy-right {width: 100%;position: relative;}
.faq.mindful .col-sm-4 {flex: auto;max-width: 100%;}
.mindful-calender-image{height: auto;margin-top: 20px;}
/*====== mindful musicians page css close ==========*/

/*====== neurodynamic music therapy page css start ==========*/
.booking-main.music-therapy .mission-img{height: auto;}
/*====== neurodynamic music therapy page css close ==========*/

/*====== neurodynamic music therapy page css start ==========*/
.benefits-music-therapy.expectations.rooted-private {height: auto;}
.benefits-music-therapy.expectations.rooted-private{padding: 40px 0 0;}
.benefits-music-therapy.expectations.rooted-private .benefits-music-therapy-left{padding: 0 0 40px;}
/*====== neurodynamic music therapy page css close ==========*/

/*====== scholarship page css start ==========*/	
.heading h2 {font-size: 28px !important;}
.make-donation{padding: 30px 0;}
.make-donation h3{margin-right: 0;margin-bottom: 10px;display: block;}
.make-donation a{font-size: 15px;}
.scholarship-applicants{padding: 30px 0;}
.scholarship-applicants p {font-size: 18px;}
.scholarship-applicants h5 {font-size: 16px;}
/*====== scholarship page css close ==========*/	

/*====== login page css start ==========*/	
.login {padding: 50px 0;}
.login-main {width: 100%;}
/*====== login page css close ==========*/

/*====== Booking details page css start ==========*/
.booking-inn .nav-item {display: block;width: 100%;}
.booking-inn .select-class li {width: 100%;}
.booking-inn .add-sibling{margin-top: 10px;}
.booking-inn .select-class.book-slot .form-control{text-align: left;height: 18px;margin-top: -8px;}
.booking-inn li.border_user{margin-bottom: 10px;} 
.select-class.book-slot .col-sm-3.time-slot {max-width: 100%;flex: auto;width: 100%;}
.show-more{margin-bottom: 20px;}
/*====== Booking details page css close ==========*/

/*====== my payment page css start ==========*/
.item-add h2{margin-bottom: 15px;font-size: 20px;}
.item-img {width: 100px;height: 75px;margin-right: 15px;}
.item-text h3 {font-size: 18px;}
.item-text h4{font-size: 15px;margin: 5px 0;}
.item-text-right{margin-top: 5px;}
.item-text-right h4 {font-size: 15px;}
.item-text-right a{margin-top: 10px;}
.billing-method h2 {font-size: 20px;margin-bottom: 20px;}
.billing-method li {margin-bottom: 20px;padding-bottom: 20px;}
.add-payment{margin: 20px 0 40px;font-size: 15px;padding: 12px 20px;}
.pay-now{margin: 25px 0 40px;}
.item-text-right{width:100%;margin: 5px 0 0;display: block;float: none;}
.item-text-right h4 {display: inline-block;}
.item-text-right a{margin: 0;}
.item-add {padding: 15px;margin-bottom: 25px;}
.billing-method {padding: 15px !important;margin: 0 0 25px;float: left;width: 100%;}
.billing-method li{float: left;width: 100%;padding-bottom: 20px !important;position: relative;}
.billing-method .savecardcvv-checkbox{display: block !important;float: none !important;}
.billing-method .savecard-cvv.form-group {margin: 15px 0 0;}
.billing-method .savecardcvv-checkbox label.billing {margin: 10px 0;position: absolute;top: 0;right: 0;}
/*====== my payment page css close ==========*/

/*====== dashboard page css start ==========*/	
.dashboard-top {margin-bottom: 10px;}
.dashboard-box{margin-bottom: 30px;}
.dashboard-box p {min-height: auto;}
.last-week {float: left;margin-bottom: 0;}
.week-class{padding: 12px;float: left;width:100%;}
.week-class-img{width: 50px;height: 50px;margin-right: 12px;}
.week-class h4{font-size: 16px;font-size: 16px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width: 75%;}
.week-class a{font-size: 14px;margin: 15px 0;}
.week-class a i {font-size: 20px;float: left;}
.last-week .audio-outer{float: left;margin: 10px 0 0;width: 100%;}
.week-class audio{width:92%;}
#view-class li.more-session .col-sm-4{width:50%;} 
.min-height.booking-min {min-height: auto;}
.view.tooltipt.pause {margin: 0 0 5px;}
.today-schedule.payment-history .table-scroll {overflow-x: auto;}
.footer{float: left;} 

/*====== dashboard page css close ==========*/

}


@media only screen and (max-width: 414px) {
/*====== mindful musicians page css start ==========*/
.faq .btn.btn-link {font-size: 17px;}
.faq.mindful .card-body p {font-size: 14px;line-height: 22px;}
.faq .card{margin-bottom: 10px;}
/*====== mindful musicians page css close ==========*/

/*====== my payment page css start ==========*/
.billing-method li h4 {font-size: 15px;}
/*====== my payment page css close ==========*/

/*====== contact us page css start ==========*/
.contact-left p{padding-right: 0;}
/*====== contact us page css close ==========*/

/*====== my payment page css start ==========*/
.booking-image li label{width: 40%;}
.booking-image li h4{width: 60%;}
/*====== my payment page css close ==========*/


}

@media only screen and (max-width: 375px) {
/*====== dashboard page css start ==========*/	
#view-class li label{width:45%;font-size: 14px;}
#view-class li p{width: 55%;font-size: 14px;}
/*====== dashboard page css close ==========*/

}


@media only screen and (max-width: 320px) {

/*====== my payment page css start ==========*/
.item-img {width: 80px;height: 60px;margin-right: 10px;}
.item-text h3 {font-size: 16px;}
.item-text h4 {font-size: 14px;margin: 3px 0;}
.billing-method li img{max-width: 35px;}
/*====== my payment page css close ==========*/

/*====== contact us page css start ==========*/
.contact-left li span{margin-right: 8px;}
.contact-left li{font-size: 14px;}
/*====== contact us page css close ==========*/

/*====== dashboard page css start ==========*/	
#view-class .modal-body{padding: 5px;}
#view-class .session-box p{font-size: 12px;}
/*====== dashboard page css close ==========*/

	
}





/*====== media css close ==========*/