<app-header></app-header>
<div class="container">
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Categories</button>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let post of categoriesArray; let i=index;">
                <td scope="row">{{i +1}}</td>
                <td>{{post.name}}</td>
                <td>
                    <label class="switch">
                        <input (change)="changeStatus(post,$event)" type="checkbox" [checked]="post.status">
                        <span class="slider round"></span>
                    </label>
                </td>
                <td><span (click)="updateData(post.name,post.id)" class="btn btn-info btn-sl" data-toggle="modal" data-target="#myModal">Update</span><span (click)="deleteCategories(post.id)"  class="btn btn-danger btn-sl" >Delete</span></td>
            </tr>
            <!-- <tr>
                <td scope="row">2</td>
                <td>Jacob</td>
                <td>Thornton</td>
            </tr> -->
        </tbody>
    </table>
</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Categories</h4>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" name="categoryName" [(ngModel)]="categoryName">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-default" (click)="SaveCategories()" data-dismiss="modal">Save</button>
            </div>
        </div>

    </div>
</div>