@import '../../../../node_modules/primeng/resources/themes/saga-blue/theme.css';
@import '../../../../node_modules/primeng/resources/primeng.min.css';
@import '../../../../node_modules/primeicons/primeicons.css';


.modal-dialog.add-class-dialog {
    max-width: 60% !important;
}


.form-control.start_date {
z-index: 9;
}

#edit-class .form-group .form-control {
    height: 48px;
    border: 1px solid #ced4da;
    padding-right: 10px !important;
    font-size: 15px;
}

#create-class .alert, #edit-class .alert{
    position: unset;
}

.session-msg {
    background: #e2f3ea;
    padding: 10px;
    border-radius: 10px;
}

ul li.more-session ul li {
    display: inline-block !important;
    width: 33%;
}

.more-session li p{
    font-size: 14px !important;
}
