<main class="incident-report">
	<!------ top nav part Start -->
	<app-adminheader></app-adminheader>
	<!------ top nav part close -->
	<div class="container-fluid">
		<div class="row">
			<!--Sidebar-->
			<app-sidebar></app-sidebar>



			<div class="right-main">
				<div class="right-main-inn">

					<div class="dashboard-main-div">
						<div class="row">
							<div class="col-md-12">
								<div class="class-top">
									<h3>Classes</h3>

									<div class="dashboard-right-top-div">
										<form (submit)="searchClasses($event)">
											<div class="search-div">
												<input type="text" [(ngModel)]="searchText" name="searchText"
													class="input-control search-input" placeholder="Search"><i
													class="fa fa-search" aria-hidden="true"></i>
											</div>
										</form>

										<button data-toggle="modal" data-target="#create-class"
											(click)="addClass($event)">Create New Class</button>
									</div>

								</div>
								<app-siteloader></app-siteloader>
								<div class="recent-booking class dashboard-table-outer">
									<table class="table">
										<thead>
											<tr *ngIf="classArray.length > 0">
												<th scope="col">Class Name</th>
												<th scope="col">Category</th>
												<th scope="col">Date</th>
												<th scope="col">Time</th>
												<th scope="col">Tutor</th>
												<th scope="col">Action</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let post of classArray; let i=index;">
												<td class="class-name">{{post.title}}</td>
												<td class="category-name">{{post.categories.name}}</td>
												<!-- <td>{{convertData(post.start_date)}}</td> -->
												<td>{{post.start_date | date}}</td>
												<td>{{formatTime(post.start_time)}} to {{formatTime(post.end_time)}}
												</td>
												<td *ngIf="post.teacher">{{post.teacher.name}}</td>
												<td *ngIf="!post.teacher">N/A</td>
												<td><button (click)="deleteClass(post.id)" class="view del"><i
															class="fas fa-trash"></i></button>
													<button (click)="viewclass(post)" class="view" data-toggle="modal"
														data-target="#view-class"><i class="far fa-eye"></i></button>
													<button class="edit" data-toggle="modal" data-target="#edit-class"
														(click)="updateData(post,post.id)"><i
															class="fas fa-pencil-alt"></i></button>
												</td>
											</tr>

										</tbody>
									</table>
									<div class="norecordfound" *ngIf="norecordfound" style="color:red">*No Record Found!
									</div>

									<mat-paginator *ngIf="totalclassArray.length > 10"
										[length]="this.totalclassArray.length" [pageSize]="pageSize"
										[pageSizeOptions]="pageSizeOptions" (page)="OnPageEvent($event)">
									</mat-paginator>
								</div>
							</div>
						</div><!-- row -->
					</div><!-- dashboard-main-div -->
				</div>
			</div>
		</div>
	</div>
</main>

<!-- create class popup start -->
<div class="modal fade" id="create-class" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Create Class</h5>
				<button type="button" class="close" data-dismiss="modal" id="closeThepopup" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form novalidate [formGroup]="myGroup">
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label for="exampleInputEmail1">Class Name</label>
								<input formControlName="title" type="text" class="form-control" name="title"
									[(ngModel)]="title" placeholder="Enter Class Name">
								<div *ngIf="myGroup.controls['title'].touched" class="rerror">
									<div *ngIf="myGroup.controls['title'].errors?.required" class="alert alert-danger">
										Class Name is required
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<label for="exampleInputEmail1">Class Category</label>
								<select formControlName="categories" class="form-control option-select"
									name="categories" [(ngModel)]="categories" (change)="getSelectedOptionText($event)">
									<option value="">--Select--</option>

									<option *ngFor="let data of categoriesArray" value="{{data.id}}">
										{{data.name}}
									</option>
								</select>
								<div *ngIf="myGroup.controls['categories'].touched" class="rerror">
									<div *ngIf="myGroup.controls['categories'].errors?.required"
										class="alert alert-danger">
										Category is required
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-12">
							<div class="form-group">
								<label for="exampleInputEmail1">Sub Category</label>

								<select formControlName="subCategories_id" name='subCategories_id'
									[(ngModel)]="subCategories_id" id="available" class="form-control"
									(change)="selectsubCategory($event)" required>
									<option value="">--Select--</option>
									<option *ngFor="let subcats of subArray" value="{{subcats.id}}"
										selected="{{data.subCategories_id ==  subcats.id?'true':''}}">
										{{subcats.subcat_name}}</option>
								</select>


								<div *ngIf="myGroup.controls['subCategories_id'].touched" class="rerror">
									<div *ngIf="myGroup.controls['subCategories_id'].errors?.required"
										class="alert alert-danger">
										SubCategory is required
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<label for="exampleInputEmail1">Tutor assigned</label>
								<select formControlName="teacher" [(ngModel)]="teacher" name="teacher"
									class="form-control option-select" (change)="selecttutor($event)">
									<option value="">--Select--</option>
									<option *ngFor="let data of TeachersArray" value="{{data.id}}">
										{{data.name}}
									</option>
								</select>
								<div *ngIf="myGroup.controls['teacher'].touched" class="rerror">
									<div *ngIf="myGroup.controls['teacher'].errors?.required"
										class="alert alert-danger">
										Tutor is required
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<label for="exampleInputEmail1">{{categories == 1?'Start Date':'Date'}}</label>
								<input formControlName="start_date" type="date" class="form-control calender start_date" (change)="selectdate($event)"
									name="start_date" [(ngModel)]="start_date">
								<div *ngIf="myGroup.controls['start_date'].touched" class="rerror">
									<div *ngIf="myGroup.controls['start_date'].errors?.required"
										class="alert alert-danger">
										Date is required
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-12">
							<div class="form-group">
								<label for="exampleInputEmail1">Time</label>
								<div class="from-time">
									<input formControlName="start_time" type="time" class="form-control"
										[(ngModel)]="start_time" name="start_time" (change)="selecttime($event)">

									<div *ngIf="myGroup.controls['start_time'].touched" class="rerror">
										<div *ngIf="myGroup.controls['start_time'].errors?.required"
											class="alert alert-danger">
											Start time is required
										</div>
									</div>
								</div>
								<h5 class="to">To</h5>
								<div class="from-time">
									<input formControlName="end_time" type="time" class="form-control"
										[(ngModel)]="end_time" name="end_time" (change)="selecttime($event)">

									<div *ngIf="myGroup.controls['end_time'].touched" class="rerror">
										<div *ngIf="myGroup.controls['end_time'].errors?.required"
											class="alert alert-danger">
											End time is required
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-12" *ngIf="classexit">
							<div class="form-group">
								<div class="rerror classexit_error">
	
									<div class="alert alert-danger">Class already exists for selected tutor and time!</div>
								</div>
							</div>
						</div>

						<div class="col-sm-6">
							<div class="form-group">
								<label for="exampleInputEmail1">Individual price</label>
								<input formControlName="individual_price" type="text"
									class="form-control individual_price" name="individual_price"
									(keyup)="pricevalid($event)" [(ngModel)]="individual_price"
									placeholder="Enter Individual Price">
								<div *ngIf="myGroup.controls['individual_price'].touched" class="rerror">
									<div *ngIf="myGroup.controls['individual_price'].errors?.required"
										class="alert alert-danger">
										Individual Price is required
									</div>

									<div *ngIf="individual_price && individual_priceError" class="alert alert-danger">
										Please enter a valid price
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-6">
							<div class="form-group">
								<label for="exampleInputEmail1">Siblings price</label>
								<input formControlName="siblings_price" type="text" class="form-control siblings_price"
									name="siblings_price" (keyup)="pricevalid($event)" [(ngModel)]="siblings_price"
									placeholder="Enter Siblings Price">
								<div *ngIf="myGroup.controls['siblings_price'].touched" class="rerror">
									<div *ngIf="myGroup.controls['siblings_price'].errors?.required"
										class="alert alert-danger">
										Siblings Price is required
									</div>

									<div *ngIf="siblings_price && siblings_priceError" class="alert alert-danger">
										Please enter a valid price
									</div>
								</div>
							</div>
						</div>

						<div
							class="col-sm-12 {{stype==1?'d-none':''}}">
							<div class="form-group">
								<label>Users limit</label>

								<input formControlName="users_limit" type="number" [(ngModel)]="users_limit" placeholder="Enter Users Limit"
									name="users_limit" class="form-control" (keyup)="checkuserlimit($event)" min="1">
								<div *ngIf="myGroup.controls['users_limit'].touched" class="rerror">
									<div *ngIf="myGroup.controls['users_limit'].errors?.required"
										class="alert alert-danger">
										Users limit is required
									</div>
								</div>
							</div>
						</div>

					</div>
					<div *ngIf="categories == 1 && subCategories_id && no_of_repetitions" class="session-msg">
						You are creating {{no_of_repetitions}} week session, User will pay this price only once for all
						sessions. Details can be found in admin/ user dashboard
					</div>
					
					<div class="rerror classexit_error">

						<div *ngIf="subscriptionerror" class="alert alert-danger">{{subscriptionerror}}</div>
					</div>
					<button (click)="SaveClass($event)" class="continue"
						disabled="{{submitdisable?'true':''}}">Create</button>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- create class popup close -->













<!-- view class popup -->
<div class="modal fade" id="view-class" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Class detail</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<ul>
					<li>
						<label>Class Name</label>
						<p>{{viewclassarray.title}}</p>
					</li>
					<li>
						<label>Category</label>
						<p>{{viewclassarray.categories?viewclassarray.categories.name:''}}</p>
					</li>
					<ng-container *ngFor="let subcat of  subcategorylistData; let i = index">
						<li
							*ngIf="subcat.id == viewclassarray.subCategories_id && subcat.cat_type == viewclassarray.categories_id">
							<label>SubCategory</label>
							<p>

								{{subcat?subcat.subcat_name:''}}

							</p>
						</li>
					</ng-container>

					<li>
						<label>{{viewclassarray.categories_id == 1?'Start Date':'Date'}}</label>
						<p>{{viewclassarray.start_date | date }}</p>
					</li>
					<li>
						<label>Time</label>
						<p>{{formatTime(viewclassarray.start_time)}} to {{formatTime(viewclassarray.end_time)}}</p>
					</li>

					<li>
						<label>Tutor</label>
						<p>{{viewclassarray.teacher?viewclassarray.teacher.name:''}}</p>
					</li>



					<li>
						<label>Individual price</label>
						<p>{{viewclassarray.individual_price > 0?'$'+viewclassarray.individual_price:'N/A'}}</p>
					</li>

					<li>
						<label>Siblings Price</label>
						<p>{{viewclassarray.siblings_price > 0?'$'+viewclassarray.siblings_price:'N/A'}}</p>
					</li>
					<li class="more-session" *ngIf="sessionDatearray.length > 0"><label>All Sessions</label>
						<div class="row">
							<div class="col-sm-4" *ngFor="let sessionDate of sessionDatearray">
								<div class="session-box">
									{{sessionDate | date }}
									<p>{{formatTime(viewclassarray.start_time)}} to
										{{formatTime(viewclassarray.end_time)}}</p>
								</div>
							</div>
						</div>
					</li>
					<!-- <li>
		   <label>Status</label>
			<p *ngIf="viewclassarray.status == '1'"><strong>Completed</strong></p>
			<p *ngIf="viewclassarray.status == '0'"><strong>Pending</strong></p>
		 </li> -->
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- view class popup -->

<!-- edit class popup -->
<!-- <div class="modal fade" id="edit-class" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Class</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	  <form>
       <div class="row">
	   <div class="col-sm-12">
		  <div class="form-group">
			<label for="exampleInputEmail1">Class Name</label>
			<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter class name">
		  </div>
		 </div>
	     <div class="col-sm-12">
		  <div class="form-group">
			<label for="exampleInputEmail1">Class Category</label>
			 <select class="form-control option-select">
             <option>Mindful Musicians</option>
			 <option>Neurodynamic Music Therapy</option>
			 <option>Rooted Private Lessons</option>
           </select>
		  </div>
		 </div>
		 
		 <div class="col-sm-12">
		  <div class="form-group">
			<label for="exampleInputEmail1">Date</label>
			<input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Mindful Musicians">
			<span class="calender-icon"><i class="far fa-calendar-alt"></i></span>
		  </div>
		 </div>
		 
		 <div class="col-sm-12">
		  <div class="form-group">
			<label for="exampleInputEmail1">Time</label>
			<div class="from-time">
			  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="12:00AM">
			  <span><i class="far fa-clock"></i></span>
			 </div>
			 <h5 class="to">To</h5>
			<div class="from-time">
			  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="12:00AM">
			  <span><i class="far fa-clock"></i></span>
			 </div>
		  </div>
		 </div>
		 <div class="col-sm-12">
		  <div class="form-group">
		  <label for="exampleInputEmail1">Tutor assigned</label>
			 <select class="form-control option-select">
             <option>John Smith</option>
           </select>
			 
		  </div>
		 </div>
		  
	   </div>
	    <button class="continue">Save</button>
	   </form>
      </div>
    </div>
  </div>
</div> -->
<!-- edit class popup -->


<div class="modal fade" id="edit-class" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Edit class</h5>
				<button type="button" class="close" data-dismiss="modal" id="closeThepopup" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form novalidate [formGroup]="myGroup">
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label for="exampleInputEmail1">Class Name</label>
								<input type="text" formControlName="title" class="form-control" name="title"
									[(ngModel)]="title" placeholder="Enter Class Name">

								<div *ngIf="myGroup.controls['title'].touched" class="rerror">
									<div *ngIf="myGroup.controls['title'].errors?.required" class="alert alert-danger">
										Class Name is required
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<label for="exampleInputEmail1">Class Category</label>
								<select formControlName="categories" class="form-control option-select"
									name="categories" [(ngModel)]="categories" (change)="getSelectedOptionText($event)">
									<option value="">--Select--</option>
									<option *ngFor="let data of categoriesArray" value="{{data.id}}">
										{{data.name}}
									</option>
								</select>
								<div *ngIf="myGroup.controls['categories'].touched" class="rerror">
									<div *ngIf="myGroup.controls['categories'].errors?.required"
										class="alert alert-danger">
										Category is required
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-12">
							<div class="form-group">
								<label for="exampleInputEmail1">Sub Category</label>

								<select formControlName="subCategories_id" name='subCategories_id'
									[(ngModel)]="subCategories_id" id="available" class="form-control"
									(change)="selectsubCategory($event)" required>
									<option value="">--Select--</option>
									<option *ngFor="let subcats of subArray" value="{{subcats.id}}">
										{{subcats.subcat_name}}</option>
								</select>


								<div *ngIf="myGroup.controls['subCategories_id'].touched" class="rerror">
									<div *ngIf="myGroup.controls['subCategories_id'].errors?.required"
										class="alert alert-danger">
										SubCategory is required
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-12">
							<div class="form-group">
								<label for="exampleInputEmail1">Tutor assigned</label>
								<select formControlName="teacher" [(ngModel)]="teacher" name="teacher"
									class="form-control option-select" (change)="selecttutor($event)">
									<option value="">--Select--</option>
									<option *ngFor="let data of TeachersArray" value="{{data.id}}">
										{{data.name}}
									</option>
								</select>
								<div *ngIf="myGroup.controls['teacher'].touched" class="rerror">
									<div *ngIf="myGroup.controls['teacher'].errors?.required"
										class="alert alert-danger">
										Tutor is required
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-12">
							<div class="form-group">
								<label for="exampleInputEmail1">{{categories == 1?'Start Date':'Date'}}</label>

								<input formControlName="start_date" type="date" class="form-control calender start_date" (change)="selectdate($event)"
									name="start_date" [(ngModel)]="start_date">

								<div *ngIf="myGroup.controls['start_date'].touched" class="rerror">
									<div *ngIf="myGroup.controls['start_date'].errors?.required"
										class="alert alert-danger">
										Date is required
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-12">
							<div class="form-group">
								<label for="exampleInputEmail1">Time</label>
								<div class="from-time">
									<input formControlName="start_time" type="time" class="form-control"
										[(ngModel)]="start_time" name="start_time" (change)="selecttime($event)">
									<div *ngIf="myGroup.controls['start_time'].touched" class="rerror">
										<div *ngIf="myGroup.controls['start_time'].errors?.required"
											class="alert alert-danger">
											Start time is required
										</div>
									</div>
								</div>
								<h5 class="to">To</h5>
								<div class="from-time">
									<input formControlName="end_time" type="time" class="form-control"
										[(ngModel)]="end_time" name="end_time" (change)="selecttime($event)">

									<div *ngIf="myGroup.controls['end_time'].touched" class="rerror">
										<div *ngIf="myGroup.controls['end_time'].errors?.required"
											class="alert alert-danger">
											End time is required
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-12" *ngIf="classexit">
							<div class="form-group">
								<div class="rerror classexit_error">

									<div class="alert alert-danger">Class already exists for selected tutor and time!</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="exampleInputEmail1">Individual price</label>
								<input formControlName="individual_price" type="text"
									class="form-control individual_price" (keyup)="pricevalid($event)"
									name="individualPrice" [(ngModel)]="individual_price"
									placeholder="Enter Individual Price">

								<div *ngIf="myGroup.controls['individual_price'].touched" class="rerror">
									<div *ngIf="myGroup.controls['individual_price'].errors?.required"
										class="alert alert-danger">
										Individual Price is required
									</div>

									<div *ngIf="individual_price && individual_priceError" class="alert alert-danger">
										Please enter a valid price
									</div>
								</div>

							</div>
						</div>
						
						
						<div class="col-sm-6">
							<div class="form-group">
								<label for="exampleInputEmail1">Siblings price</label>
								<input formControlName="siblings_price" type="text" class="form-control siblings_price"
									name="siblingsPrice" (keyup)="pricevalid($event)" [(ngModel)]="siblings_price"
									placeholder="Enter Siblings Price">

								<div *ngIf="myGroup.controls['siblings_price'].touched" class="rerror">
									<div *ngIf="myGroup.controls['siblings_price'].errors?.required"
										class="alert alert-danger">
										Siblings Price is required
									</div>

									<div *ngIf="siblings_price && siblings_priceError" class="alert alert-danger">
										Please enter a valid price
									</div>
								</div>
							</div>
						</div>

						<div
							class="col-sm-12 {{stype==1?'d-none':''}}">
							<div class="form-group">
								<label>Users limit</label>

								<input formControlName="users_limit" type="number" [(ngModel)]="users_limit" placeholder="Enter Users Limit"
									name="users_limit" class="form-control" (keyup)="checkuserlimit($event)" min="1">
								<div *ngIf="myGroup.controls['users_limit'].touched" class="rerror">
									<div *ngIf="myGroup.controls['users_limit'].errors?.required"
										class="alert alert-danger">
										Users limit is required
									</div>
								</div>
							</div>
						</div>

					</div>

					<div *ngIf="categories == 1 && subCategories_id && no_of_repetitions" class="session-msg">
						You are creating {{no_of_repetitions}} week session, User will pay this price only once for all
						sessions. Details can be found in admin/ user dashboard
					</div>

					<div class="rerror classexit_error">

						<div *ngIf="subscriptionerror" class="alert alert-danger">{{subscriptionerror}}</div>
					</div>
					<button (click)="UpdateClass($event)" class="continue"
						disabled="{{submitdisable?'true':''}}">Update</button>
				</form>
			</div>
		</div>
	</div>
</div>