<div 
name="full_page_loader_app" class="full_page_loader_app"
style="z-index: 2147483647;display: none; background: transparent; border: 0px none transparent; overflow: hidden auto; visibility: visible; margin: 0px; padding: 0px; -webkit-tap-highlight-color: transparent; left: 0px; top: 0px; width: 100%; height: 100%;text-align: center;"><br><br><i class="fa fa-spinner fa-spin" style="font-size:24px;"></i><br>
<br></div>
