button.del-btn {
    width: 30px;
    height: 30px;
    background: #738c72;
    border: 0;
    border-radius: 6px;
    margin-left: 5px;
}


.add-payment {
    background: #738c72;
    font-size: 17px;
    color: #fff;
    border: 0;
    border-radius: 4px;
    display: inline-block;
    margin: 0px 0 25px;
    padding: 12px 25px;
    float: right;
}