<app-header></app-header>
<section class="booking-main music-therapy my-booking min-height">
<div class="container">
    <div class="heading">
	    <h2>my saved cards</h2>
	   <span><img src="assets/images/heading_border.png" alt="img"></span>
	 </div>

   <app-siteloader></app-siteloader>
   <div style="overflow-x:auto;">
    <button class="add-payment" data-toggle="modal" (click)="addCard($event)"
							data-target="#add-payment">Add Card</button>
    <table class="table my-savecard-table">
        <thead>
            <tr *ngIf="cardArray.length > 0">
                <th scope="col">Sr. No.</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Last 4 Digit</th>
                <th scope="col">Date</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let post of cardArray; let i=index;" id="{{post.id}}">
                <td scope="row">{{i +1 * Index}}</td>
                <td>{{post.name.toUpperCase()}}</td>
                <td>{{post.brand.toUpperCase()}}</td>
                <td>{{post.card_no}}</td>
                <td>{{post.updated_at | date}}</td>
                <td><button class="del-btn" (click)="remove_save_card($event,post.id)"><i class="fas fa-trash" style="color:#ffffff;"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>
    <div class="norecordfound" *ngIf="norecordfound" style="color:red">*No Record Found!</div>

    <mat-paginator *ngIf="totalcardArray.length > 10" [length]="this.totalcardArray.length" [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions" (page)="OnPageEvent($event)">
    </mat-paginator>
</div>

<!-- Add payment method Modal -->
<div class="modal fade" id="add-payment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Add Card</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">


				<form novalidate [formGroup]="myGroup">
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label for="exampleInputEmail1">Cardholder Name</label>
								<input type="text" class="form-control cardHolderName" [(ngModel)]="cardHolderName"
									formControlName="cardHolderName" name="cardHolderName"
									(keypress)="allowAlphabetic($event)" placeholder="Enter Cardholder name">
								<div *ngIf="myGroup.controls['cardHolderName'].touched" class="rerror">
									<div *ngIf="myGroup.controls['cardHolderName'].errors?.required"
										class="alert alert-danger">
										Cardholder name is required
									</div>
								</div>
							</div>

						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<label for="exampleInputEmail1">Card Number</label>

								<input type="text"  class="form-control card_number inputmask"
									 formControlName="cardNumber" [(ngModel)]="cardNumber" name="cardNumber" data-inputmask="'mask': '9999 9999 9999 9999'"
									placeholder="Enter Card number" maxlength="19">
								<div *ngIf="myGroup.controls['cardNumber'].touched" class="rerror">
									<div *ngIf="myGroup.controls['cardNumber'].errors?.required"
										class="alert alert-danger">
										Card Number is required
									</div>

									<div *ngIf="cardNumber && (cardNumber.length < 17 || cardNumber.length > 19)"
										class="alert alert-danger">
										Please enter valid Card Number.
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="exampleInputEmail1">Expiry date</label>

								<input type="text" class="form-control card_exp" [(ngModel)]="expiryDate"
									formControlName="expiryDate" name="expiryDate"  placeholder="MM / YYYY"
									maxlength="7">
								<div *ngIf="myGroup.controls['expiryDate'].touched" class="rerror">
									<div *ngIf="myGroup.controls['expiryDate'].errors?.required"
										class="alert alert-danger">
										Expiry date is required
									</div>


									<div *ngIf="expiryDateError" class="alert alert-danger">
										Please enter a valid expiryDate
									</div>
								</div>

							</div>
						</div>

						<div class="col-sm-6">
							<div class="form-group">
								<label for="exampleInputEmail1">CVV</label>
								<input type="password" class="form-control inputmask"
									[(ngModel)]="cvvNumber" formControlName="cvvNumber" name="cvvNumber"
									placeholder="Enter CVV" maxlength="4" data-inputmask="'mask': '9999'">
								<div *ngIf="myGroup.controls['cvvNumber'].touched" class="rerror">
									<div *ngIf="myGroup.controls['cvvNumber'].errors?.required"
										class="alert alert-danger">
										CVV Number is required
									</div>

									<div *ngIf="cvvNumber && (myGroup.controls['cvvNumber'].errors?.minlength || myGroup.controls['cvvNumber'].errors?.pattern)"
										class="alert alert-danger">
										Please enter valid cvvNumber.
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-12">
							<div class="form-group">
								<div class="stripe_error"></div>
							</div>
						</div>

					</div>
					<button class="continue" (click)="addCardDetails($event)" disabled="{{submitdisable?'true':''}}">Continue</button>
				</form>
			</div>

		</div>
	</div>
</div>

</section>
<app-footer></app-footer>
