<app-header></app-header>
<section class="booking-main music-therapy my-booking min-height">

<div class="container">
    <div class="heading">
	    <h2>my bookings</h2>
	   <span><img src="assets/images/heading_border.png" alt="img"></span>
	 </div>
    <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Teachers</button> -->
    <app-siteloader></app-siteloader>
   <div style="overflow-x:auto;">
    <table class="table my-booking-table">
        <thead>
            <tr *ngIf="bookingArray.length > 0">
                <th scope="col">Sr.No.</th>
                <th scope="col">Class</th>
                <th scope="col">Category</th>
                <th scope="col">Number Of Users</th>
                <th scope="col">Booked By</th>
                <th scope="col">Amount</th>
                <th scope="col">Time</th>
                <th scope="col">Date</th>							
              <th scope="col">Action</th>

                
                <!-- <th scope="col">Action</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let post of bookingArray; let i=index;">
                <td scope="row">{{i +1 * Index}}</td>
                <td>{{post.classes.title}}</td>
                <td>{{post.categoriesData.name}}</td>
                <td>{{post.number_of_users}}</td>
                <td>{{post.user.name}}</td>
                <td>{{post.amount > 0 ?'$'+post.amount:'N/A'}}</td>
                <td>{{formatTime(post.classes.start_time)}} to {{formatTime(post.classes.end_time)}}</td>
                <td>{{post.classes.start_date | date}}</td>
				<td><button (click)="viewBookings(post)" class="view" data-toggle="modal" data-target="#view-class"><i class="far fa-eye"></i></button></td>

              </tr>
              
        
        </tbody>
    </table>
</div>
    <div class="norecordfound" *ngIf="norecordfound" style="color:red">*No Record Found!</div>

    <mat-paginator *ngIf="totalbookingArray.length > 10" [length]="this.totalbookingArray.length" [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions" (page)="OnPageEvent($event)">
    </mat-paginator>
</div>
</section>
<!-- view class popup -->
<div class="modal fade" id="view-class" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Booking Details</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		 <ul>
		   <li>
			 <label>Class Name</label>
			  <p>{{recent_bookings_data.title}}</p>
		   </li>
		   <li>
			<label>Category</label>
			 <p>{{recent_bookings_data.categories?recent_bookings_data.categories.name:''}}</p>
			 </li>
			 
		  <ng-container *ngFor="let subcat of  subcategorylistData; let i = index">
		  <li *ngIf="subcat.id == recent_bookings_data.subCategories_id && subcat.cat_type == recent_bookings_data.categories_id">
			<label>SubCategory</label>
			 <p>
			
					 {{subcat?subcat.subcat_name:''}}
					
				</p>
		  </li>
		  </ng-container>
		   <li>
			 <label>Number Of Users</label>
			  <p>{{recent_bookings_data.numberOfUsers}}</p>
		   </li>
		   <li>
			 <label>{{recent_bookings_data.categories_id == 1?'Start Date':'Date'}}</label>
			  <p>{{recent_bookings_data.start_date | date}}</p>
		   </li>
		   <li>
			<label>Time</label>
			 <p>{{formatTime(recent_bookings_data.start_time)}} to {{formatTime(recent_bookings_data.end_time)}}</p>
		   </li>

		   <li>
			<label>Tutor</label>
			 <p>{{recent_bookings_data.teachers_name?recent_bookings_data.teachers_name:''}}</p>
		  </li>

		 

		  <li>
			<label>Price</label>
			 <p>{{recent_bookings_data.amount > 0?'$'+recent_bookings_data.amount:'N/A'}}</p>
		  </li>

		  <li>
			<label>Name of Child(ren)</label>
			<p>{{recent_bookings_data.individual+(recent_bookings_data.issiblingsData?',':'')}}
			 <ng-container *ngFor="let sibling of recent_bookings_data.siblingsData" >{{sibling}}</ng-container></p>
		  </li>
		 
		  <li class="more-session" *ngIf="sessionDatearray.length > 0"><label><label>{{recent_bookings_data.stype == 1?'All Available Sessions (In Current Billing Cycle)':'All Sessions'}}</label></label>
			<div class="row">
				<div class="col-sm-4" *ngFor="let sessionDate of sessionDatearray">
				  <div class="session-box">	
				  {{sessionDate | date }}
				  <p>{{formatTime(recent_bookings_data.start_time)}} to {{formatTime(recent_bookings_data.end_time)}}</p>
				 </div>
				</div>	
			 </div>	 
		  </li>
		 </ul>
		</div>
	  </div>
	</div>
  </div>
  <!-- view class popup -->
<app-footer></app-footer>
