button.booking-status {
    border: #708a6f;
    background: #708a6f;
    color: #ffffff;
    border-radius: 3px;
}

ul li.more-session ul li {
    display: inline-block !important;
    width: 33%;
}

.more-session li p{
    font-size: 14px !important;
}

.my-booking-table button.view {
    width: 30px;
    height: 30px;
    background: #738c72;
    border: 0;
    border-radius: 6px;
}

.my-booking-table button.view i {
    color: #fff;
}

/* #view-class li.more-session label {
    padding: 12px 0px;
    font-size: 15px;
} */