<app-header></app-header>
<!------ booking detail page start ----->
<section class="booking-main min-height booking-min"> 
	<div class="container">
		<div class="heading">
			<h2>booking details</h2>
			<span><img src="assets/images/heading_border.png" alt="img"></span>
		</div>
		<app-siteloader></app-siteloader>
		<div class="booking-inn">

			<!-- <ul class="nav nav-tabs" role="tablist">
				<li class="nav-item" *ngFor="let post of CategoriesArray; let i=index;">
					<a class="nav-link active" (click)="changeCategory(post.id)" [ngClass]="{'active color' : post.id == paramId }" href="#mindful{{post.id}}" role="tab"
						data-toggle="tab">{{post.name}}</a>
				</li>	
			</ul> -->

			<ul class="nav nav-tabs" role="tablist" *ngIf="subCategoriesArray?.length > 0">

				<li class="nav-item" *ngIf="urlParameter=='' then ifBlockAll">
					<a class="nav-link active" (click)="setCategoryId('1')" href="#mindful1" role="tab" data-value="1"
						data-toggle="tab">Mindful Musicians (0-6 Years)</a>
				</li>

				<li class="nav-item" *ngIf="urlParameter=='mindful' then ifBlockMindful">
					<a class="nav-link active" (click)="setCategoryId('1')" href="#mindful1" role="tab" data-value="2"
						data-toggle="tab">Mindful Musicians (0-6 Years)</a>
				</li>

				<li class="nav-item" *ngIf="urlParameter=='neurodynamic' then ifBlockNeurodynamic">
					<a class="nav-link" (click)="setCategoryId('2')" href="#mindful2" role="tab" data-value="1"
						data-toggle="tab">Neurodynamic Music Therapy</a>
				</li>
				<li class="nav-item" *ngIf="urlParameter=='rooted' then ifBlockRooted">
					<a class="nav-link" (click)="setCategoryId('3')" href="#mindful3" role="tab" data-value="3"
						data-toggle="tab">Rooted Private Lessons</a>
				</li>

				<ng-template #ifBlockAll>
					<li class="nav-item">
						<a class="nav-link active" (click)="setCategoryId('1')" href="#mindful1" role="tab"
							data-value="1" data-toggle="tab">Mindful Musicians (0-6 Years)</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" (click)="setCategoryId('2')" href="#mindful2" role="tab" data-value="2"
							data-toggle="tab">Neurodynamic Music Therapy</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" (click)="setCategoryId('3')" href="#mindful3" role="tab" data-value="3"
							data-toggle="tab">Rooted Private Lessons</a>
					</li>
				</ng-template>


				<ng-template #ifBlockMindful>
					<li class="nav-item">
						<a class="nav-link active" (click)="setCategoryId('1')" href="#mindful1" role="tab"
							data-value="1" data-toggle="tab">Mindful Musicians (0-6 Years)</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" (click)="setCategoryId('2')" href="#mindful2" role="tab" data-value="2"
							data-toggle="tab">Neurodynamic Music Therapy</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" (click)="setCategoryId('3')" href="#mindful3" role="tab" data-value="3"
							data-toggle="tab">Rooted Private Lessons</a>
					</li>
				</ng-template>


				<ng-template #ifBlockNeurodynamic>
					<li class="nav-item">
						<a class="nav-link" (click)="setCategoryId('1')" href="#mindful1" role="tab" data-value="1"
							data-toggle="tab">Mindful Musicians (0-6 Years)</a>
					</li>

					<li class="nav-item">
						<a class="nav-link active" (click)="setCategoryId('2')" href="#mindful2" role="tab"
							data-value="2" data-toggle="tab">Neurodynamic Music Therapy</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" (click)="setCategoryId('3')" href="#mindful3" role="tab" data-value="3"
							data-toggle="tab">Rooted Private Lessons</a>
					</li>
				</ng-template>

				<ng-template #ifBlockRooted>
					<li class="nav-item">
						<a class="nav-link" (click)="setCategoryId('1')" href="#mindful1" data-value="1" role="tab"
							data-toggle="tab">Mindful Musicians (0-6 Years)</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" (click)="setCategoryId('2')" href="#mindful2" role="tab" data-value="2"
							data-toggle="tab">Neurodynamic Music Therapy</a>
					</li>

					<li class="nav-item">
						<a class="nav-link active" (click)="setCategoryId('3')" href="#mindful3" role="tab"
							data-value="3" data-toggle="tab">Rooted Private Lessons</a>
					</li>
				</ng-template>
			</ul>


			<div class="tab-content">
				<div role="tabpanel" class="tab-pane fade  {{urlParameter == '' || urlParameter == 'mindful'?'in active show':''}}" id="mindful1">
					<div class="select-class">
						<h3>Select Timeline</h3>
						<ul>
							<ng-container *ngFor="let timeline of subCategoriesArray">
								<li *ngIf="timeline.cat_type==1">
									<label class="mind">
										<input type="radio" name="radio_subcat" class="radio_subcat"
											value="{{timeline.id}}">
										<span class="checkmark">
											<h5>{{timeline.subcat_name}}</h5>
										</span>
									</label>
								</li>
							</ng-container>
						</ul>
					</div>

				</div>



				<div role="tabpanel" class="tab-pane fade {{urlParameter == 'neurodynamic'?'in active':''}}" id="mindful2">
					<div class="select-class">
						<h3>Select Therapy</h3>
						<ul>
							<ng-container *ngFor="let therapy of subCategoriesArray">
								<li *ngIf="therapy.cat_type==2">
									<label class="mind">
										<input type="radio" name="radio_subcat" class="radio_subcat"
											value="{{therapy.id}}">
										<span class="checkmark">
											<h5>{{therapy.subcat_name}}</h5>
										</span>
									</label>
								</li>
							</ng-container>
						</ul>
					</div>
				</div>

				<div role="tabpanel" class="tab-pane fade {{urlParameter == 'rooted'?'in active':''}}" id="mindful3">
					<div class="select-class">
						<h3>Select Category </h3>
						<ul>
							<ng-container *ngFor="let cat of subCategoriesArray">
								<li *ngIf="cat.cat_type==3">
									<label class="mind">
										<input type="radio" name="radio_subcat" class="radio_subcat" value="{{cat.id}}">
										<span class="checkmark">
											<h5>{{cat.subcat_name}}</h5>
										</span>
									</label>
								</li>
							</ng-container>
						</ul>
					</div>
				</div>
				<form class="book_slot_form">
					<div class="select-class">
						<h3>Name of child(ren)</h3>
						<!-- <ng-template #elseblockcld><h3>Number of users</h3></ng-template> -->
						<ul>

							<li class="add-sib clone" *ngIf="showAddSiblingfield">
								<input type="text" class="form-control sibling_name" [(ngModel)]="siblingsName" name="siblingsName[]"
									required>
									
								<span  class="text-danger">{{error_mindful}}</span>
							</li>

							
							
							<button (click)="addSiblings($event);" class="add-sibling" *ngIf="category_id != 3"><i class="fas fa-plus"></i>ADD
								SIBLING</button>
						</ul>
					</div>
				
					<div class="select-class book-slot" *ngIf="category_id != 1">
						<h3>Select date</h3>
						<ul>
							<li class="border_user slot">

								<p-calendar (onSelect)="selectDate($event)"  class="form-control singledate" name="date1"
									inputId="basic" [(ngModel)]="date1" placeholder="Select Date" [readonlyInput]="true"></p-calendar>



								<span><i class="far fa-calendar-alt"></i></span>
							</li>


						</ul>
					</div>


					<div class="select-class book-slot" *ngIf="formatedTimeSlot1[0]">
						<h3>Select Class</h3>
						<ul class="row">
							
							<li *ngFor="let slot of formatedTimeSlot1; let i=index;" class="ng-star-inserted time-slot {{i+1 > showtotaldefaultslot?'hide':''}} col-sm-3" style="cursor: pointer;">
								<div class="cst-outer-class-tutor">
									<span
										class="class-name"><strong>Class:</strong>&nbsp;{{classNameArray[i]?classNameArray[i]:''}}</span>
									&nbsp;&nbsp;
									<span
										class="tutor-name {{classDate[i] && category_id == 1?'classdate':''}}"><strong>Tutor:</strong>&nbsp;{{tutorNameArray[i]?tutorNameArray[i]:''}}</span>
									<span class="outer-date-day" *ngIf="classDate[i] && category_id == 1">
										<span
										class="date-name" *ngIf="category_id == 1"><strong>{{category_id == 1?'Start Date':'Date'}}:</strong>&nbsp;{{classDate[i].date | date }}, {{classDate[i]?classDate[i].day:''}}</span>

										<!-- <span
										class="day-name" *ngIf="category_id == 1"><strong>Day:</strong>&nbsp;{{classDate[i]?classDate[i].day:''}}</span> -->
									</span>	
								</div>
								<label class="mind {{classDate[i] && category_id == 1?'classdate':''}}">
									<input type="hidden"  class="class_id_slot" value="{{classidArray[i]?classidArray[i]:''}}">
									<input type="radio" checked="{{ i == 0?'checked':''}}" class="radio_slot"
										 value="{{slot?slot:''}}"><span
										class="checkmark">
										<h5><i class="far fa-clock"></i>{{slot?slot:''}}
										</h5>
									</span>
								</label>
							</li>
							
						</ul>

						<input type="hidden" name="class_id"  value="{{classidval?classidval:classidArray[0]}}">
						<input type="hidden" name="radio_slot" value="{{slotval?slotval:formatedTimeSlot1[0]}}">


						<div class="show-more" *ngIf="formatedTimeSlot1.length > showtotaldefaultslot">
							<button (click)="showmoreSlot($event)">Show More</button>
						</div>
					</div>



				</form>
				<div  class="error-msg">
					
				</div>

				<div class="select-class book-now-bottom">
					<button (click)="book_now()" class="book-now">book now</button>
				</div>

			</div>


		</div>
	</div>
	<div class="summary">
		<!-- <h4 >Summary : Amount ${{categoriesArray[0].price}}</h4> -->
	</div>
</section>
<app-footer></app-footer>
<!------ booking detail page close ----->