@import '../../../node_modules/primeng/resources/themes/saga-blue/theme.css';
@import '../../../node_modules/primeng/resources/primeng.min.css';
@import '../../../node_modules/primeicons/primeicons.css';


/* .cst-outer-class-tutor {
	width: max-content;
} */
.p-calendar{
    z-index: 99999;
}

/* .p-datepicker table td.cactive > span::after{

        content: "";
        width: 7px;
        height: 7px;
        background: #54c45a;
        border-radius: 50%;
        position: absolute;
        bottom: 0px;
    
} */

 .p-datepicker table td > span {
    background: none;
    color: #000;
}

.p-datepicker table td.ng-star-inserted:not(.cactive) > span {
    color: #d7d7d7;
    pointer-events: none;
}
.p-datepicker table td.ng-star-inserted.cactive{
    font-weight: bold;
}


span.close-sb {
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 9;
}

span.close-sb i.fa-minus-circle{
    font-size: 28px;color: red;
}

span.outer-date-day {
    font-size: 13px;
    width: 100%;
    margin-top: 2px;
}

span.outer-date-day span.day-name {
    margin-left: 5px;
}
.select-class li.time-slot label.classdate.mind .checkmark h5 {
    margin-top: 82px;
   
}

.select-class li.time-slot .tutor-name.classdate {
    margin-top: 2px;
}


.select-class li.time-slot {
   
    margin: 20px 20px 0px 0px;
   
}

.select-class li.time-slot label.mind {
    margin-bottom: unset;
}

.select-class li.time-slot.hide{
    display: none;
}

.show-more button{
    color: #fff;
    background: #738c72;
    border-radius: 4px;
    padding: 10px 22px;
    font-size: 15px;
    border: 0;
    font-weight: 500;

}

.show-more{
float: right;
margin-top: 20px;
}

.error-msg#show {
    background: #f443365c;
    padding: 10px;
    border-radius: 10px;
}