<main id="Login">
    <div class="inner-login">
       <div class="right-login-div text-center">
          <div class="login-logo"><a href=""><img src="assets/images/logo.png"></a></div>
          <div class="login-form">
              <form>
            <span *ngIf="messageError !=''" style="color: red;">{{messageError}}</span>
             <div class="form-group">
                <input  type="email" class="form-control email" placeholder="Enter your Email" name="email" [(ngModel)]="email">
                <!-- <input type="email"  name="email" class="form-control email" placeholder="Email" required> -->
                <span class="input-icon"><img src="assets/images/email.png"></span>
             </div><!-- form-group -->
              <div class="form-group">
                <input type="password" class="form-control Password" placeholder="Enter your Password" name="password" [(ngModel)]="password">
                <!-- <input type="Password"  name="email" class="form-control Password" placeholder="Password" required> -->
                <span class="input-icon"><img src="assets/images/password.png"></span>
             </div><!-- form-group -->
             <div class="form-group">
                <div class="checkbox-div">
                   <input type="checkbox" id="remember" name="remember_me" [(ngModel)]="remember_me" (change)="remembercheckCheckBoxvalue($event)">
                   <label for="remember">Remember Me</label>
                 </div>

                 <a class="forgot" [routerLink]="['/admin/forgot-password']">Forgot Password?</a>
             </div><!-- from-group -->
             <div class="form-group btn-div">
                <button class="btn login-btn" (click)="submitLoginForm()" value="Sign in">Sign In</button>
             </div><!-- form-group -->
            </form>
          </div><!-- login-form -->
       </div><!-- right-login-div -->
    </div><!-- inner-login -->
 </main>