#add-category .alert, #edit-category .alert{
    position: unset;
}
/* .cst-type-outer{
    display: flex;
} */

.cst-type-outer .type {
    width: unset;
    height: unset !important;
}
 

.cst-type-outer label{
    display: unset !important;
}