<main class="incident-report">
	<app-adminheader></app-adminheader>
	<div class="container-fluid">
		<div class="row">
			<app-sidebar></app-sidebar>
			<div class="right-main">
				<div class="right-main-inn">
					<div class="dashboard-main-div">
						<div class="row">
							<div class="col-md-12">
								<div class="class-top">
									<h3>Sub category</h3>
									<div class="dashboard-right-top-div">
										<form (submit)="searchSubCategories($event)">
											<div class="search-div">
												<input type="text" [(ngModel)]="searchText" name="searchText"
													class="input-control search-input" placeholder="Search"><i
													class="fa fa-search" aria-hidden="true"></i>
											</div>
										</form>
										<button data-toggle="modal" data-target="#add-category"
											(click)="addCategorypopup()">Add Sub
											category</button>
									</div>
								</div>
								<app-siteloader></app-siteloader>
								<div class="recent-booking class category dashboard-table-outer">
									<table class="table">
										<thead>
											<tr *ngIf="subCategoriesArray.length > 0">
												<!-- <th scope="col">Image</th> -->
												<th scope="col">S.No</th>
												<th scope="col">Subcategory Name</th>
												<th scope="col">Category Name</th>
												<th scope="col">Action</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let post of subCategoriesArray; let i=index;">
												<!-- <td>
                                <div class="category-image">
                                  <img src="{{baseurls}}{{post.image}}" alt="img">
                                </div>
                              </td> -->
												<td>{{i+1 * Index}}</td>


												<td *ngIf="post.cat_type==1">{{post.subcat_name}}</td>
												<td *ngIf="post.cat_type==2">{{post.subcat_name}}</td>
												<td *ngIf="post.cat_type==3">{{post.subcat_name}}</td>

												<td *ngIf="post.cat_type==1">Mindful musicians (0-6 Years)</td>
												<td *ngIf="post.cat_type==2">Neurodynamic music therapy</td>
												<td *ngIf="post.cat_type==3">Rooted private lessions</td>

												<td>
													<button (click)="deleteSubCategory(post.id)" class="view"><i
															class="fas fa-trash"></i></button>
													<button
														(click)="updateData(post.min_age,post.max_age,post.subcat_name,post.id,post.cat_type,post.no_of_repetitions,post.stype)"
														class="edit" data-toggle="modal" data-target="#edit-category"><i
															class="fas fa-pencil-alt"></i></button>
												</td>
											</tr>
										</tbody>
									</table>
									<div class="norecordfound" *ngIf="norecordfound" style="color:red">*No Record Found!
									</div>

									<mat-paginator *ngIf="totalsubCategoriesArray.length > 10"
										[length]="this.totalsubCategoriesArray.length" [pageSize]="pageSize"
										[pageSizeOptions]="pageSizeOptions" (page)="OnPageEvent($event)">
									</mat-paginator>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>


<!--Add subcategory -->
<!-- <div class="modal fade" id="add-category" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Sub category</h5>
          <button id="closecategoryModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

        <form [formGroup]="subCategoryForm" (ngSubmit)="saveCategory()">
         <div class="row">
          <div class="col-sm-12">
            <div class="upload-image">
              <div class="upload-img"><img [src]="imageSrc" src="{{image}}"  alt="img"></div>
               <div class="upload-btn">
                 <label for="file-upload" class="custom-file-upload">
                  <i class="fas fa-cloud-upload-alt"></i> Upload Image
                </label>
                <input (change)="onImageChange($event);" formControlName="file" id="file-upload" name="uploaded_file" type="file"/>
  
               </div>
            </div>
           </div>

           <div class="col-sm-12">
            <div class="form-group">
              <label>Select Categoty</label>
                <select formControlName="categoryName" 
                       class="form-control option-select"
                        [(ngModel)]='defaultSubcategories'>
                        <option *ngFor="let subCat of subcategories | keyvalue">{{subCat.key}}</option>
             </select>
            </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group">
                <label>Select Sub categoty</label>
                  <select  class="form-control option-select" 
                           formControlName="subCategoryName" placeholder="Select sub category">
                           
                    <option *ngFor="let subCat of subcategories[defaultSubcategories]">{{subCat}}</option>
               </select>
              </div>
              </div>
          <button  class="continue">Submit</button>
          </div>
         </form>
        </div>
      </div>
    </div>
  </div> -->
<!--End of sub category-->


<!-- Add category Modal -->
<div class="modal fade" id="add-category" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Add Subcategory</h5>
				<button id="closecategoryModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form novalidate [formGroup]="myGroup">
					<div class="row">

						<div class="col-sm-12">
							<div class="form-group">
								<label>Select Category</label>
								<select formControlName="categoryName" name="categoryName" [(ngModel)]="categoryName"
									(change)="selectCategory($event)"
									class="form-control option-select select-categoryName">
									<option value="">--Select--</option>
									<option *ngFor="let subCat of subcategories ; let i = index" value="{{i+1}}">
										{{subCat}}</option>
								</select>
								<div *ngIf="myGroup.controls['categoryName'].touched" class="rerror">
									<div *ngIf="myGroup.controls['categoryName'].errors?.required"
										class="alert alert-danger">
										Category is required
									</div>
								</div>
							</div>
						</div>


						<!-- <div class="col-sm-12">
							<div class="form-group">
								<label>Select sub category</label>
								<select name="subCategoryName" [(ngModel)]="subCategoryName"
									class="form-control option-select">
									<option *ngFor="let subCat of subcategories[defaultSubcategories]">{{subCat}}
									</option>
								</select>
							</div>
						</div> -->

						<!-- <div class="col-sm-12"  *ngIf="categoryName == 1">
							<div class="form-group">
								<label>Add Age Groups</label>
								<div class="row">
								<div class="col-sm-6">
								<input formControlName="minAge" type="number" (keypress)="allowNumeric($event)" [(ngModel)]="minAge" name="minAge" class="form-control">
								<div *ngIf="myGroup.controls['minAge'].touched" class="rerror">
									<div *ngIf="myGroup.controls['minAge'].errors?.required" class="alert alert-danger"> 
										minAge is required
									</div>
								  </div>
							</div>
							<div class="col-sm-6">
								<input formControlName="maxAge" type="number" min="{{minAge}}" (keypress)="allowNumeric($event)" [(ngModel)]="maxAge" class="form-control" name="maxAge">
								<div *ngIf="myGroup.controls['maxAge'].touched" class="rerror">
									<div *ngIf="myGroup.controls['maxAge'].errors?.required" class="alert alert-danger"> 
										maxAge is required
									</div>
								  </div>
							 </div>
							</div>
						  </div>
						</div> -->

						<!-- <div class="col-sm-12"  *ngIf="categoryName == 1">
							<div class="form-group">
								<label>Select Timeline</label>
								<input formControlName="timeline" type="text" [(ngModel)]="timeline" name="timeline" class="form-control">
								<div *ngIf="myGroup.controls['timeline'].touched" class="rerror">
									<div *ngIf="myGroup.controls['timeline'].errors?.required" class="alert alert-danger"> 
										Timeline is required
									</div>
								  </div>
							</div>
						</div>



						<div class="col-sm-12"  *ngIf="categoryName == 2">
							<div class="form-group">
								<label>Therapy Name</label>
								<input formControlName="therapyName" type="text" [(ngModel)]="therapyName" name="therapyName" class="form-control">
								<div *ngIf="myGroup.controls['therapyName'].touched" class="rerror">
									<div *ngIf="myGroup.controls['therapyName'].errors?.required" class="alert alert-danger"> 
										therapyName is required
									</div>
								  </div>
							</div>
						</div> -->

						<div class="col-sm-12">
							<div class="form-group">
								<label *ngIf="categoryName == 1">Select Timeline</label>
								<label *ngIf="categoryName == 2">Therapy Name</label>
								<label *ngIf="categoryName == 3">Sub Category Name</label>

								<input formControlName="subCatName" type="text" [(ngModel)]="subCatName"
									name="subCatName" class="form-control">
								<div *ngIf="myGroup.controls['subCatName'].touched" class="rerror">
									<div *ngIf="myGroup.controls['subCatName'].errors?.required"
										class="alert alert-danger">
										{{categoryName == 1?'Timeline':categoryName == 2?'Therapy':categoryName ==
										3?'Sub Category':'Timeline'}} is required
									</div>
								</div>
							</div>
						</div>


						<div class="col-sm-12 {{categoryName != 2?'d-none':''}}">
							<div class="form-group">
								<label>Select Type</label>
								<div class="cst-type-outer">

									<div class="row">
										<div class="col-sm-6">
											<div class="cst-type-inner">
												<input formControlName="stype" type="radio" name="stype"
													class="form-control type" value="1" (click)="selectType($event)"
													[checked]="stype == 1?true:false">
												<label for="stype">Private Session</label>
											</div>
										</div>

										<div class="col-sm-6">
											<div class="cst-type-inner">
												<input formControlName="stype" type="radio" name="stype"
													class="form-control type" value="2" (click)="selectType($event)"
													[checked]="stype == 2?true:false">
												<label for="stype">Group Therapy</label>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>

						<div
							class="col-sm-12 {{categoryName != 1 && categoryName == 2 && stype != 2?'d-none':''}}{{categoryName == 3?'d-none':''}}">
							<div class="form-group">
								<label>No of repetitions</label>

								<input formControlName="no_of_repetitions" type="number" [(ngModel)]="no_of_repetitions"
									name="no_of_repetitions" class="form-control">
								<div *ngIf="myGroup.controls['no_of_repetitions'].touched" class="rerror">
									<div *ngIf="myGroup.controls['no_of_repetitions'].errors?.required"
										class="alert alert-danger">
										No of repetitions is required
									</div>
								</div>
							</div>
						</div>


					</div>
					<button (click)="saveCategories($event)" class="continue"
						disabled="{{submitdisable?'true':''}}">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- Add category Modal -->




<!-- Edit category Modal -->
<div class="modal fade" id="edit-category" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Edit Subcategory</h5>
				<button id="closecategoryModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form novalidate [formGroup]="myGroup">
					<div class="row">


						<div class="col-sm-12">
							<div class="form-group">
								<label>Select Category</label>

								<select formControlName="categoryName" name="categoryName" [(ngModel)]="categoryName"
									(change)="selectCategory($event)"
									class="form-control option-select select-categoryName">
									<option value="">--Select--</option>
									<option *ngFor="let subCat of subcategories ; let i = index" value="{{i+1}}">
										{{subCat}}</option>
								</select>
								<div *ngIf="myGroup.controls['categoryName'].touched" class="rerror">
									<div *ngIf="myGroup.controls['categoryName'].errors?.required"
										class="alert alert-danger">
										Category is required
									</div>
								</div>
							</div>
						</div>

						<!-- <div class="col-sm-12"  *ngIf="categoryName == 1">
							<div class="form-group">
								<label>Add Age Groups</label>
								<div class="row">
								  <div class="col-sm-6">	
								<input formControlName="minAge" type="number" (keypress)="allowNumeric($event)" [(ngModel)]="minAge" name="minAge" class="form-control">
								<div *ngIf="myGroup.controls['minAge'].touched" class="rerror">
									<div *ngIf="myGroup.controls['minAge'].errors?.required" class="alert alert-danger"> 
										minAge is required
									</div>
								  </div>
							  </div>
							   <div class="col-sm-6">
								<input formControlName="maxAge" type="number" min="{{minAge}}" (keypress)="allowNumeric($event)" [(ngModel)]="maxAge" name="maxAge" class="form-control">
								<div *ngIf="myGroup.controls['maxAge'].touched" class="rerror">
									<div *ngIf="myGroup.controls['maxAge'].errors?.required" class="alert alert-danger"> 
										maxAge is required
									</div>
								  </div>
							 </div>
						</div>
						</div>
						</div> -->

						<!-- 
						<div class="col-sm-12"  *ngIf="categoryName == 1">
							<div class="form-group">
								<label>Select Timeline</label>
								<input formControlName="timeline" type="text" [(ngModel)]="timeline" name="timeline" class="form-control">
								<div *ngIf="myGroup.controls['timeline'].touched" class="rerror">
									<div *ngIf="myGroup.controls['timeline'].errors?.required" class="alert alert-danger"> 
										Timeline is required
									</div>
								  </div>
							</div>
						</div>



						<div class="col-sm-12"  *ngIf="categoryName == 2">
							<div class="form-group">
								<label>Therapy Name</label>
								<input formControlName="therapyName" type="text" [(ngModel)]="therapyName" name="therapyName" class="form-control">
								<div *ngIf="myGroup.controls['therapyName'].touched" class="rerror">
									<div *ngIf="myGroup.controls['therapyName'].errors?.required" class="alert alert-danger"> 
										therapyName is required
									</div>
								  </div>
							</div>
						</div> -->

						<div class="col-sm-12">
							<div class="form-group">
								<label *ngIf="categoryName == 1">Select Timeline</label>
								<label *ngIf="categoryName == 2">Therapy Name</label>
								<label *ngIf="categoryName == 3">Sub Category Name</label>

								<input formControlName="subCatName" type="text" [(ngModel)]="subCatName"
									name="subCatName" class="form-control">
								<div *ngIf="myGroup.controls['subCatName'].touched" class="rerror">
									<div *ngIf="myGroup.controls['subCatName'].errors?.required"
										class="alert alert-danger">
										{{categoryName == 1?'Timeline':categoryName == 2?'Therapy':categoryName ==
										3?'Sub Category':'Timeline'}} is required
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-12 {{categoryName != 2?'d-none':''}}">
							<div class="form-group">
								<label>Select Type</label>
								<div class="cst-type-outer">

									<div class="row">
										<div class="col-sm-6">
											<div class="cst-type-inner">

												<input formControlName="stype" type="radio" name="stype"
													class="form-control type" value="1" (click)="selectType($event)"
													[checked]="stype == 1?true:false">
												<label for="stype">Private Session</label>
											</div>
										</div>

										<div class="col-sm-6">
											<div class="cst-type-inner">
												<input formControlName="stype" type="radio" name="stype"
													class="form-control type" value="2" (click)="selectType($event)"
													[checked]="stype == 2?true:false">
												<label for="stype">Group Therapy</label>
											</div>
										</div>
									</div>


								</div>
							</div>
						</div>

						<div
							class="col-sm-12 {{categoryName != 1 && categoryName == 2 && stype != 2?'d-none':''}}{{categoryName == 3?'d-none':''}}">
							<div class="form-group">
								<label>No of repetitions</label>

								<input formControlName="no_of_repetitions" type="number" [(ngModel)]="no_of_repetitions"
									name="no_of_repetitions" class="form-control">
								<div *ngIf="myGroup.controls['no_of_repetitions'].touched" class="rerror">
									<div *ngIf="myGroup.controls['no_of_repetitions'].errors?.required"
										class="alert alert-danger">
										No of repetitions is required
									</div>
								</div>
							</div>
						</div>

					</div>
					<button (click)="saveCategories($event)" class="continue"
						disabled="{{submitdisable?'true':''}}">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- Edit category Modal -->