.outer-divexp-date{
    display: flex;
} 
#paynow .alert, #paynowwithsavecard .alert, .savecard-cvv .alert{
    position: unset;
}

.brandingLogoView,.testMode{
	display: none;
}


.savecard-inner {
    display: flex;
    justify-content: space-between;
    margin-bottom:30px;
}
.savecard-inner button.add-payment{
    margin: unset;
}

.savecard-cvv{
    width: max-content;
    margin-right: 20px;
}

.savecardcvv-checkbox{
    display: flex;
    float: right;
}
.savecardcvv-checkbox label.billing{
    margin: 10px 0;
}


.savecardcvv-checkbox .alert-danger, .stripe_error {
    float: left;
    width: 100%;
    padding: 0;
    margin-bottom: 0;
    background: none;
    border: none;
    color: #ea0808;
    font-size: 13px;
}



.billing-method{
        height: max-content;
        padding: 30px 30px 0;

}

.billing-method li{
    padding-bottom: 50px;
}

.booking-image li a {
    color: #738c72;
    width: max-content;
    
}

.card_number iframe{
    height: 48px !important;
}


.session-msg {
    background: #e2f3ea;
    padding: 10px;
    border-radius: 10px;
}