<app-header></app-header>
<!------ my payment page start ----->
<section class="booking-main music-therapy min-height">
  <div class="container">
  <div class="heading">
	    <h2>my payment</h2>
	   <span><img src="assets/images/heading_border.png" alt="img"></span>
	 </div>
	 <app-siteloader></app-siteloader>
	 <div class="row payment-outer">
	   <div class="col-sm-8">
	     <div class="item-add">



					<div class="item-add-inner">


						<div class="item-add-inner-child" *ngFor="let catarray of Booking_cartArray index as i">
							<input type="hidden" class="class_id" value="{{catarray.class_id}}" />
							<input type="hidden" class="cart_id" value="{{catarray.id}}" />




							<h2 *ngIf="i == 0">Booking Summary </h2>


							<div class="booking-image">
								<ul>
									<li>
										<label>Image</label>
										<span><img *ngIf="catarray.categoriesData.image; elseblockimage"
												src="{{this.backendurl+'/images/'+catarray.categoriesData.image}}"
												alt="img">

											<img *ngIf="!catarray.categoriesData.image" #elseblockimage
												src="assets/images/item_img.png"></span>
									</li>
								</ul>
							</div>

							<div class="booking-image description">
								<h4>Description</h4>
								<ul>
									<li>
										<label>Category</label>
										<h4>{{catarray.categoriesData.name}}</h4>
									</li>
									<li>
										<label>Tutor Name</label>
										<h4>{{catarray.teachers_name}}</h4>
									</li>
									<li>
										<label>Class Name</label>
										<h4>{{catarray.class_name}}</h4>
									</li>
									<li>
										<label>Users</label>
										<h4>{{individual}}{{siblings != ""?', '+siblings:''}}</h4>
									</li>

									<li *ngIf="individual_price > 0">
										<label>Price</label>
										<h4>{{individual_price?'$'+1 * individual_price:'0'}}</h4>
									</li>

									<li *ngIf="siblings_price > 0">
										<label>Sibling Price</label>
										<h4>{{siblings_price?'$'+1 * siblings_price:'0'}}</h4>
									</li>
									<li *ngIf="totatcartprice">
										<label>Total Price</label>
										<h4>{{totatcartprice?'$'+totatcartprice:'0'}}</h4>
									</li>
									<li>
										<a href="javascript:void(0)" data-id="{{catarray.id}} "
											(click)="removeCartItem($event)"><i class="fas fa-times-circle"
												style="color:#738c72"></i>Remove</a>
									</li>
								</ul>
							</div>




							<!-- 
		   <table class="table">
			   <thead>
				   <tr>
					   <th>Image</th>
					   <th>Description</th>
					   <th>Price</th>
				   </tr>
			   </thead>
			   <tbody>
			   <tr>
				   <td>
		   <div class="item-img">
		     <img *ngIf="catarray.categoriesData.image; elseblockimage"src="{{this.backendurl+'/images/'+catarray.categoriesData.image}}" alt="img">

			 <img #elseblockimage src="assets/images/item_img.png">
		   </div>
		</td>
		<td>
		   <div class="item-text">
		     
			  
			
			<table class="table">
				<tr>
				<th class="booking-title">
					 Name
					</th>
				<td>
					{{catarray.categoriesData.name}}
				</td>
				</tr>
				<tr class="class-details">
			<th >
				Tutor Name
				</th>
				<td>
				<span>{{catarray.teachers_name}}</span>
			</td>
			
		</tr>
	<tr class="tutor-details">
			<th >
				Class Name
			</th>
				<td>
				<span>{{catarray.class_name}}</span>
			</td>
			
		</tr>

		<tr class="individual-details" *ngIf="individual_price">
			<th >
				Individual Name
				</th>
				
			<th >
				Individual Price
				</th>
			
		</tr>

		<tr>
			<td>
				{{individual}}
			</td>

			<td>
				{{individual_price?'$'+1 * individual_price:''}}
			</td>
		</tr>



	<tr class="sibing-details" *ngIf="catarray.siblings_price">
			<th >
				Sibling Name
				</th>
				
			<th >
				Sibling Price
				</th>
			
		</tr>
		<tr *ngFor="let sibling_name of catarray.data.siblingsName index as i">
			<td>
				<span>{{sibling_name}}</span>
				
			</td>
			<td>
				<span>{{catarray.siblings_price ?'$'+1 * catarray.siblings_price / catarray.sibling:''}}</span>
				
			</td>
		</tr>

		
		
		</table>
		   </div>
		</td>
		<td>
		    <div class="item-text-right">
			  <h4>${{catarray.individual_price || catarray.siblings_price?+catarray.individual_price+catarray.siblings_price:'	0'}}</h4>
			   <a href="javascript:void(0)" data-id="{{catarray.id}} "(click)="removeCartItem($event)">Remove</a>
			</div>
		</td>
		</tr>
	</tbody>
		</table> -->
						</div>
					</div>
				</div>


				<div class="billing-method" *ngIf="totatcartprice">
					<div class="savecard-inner">
						<h2>Saved Cards</h2>
						<button class="add-payment" data-toggle="modal" (click)="addCard($event)"
							data-target="#add-payment">Add Card</button>
					</div>
					<ul *ngIf="getcardDetailsArray">
						<li *ngFor="let cardarray of getcardDetailsArray; let i=index;">
							<input type="hidden" class="card_detail_id" value="{{cardarray.id}}"
								data-name="{{cardarray.name}}">
							<img src="{{cardarray.brand == 'visa'?'assets/images/visa_icon.png':cardarray.brand == 'mastercard'?'assets/images/mastercard.png':cardarray.brand == 'american express'?'assets/images/americanexpress.png':cardarray.brand == 'discover'?'assets/images/discovercard.png':cardarray.brand == 'diners club'?'assets/images/dinersclub.png':cardarray.brand =='jcb'?'assets/images/jcbcard.png':cardarray.brand == 'unionpay'?'assets/images/unionpaycard.png':'assets/images/unknowncard.png'}}"
								width="58" alt="icon">
							<h4>Card ending in {{cardarray.card_no}}</h4>
							<div class="savecardcvv-checkbox">

								<form novalidate [formGroup]="myGroup"
									*ngIf="selectedcard.id == cardarray.id ||(!selectedcard.id && i == 0)">
									<input type="hidden" name="savecardid"
										value="{{savecardid?savecardid:cardarray.id}}" />

									<div class="savecard-cvv form-group">

										<input type="password"
											class="form-control  savecard_cvc inputmask" [(ngModel)]="cvvNumbers" data-inputmask="'mask': '9999'"
											formControlName="cvvNumbers" name="cvvNumbers" placeholder="Enter CVV"
											maxlength="4">
										<div *ngIf="myGroup.controls['cvvNumbers'].touched" class="rerror">
											<div *ngIf="myGroup.controls['cvvNumbers'].errors?.required"
												class="alert alert-danger">
												CVV Number is required
											</div>

											<div *ngIf="cvvNumbers && (myGroup.controls['cvvNumbers'].errors?.minlength || myGroup.controls['cvvNumbers'].errors?.pattern)"
												class="alert alert-danger">
												Please enter valid cvvNumber.
											</div>
										</div>
									</div>
								</form>

								<label class="billing">
									<input type="radio" class="billing_radio" checked="{{ i == 0 ?'checked':''}}"
										name="radio">
									<span class="checkmark"></span>
								</label>
							</div>
						</li>


					</ul>
					<ul *ngIf="getcardDetailsArray.length == 0">
						<li style="color: red;">*No Saved Card Found!</li>
					</ul>

				</div>

			</div>

			<div class="col-sm-4" *ngIf="Booking_cartArray.length > 0">
				<div class="payment-right" *ngIf="totatcartprice; else elseblockpriceright">
					<h2>Price Details </h2>
					<ul>
						<input type="hidden" class="total_ammount_paid" value="{{totatcartprice?totatcartprice:'0'}}" />
						<li>
							<h4>Sub Total</h4>
							<h5>${{totatcartprice?totatcartprice:'0'}}</h5>
						</li>
						<li>
							<h4><strong>Net Total</strong> </h4>
							<h5><strong>${{totatcartprice?totatcartprice:'0'}}</strong></h5>
						</li>
						<li *ngIf="Booking_cartArray[0].categories_id != 3 && Booking_cartArray[0].subcategories_id && Booking_cartArray[0].categoriesData.no_of_repetitions && Booking_cartArray[0].categoriesData.stype !=1">
							<div  class="session-msg" >
								You are booking {{Booking_cartArray[0].categoriesData.no_of_repetitions}} week session, You will pay this price only once for all sessions. Details can be found in your dashboard
							</div>
						</li>
					</ul>
				</div>
				
				
				<ng-template #elseblockpriceright>
					<div class="payment-right">
						<h2>Details </h2>

						<ul>
							<input type="hidden" class="total_ammount_paid"
								value="{{totatcartprice?totatcartprice:'0'}}" />
							<li>This is a free booking, So you don't have to pay anything.</li>
							
						</ul>
					</div>
				</ng-template>

				<div *ngIf="getcardDetailsArray.length > 0" class="col-sm-12" style="margin-top: 30px;">
					<div class="form-group" style="margin-bottom: unset;">
						<div class="stripe_error"></div>
					</div>
				</div>


				<div *ngIf="totatcartprice; else elseblockzeropay">
					<button *ngIf="getcardDetailsArray.length > 0" class="pay-now paynowwithsavecard"
						(click)="make_payment_with_savecard($event)" disabled="{{submitdisable?'true':''}}">Pay Now</button>

					<button *ngIf="getcardDetailsArray.length == 0" class="pay-now" (click)="payNow($event)"
						data-toggle="modal" data-target="#paynow">Pay Now</button>
				</div>

				<ng-template #elseblockzeropay>
					<button class="pay-now" (click)="zeropayNow($event)" disabled="{{submitdisable?'true':''}}">Book Now</button>
				</ng-template>


			</div>


		</div>
	</div>
</section>
<br>

<!-- Add payment method Modal -->
<div class="modal fade" id="add-payment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Add Card</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">


				<form novalidate [formGroup]="myGroup">
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label for="exampleInputEmail1">Cardholder Name</label>
								<input type="text" class="form-control cardHolderName" [(ngModel)]="cardHolderName"
									formControlName="cardHolderName" name="cardHolderName"
									(keypress)="allowAlphabetic($event)" placeholder="Enter Cardholder name">
								<div *ngIf="myGroup.controls['cardHolderName'].touched" class="rerror">
									<div *ngIf="myGroup.controls['cardHolderName'].errors?.required"
										class="alert alert-danger">
										Cardholder name is required
									</div>
								</div>
							</div>

						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<label for="exampleInputEmail1">Card Number</label>

								<input type="text"  class="form-control card_number inputmask"
									 formControlName="cardNumber" [(ngModel)]="cardNumber" name="cardNumber" data-inputmask="'mask': '9999 9999 9999 9999'"
									placeholder="Enter Card number" maxlength="19">
								<div *ngIf="myGroup.controls['cardNumber'].touched" class="rerror">
									<div *ngIf="myGroup.controls['cardNumber'].errors?.required"
										class="alert alert-danger">
										Card Number is required
									</div>

									<div *ngIf="cardNumber && (cardNumber.length < 17 || cardNumber.length > 19)"
										class="alert alert-danger">
										Please enter valid Card Number.
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="exampleInputEmail1">Expiry date</label>

								<input type="text" class="form-control card_exp" [(ngModel)]="expiryDate"
									formControlName="expiryDate" name="expiryDate"  placeholder="MM / YYYY"
									maxlength="7">
								<div *ngIf="myGroup.controls['expiryDate'].touched" class="rerror">
									<div *ngIf="myGroup.controls['expiryDate'].errors?.required"
										class="alert alert-danger">
										Expiry date is required
									</div>


									<div *ngIf="expiryDateError" class="alert alert-danger">
										Please enter a valid expiryDate
									</div>
								</div>

							</div>
						</div>

						<div class="col-sm-6">
							<div class="form-group">
								<label for="exampleInputEmail1">CVV</label>
								<input type="password" class="form-control inputmask"
									[(ngModel)]="cvvNumber" formControlName="cvvNumber" name="cvvNumber"
									placeholder="Enter CVV" maxlength="4" data-inputmask="'mask': '9999'">
								<div *ngIf="myGroup.controls['cvvNumber'].touched" class="rerror">
									<div *ngIf="myGroup.controls['cvvNumber'].errors?.required"
										class="alert alert-danger">
										CVV Number is required
									</div>

									<div *ngIf="cvvNumber && (myGroup.controls['cvvNumber'].errors?.minlength || myGroup.controls['cvvNumber'].errors?.pattern)"
										class="alert alert-danger">
										Please enter valid cvvNumber.
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-12">
							<div class="form-group">
								<div class="stripe_error"></div>
							</div>
						</div>

					</div>
					<button class="continue" (click)="addCardDetails($event)" disabled="{{submitdisable?'true':''}}">Continue</button>
				</form>
			</div>

		</div>
	</div>
</div>

<!-- Add payment method Modal -->
<div id="paynow" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Pay Now</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form novalidate [formGroup]="myGroup">
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label for="exampleInputEmail1">Cardholder Name</label>
								<input type="text" class="form-control" [(ngModel)]="cardHolderName"
									formControlName="cardHolderName" name="cardHolderName"
									(keypress)="allowAlphabetic($event)" placeholder="Enter Cardholder name">
								<div *ngIf="myGroup.controls['cardHolderName'].touched" class="rerror">
									<div *ngIf="myGroup.controls['cardHolderName'].errors?.required"
										class="alert alert-danger">
										Cardholder name is required
									</div>
								</div>
							</div>

						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<label for="exampleInputEmail1">Card Number</label>

								<input type="text"  class="form-control card_number inputmask"
								data-inputmask="'mask': '9999 9999 9999 9999'" [(ngModel)]="cardNumber" formControlName="cardNumber" name="cardNumber"
									placeholder="Enter Card number" maxlength="19">
								<div *ngIf="myGroup.controls['cardNumber'].touched" class="rerror">
									<div *ngIf="myGroup.controls['cardNumber'].errors?.required"
										class="alert alert-danger">
										Card Number is required
									</div>

									<div *ngIf="cardNumber && (cardNumber.length < 17 || cardNumber.length > 19)"
										class="alert alert-danger">
										Please enter valid Card Number.
									</div>

								</div>

							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="exampleInputEmail1">Expiry date</label>

								<input type="text" class="form-control card_exp" [(ngModel)]="expiryDate"
									formControlName="expiryDate" name="expiryDate" placeholder="MM / YYYY"
									maxlength="7">
								<div *ngIf="myGroup.controls['expiryDate'].touched" class="rerror">
									<div *ngIf="myGroup.controls['expiryDate'].errors?.required"
										class="alert alert-danger">
										Expiry date is required
									</div>

									<div *ngIf="expiryDateError" class="alert alert-danger">
										Please enter a valid expiryDate
									</div>

								</div>

							</div>
						</div>

						<div class="col-sm-6">
							<div class="form-group">
								<label for="exampleInputEmail1">CVV</label>
								<input type="password"  class="form-control card_cvc inputmask"
									[(ngModel)]="cvvNumber" formControlName="cvvNumber" name="cvvNumber"
									placeholder="Enter CVV" maxlength="4" data-inputmask="'mask': '9999'">
								<div *ngIf="myGroup.controls['cvvNumber'].touched" class="rerror">
									<div *ngIf="myGroup.controls['cvvNumber'].errors?.required"
										class="alert alert-danger">
										CVV Number is required
									</div>

									<div *ngIf="cvvNumber && (myGroup.controls['cvvNumber'].errors?.minlength || myGroup.controls['cvvNumber'].errors?.pattern)"
										class="alert alert-danger">
										Please enter valid cvvNumber.
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-6">
							<div class="form-group">
								<label for="save_card">

									<input type="checkbox" class="save_card" name="save_card" value="true" />
									Remember Card
								</label>
							</div>
						</div>


						<div class="col-sm-12">
							<div class="form-group">
								<div class="stripe_error"></div>
							</div>
						</div>

					</div>
					<!-- <button type="button" class="btn btn-default action close-btn" data-dismiss="modal">Close</button> -->
					<button type="button" class="btn btn-default action" disabled="{{submitdisable?'true':''}}" (click)="make_payment($event)">Submit</button>
				</form>
			</div>

		</div>
	</div>
</div>
<!------ my payment page close ----->


<!-- payment with savecard -->
<!-- <div id="paynowwithsavecard" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Pay Now</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
		  <form novalidate [formGroup]="myGroup">
			  <input type="hidden" name="savecardid" value="{{savecardid}}"/>
		   <div class="row">
			 <div class="col-sm-12">
			  <div class="form-group">
				<label for="exampleInputEmail1">Cardholder Name</label>
				<input type="text" class="form-control" value="{{savecardHolderName}}" formControlName="cardHolderName" name="cardHolderName"  placeholder="Enter Cardholder name" readonly>
			
			  </div>
			 
			 </div>
			           
			 <div class="col-sm-12">
			  <div class="form-group">
				<label for="exampleInputEmail1">CVV</label>
				<input type="text" class="form-control card_cvc" [(ngModel)]="cvvNumber" formControlName="cvvNumber" name="cvvNumber"  placeholder="Enter CVV" maxlength="4">
				<div *ngIf="myGroup.controls['cvvNumber'].touched" class="rerror">
					<div *ngIf="myGroup.controls['cvvNumber'].errors?.required" class="alert alert-danger"> 
						CVV Number is required
					</div>

					<div *ngIf="cvvNumber && (myGroup.controls['cvvNumber'].errors?.minlength || myGroup.controls['cvvNumber'].errors?.pattern)" class="alert alert-danger"> 
						Please enter valid cvvNumber.
					  </div>
				</div>
			  </div>
			 </div>
					<div class="col-sm-12">
						<div class="form-group">
							<div class="stripe_error"></div>
							</div>
							</div>
			
		   </div>

		   <button type="button" class="btn btn-default action" (click)="make_payment_with_savecard($event)">Submit</button>
		   </form>
		  </div>
		  
		</div>
	  </div>
	  </div> -->
<!-- end payment with save card -->

<app-footer></app-footer>