<app-header></app-header>
<!-- <section class="banner" style="background-image: url(assets/images/banner_img.png)">
    <div class="container">
      <div class="banner-text">
        <h2>Melodies that help <br>you stay focus</h2>
        <a style="cursor: pointer;" [routerLink]="['/dashboard']">Book Now</a>
      </div>
    </div>
  </section> -->

  <!------ mission part start ----->
  <section class="mission">
    <div class="container">
      <div class="row">
        <div class="col-sm-5">
          <div class="mission-left">
          <div class="mission-img">
            <img src="assets/images/mission_2.png" alt="">
          </div>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="mission-text">
            <div class="heading"> 
             <h2>Mission</h2>
            <span><img src="assets/images/heading_border.png" alt="img"></span>
           </div>
           <p>Centrally Rooted is an interactive growth space that supports the development of positive mental health in creative ways. We see an opportunity to build resilience during formative growth years to serve as inner pillars to lean on as we move through challenges of life to come.<br><br>

            Our center offers multiple tiers of opportunities, catering to a wide range
            of age groups & interests. Specifically, we offer (1) <a routerLink="/mindful-musicians">Mindful Musicians:</a>
            interactive caregiver:child group music classes for the 0-6 age group, (2)
            <a routerLink="/neurodynamic-music-therapy">Neurodynamic Music Therapy:</a> private/group music therapy, (3) <a routerLink="/rooted-private-lessions">Rooted
            Private Lessons</a>, and the hope to grow into alternate creative therapies
            and recording studio/podcasting avenues.<br><br>

            Our goal is to provide a safe & nourished space for creative expression
            that is available to all, regardless of socioeconomic status. Through the
            efforts of a <a [routerLink]="['/scholarship']">scholarship fund</a>, <a href="javascript:void(0)" data-toggle="modal" data-target="#donationnow">generous donations</a>, community inclusion,
            and altruistic programmatic development, we have a dream of supporting
            the families of our community that will provide benefit to all.
            </p>
            <a (click)="checkForLogin('mindful')" class="book-now-btn">book now</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!------ mission part close ----->

  <section class="service">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="service-main">
            <div style="cursor: pointer;" class="service-icon" routerLink="/mindful-musicians">
              <img src="assets/images/service_icon1.png">
            </div>
            <div class="service-text">
              <h3 routerLink="/mindful-musicians" style="cursor: pointer;">Mindful Musicians</h3>
               <p>8-week interactive parent:child
                classes with a focus on development of musical competence, confidence, and self-worth</p>
               <!-- <a style="cursor: pointer;"  [routerLink]="['/all-categories/']">Book Now</a> -->
               <a style="cursor: pointer;" (click)="checkForLoginMindful('mindful')" >Book Now</a>
            </div>
          </div>
        </div>

        <div  class="col-sm-4">
          <div class="service-main">
            <div style="cursor: pointer;" class="service-icon" routerLink="/neurodynamic-music-therapy">
              <img src="assets/images/service_icon2.png">
            </div>
            <div class="service-text">
              <h3 routerLink="/neurodynamic-music-therapy" style="cursor: pointer;">Neurodynamic Music Therapy </h3>
                <p>1:1 & group sessions led by a board certified music therapist, catering to a large range <br>of need areas</p>
               <!-- <a [routerLink]="['/all-categories']" >Book Now</a> -->
               <a style="cursor: pointer;" (click)="checkForLoginNeurodynamic('neurodynamic')" >Book Now</a>
              </div>
          </div>
        </div>

        <!-- <div  *ngFor="let post of categoriesArray; let i=index;" class="col-sm-4">
          <div class="service-main">
            <div class="service-icon">
              <img src="assets/images/service_icon2.png">
            </div>
            <div class="service-text">
              <h3>{{post.name}} </h3>
                <p>1:1 & group sessions led by a board certified music therapist, catering to a large range <br>of need areas</p>
               <a [routerLink]="['/all-categories']" [queryParams]="{id: post.id}"  >Book Now</a>
            </div>
          </div>
        </div> -->

        <div class="col-sm-4">
          <div class="service-main">
            <div style="cursor: pointer;" class="service-icon" routerLink="/rooted-private-lessions">
              <img src="assets/images/service_icon3.png" >
            </div>
            <div class="service-text">
              <h3 routerLink="/rooted-private-lessions" style="cursor: pointer;">Rooted Private Lessons</h3>
                <p>weekly music lessons with opportunities
                  for performance in the areas of voice, piano, guitar, and ukulele
                  </p>
               <!-- <a [routerLink]="['/all-categories']">Book Now</a> -->
               <a style="cursor: pointer;" (click)="checkForLoginRooted('rooted')" >Book Now</a>
            </div>
          </div>
        </div>

        <!-- <div class="col-sm-4">
          <div class="service-main">
            <div class="service-icon">
              <img src="assets/images/service_icon3.png">
            </div>
            <div class="service-text">
              <h3>Rooted Private Lessons</h3>
                <p>weekly music lessons with opportunities
                  for performance in the areas of voice, piano, guitar, and ukulele
                  </p>
               <a [routerLink]="['/all-categories']"  [queryParams]="{prop: post.id}">Book Now</a>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </section>
  <!------ service part close ----->
  
  
  <!-- ---- faq part start --- 
  <section class="faq">
    <div class="container">
       <div class="heading">
          <h2>FAQ</h2>
         <span><img src="assets/images/heading_border.png" alt="img"></span>
       </div>
       <div class="row">
         <div class="col-sm-8">
           <div class="accordion" id="accordionExample">
          <div class="card">
              <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
                      <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne">
                      <i class="fa fa-plus"></i> Is my kid too young?</button>									
                  </h2>
              </div>
              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                      <p>Kids begin hearing in utero. At 4 months gestation, they have the capability to gain benefit from rhythm. After birth, they mature with rhythm alongside their development. This translates into nonmusical tasks such as speech sequencing, walking, coordination, and even reading. The benefits of music have been proven eective even in NICU babies, so no! Your child is not too young to join!</p>
                  </div>
              </div>
          </div>
          <div class="card">
              <div class="card-header" id="headingTwo">
                  <h2 class="mb-0">
                      <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"><i class="fa fa-plus"></i>Do I have to be a musician?</button>
                  </h2>
              </div>
              <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">
                      <p>Nope. Music making is for every single person. You need not have any musical background to gain full value out of these courses.</p>
                  </div>
              </div>
          </div>
          <div class="card">
              <div class="card-header" id="headingThree">
                  <h2 class="mb-0">
                      <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"><i class="fa fa-plus"></i>Can my child do this without me?</button>    
                  </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body">
                      <p>Nope-unless you’re sending them with a dierent caregiver over the age of 18. Each child must be accompanied by an adult. The caregivers get the responsibility of redirecting any behaviors during class, while the teacher has the responsibility of maintaining the flow.</p>
                  </div>
              </div>
          </div>
           <div class="card">
              <div class="card-header" id="headingfour">
                  <h2 class="mb-0">
                      <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefour"><i class="fa fa-plus"></i>What if my kid doesn’t appear to be engaged in class?</button>                     
                  </h2>
              </div>
              <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExample">
                  <div class="card-body">
                      <p>This is quite common the first few semesters of class. Do not fret; there is still passive learning occurring and often in the beginning, kids will hide, play shy, or appear disengaged. The key here is your engagement. If you do the modeling, it will catch on with your kiddo. Please do intervene, however, if there is disruption to another child’s experience.</p>
                  </div>
              </div>
          </div>
      </div>
    </div>
       <div class="col-sm-4">
         <div class="faq-right">
           <h3>Don’t Get Yet, Let<br>Us Know.</h3>
            <ul>
              <li><i class="fas fa-phone"></i>987-987-987-98</li> 
              <li><i class="fas fa-envelope"></i>info@gmail.com</li>
              <li><i class="fas fa-globe"></i>www.centrally.com</li>
            </ul>
            <button>contact us</button>
         </div>
       </div>
       </div>
    </div>
  </section> -->
<app-donation></app-donation>
  <app-footer></app-footer>