<main id="Login">
    <div class="inner-login">
       <div class="right-login-div text-center">
          <div class="login-logo"><a href=""><img src="assets/images/logo.png"></a></div>
          <div class="login-form">
              <form>
            
             <div class="form-group">
                <input  type="email" class="form-control email" placeholder="Enter your Email" name="email" [(ngModel)]="email"/>
                <!-- <input type="email"  name="email" class="form-control email" placeholder="Email" required> -->
                <span class="input-icon"><img src="assets/images/email.png"></span>
                <span *ngIf="error !=''" style="color: red;">{{error}}</span>
            
             </div><!-- form-group -->
            
             <div class="form-group btn-div">
                <button class="btn login-btn" (click)="submitForgotPasswordForm()">Submit</button>
             </div><!-- form-group -->
            </form>
          </div><!-- login-form -->
       </div><!-- right-login-div -->
    </div><!-- inner-login -->
 </main>