#profile-main .alert{
    position: unset;
}


#profile-main .alert-danger {
    float: left;
    width: 100%;
    padding: 0;
    margin-bottom: 0;
    background: none;
    border: none;
    color: #ea0808;
    font-size: 13px;
}