<app-header></app-header>
<section class="mission profile min-height">
    <div class="container">
        <div class="heading">
            <h2>Profile</h2>
            <span><img src="assets/images/heading_border.png" alt="img"></span>
        </div>
    <app-siteloader></app-siteloader>
        <div class="profile-main" id="profile-main">
            <form novalidate [formGroup]="myGroup"> 
                <div class="profile-img">
                    <img (click)="editProfile()"  [src]="imageSrc" src="{{image}}">
                    <input accept="image/x-png,image/gif,image/jpeg" (change)="readURL($event);" style="display: none;" type="file" id="fileUpload">
                    <!-- <img src="assets/images/profile_img.png" alt="img"> -->
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="profile-left">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">First Name</label>
                                <input name="first_name" formControlName="first_name" [(ngModel)]="first_name" (keypress)="allowAlphabetic($event)" type="text" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Enter Your First Name">
                                    <div *ngIf="myGroup.controls['first_name'].touched" class="rerror">
                                        <div *ngIf="myGroup.controls['first_name'].errors?.required" class="alert alert-danger"> 
                                           First Name is required
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="profile-left">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Last Name</label>
                                <input name="last_name" formControlName="last_name" (keypress)="allowAlphabetic($event)" [(ngModel)]="last_name" type="text" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Enter Your Last Name">
                                    <div *ngIf="myGroup.controls['last_name'].touched" class="rerror">
                                        <div *ngIf="myGroup.controls['last_name'].errors?.required" class="alert alert-danger"> 
                                           Last Name is required
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="profile-left">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">email</label>
                                <input name="email" formControlName="email" [(ngModel)]="email" readonly type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Enter Your Email">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="profile-left">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">phone number</label>
                                <input name="phone"  formControlName="phone" [(ngModel)]="phone" pattern="[0-9]"  type="tel" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Enter Your Phone Number" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" maxlength="10">
                                    <div *ngIf="myGroup.controls['phone'].touched" class="rerror">
                                        <div *ngIf="myGroup.controls['phone'].errors?.required" class="alert alert-danger"> 
                                           Phone Number is required
                                         </div>
                                        <div *ngIf="myGroup.controls['phone'].errors?.minlength" class="alert alert-danger"> 
                                           Enter 10 Digit Phone Number
                                        </div>
                    
                                          
                    
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                            <button (click)="save($event)" type="button" class="save"><span *ngIf="!ShowSubmitLoader">Save</span><i
                                class="fa fa-spinner fa-spin" *ngIf="ShowSubmitLoader"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<app-footer></app-footer>