<!-- 
      <main class="incident-report">
        <app-adminheader></app-adminheader>
         <div class="container-fluid">
            <div class="row">
               <app-sidebar></app-sidebar>
               <div class="right-main">
                  <div class="right-main-inn">			 
	   			  <div class="dashboard-main-div">
	   				<div class="row">
						<div class="col-md-12">
						  <div class="class-top">
						    <h3>Category</h3>
							 
							   <div class="dashboard-right-top-div">
								<form (submit)="searchCategories($event)">
									<div class="search-div">
										<input type="text"  [(ngModel)]="searchText" name="searchText" class="input-control search-input" placeholder="Search"><i class="fa fa-search" aria-hidden="true"></i>
									 </div>
								   </form>
								 <button data-toggle="modal" data-target="#add-category">Add Sub category</button>
							  </div>
							  
						  </div>
						  
						  <div class="recent-booking class category">	
							<table class="table">
							  <thead>
								<tr>
								  <th scope="col">Category Image</th>
								  <th scope="col">Category Name</th>
								  <th scope="col">Types of Sessions</th>
								  <th scope="col">Price</th>
								  <th scope="col">Action</th>
								</tr>
							  </thead>
							  <tbody>
								<tr *ngFor="let post of categoriesArray; let i=index;">
								  <td>
								    <div class="category-image">
									  <img src="{{baseurls}}{{post.image}}" alt="img">
									</div>
								  </td>
								  <td>{{post.name}}</td>
								  <td *ngIf="post.session_type == 1"> Group Session</td>
								  <td *ngIf="post.session_type == 2"> One to One Session</td>
								  <td>${{post.price}}</td>							
								  <td><button (click)="openViewModal(post)" class="view" data-toggle="modal" data-target="#view-category"><i class="far fa-eye"></i></button>
								  <button (click)="updateData(post.name,post.id,post)" class="edit" data-toggle="modal" data-target="#add-category"><i class="fas fa-pencil-alt"></i></button>
								  </td>
								</tr>
								
								  			 				 
							  </tbody>
							</table>
						  </div>
						</div>
						 
	   				</div>
	   			</div>
            </div>
         </div>
         </div>
         </div>
      </main>
 -->


	  
      <main class="incident-report">
        <app-adminheader></app-adminheader>
         <div class="container-fluid">
            <div class="row">
               <app-sidebar></app-sidebar>
               <div class="right-main">
                  <div class="right-main-inn">			 
	   			  <div class="dashboard-main-div">
	   				<div class="row">
						<div class="col-md-12">
						  <div class="class-top">
						    <h3>Sub category</h3>
							<div class="dashboard-right-top-div">
								<form (submit)="searchCategories($event)">
									<div class="search-div">
										<input type="text"  [(ngModel)]="searchText" name="searchText" class="input-control search-input" placeholder="Search"><i class="fa fa-search" aria-hidden="true"></i>
									 </div>
								   </form>
								 <button data-toggle="modal" data-target="#add-category">Add Sub category</button>
							  </div>
							</div>
						  
						  <div class="recent-booking class category">	
							<table class="table">
							  <thead>
								<tr>
								  <th scope="col">Image</th>
								  <th scope="col"> Name</th>
								  <th scope="col">Action</th>
								</tr>
							  </thead>
							  <tbody>
								<tr *ngFor="let post of categoriesArray; let i=index;">
								  <td>
								    <div class="category-image">
									  <img src="{{baseurls}}{{post.image}}" alt="img">
									</div>
								  </td>
								  <td>{{post.name}}</td>						
								  <td><button (click)="openViewModal(post)" class="view" data-toggle="modal" data-target="#view-category"><i class="far fa-eye"></i></button>
								  <button (click)="updateData(post.name,post.id,post)" class="edit" data-toggle="modal" data-target="#add-category"><i class="fas fa-pencil-alt"></i></button>
								  </td>
								</tr>
								<tr *ngIf="categoriesArray.length == 0"><td style="color:red">*No Record Found!</td></tr>	  			 				 
							  </tbody>
							</table>
						  </div>
						</div> 
	   				</div>
	   			</div>
            </div>
         </div>
         </div>
         </div>
      </main>


	  <!--Add subcategory -->
	  <div class="modal fade" id="add-category" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" id="exampleModalLabel">Add Sub category</h5>
			  <button id="closecategoryModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">

			<form [formGroup]="categoryForm" (ngSubmit)="saveCategory()">
			 <div class="row">
			  <div class="col-sm-12">
				<div class="upload-image">
				  <div class="upload-img"><img [src]="imageSrc" src="{{image}}"  alt="img"></div>
				   <div class="upload-btn">
					 <label for="file-upload" class="custom-file-upload">
					  <i class="fas fa-cloud-upload-alt"></i> Upload Image
					</label>
					<input (change)="onImageChange($event);" formControlName="file" id="file-upload" name="uploaded_file" type="file"/>
	  
				   </div>
				</div>
			   </div>

			   <div class="col-sm-12">
				<div class="form-group">
				  <label for="exampleInputEmail1">Select Categoty</label>
					<select formControlName="categorySession" id="categorySession" class="form-control option-select" [ngClass]="{ 'is-invalid': submitted && f.categorySession.errors }">
						  <option value="1">Mindful musicians</option>
						  <option value="2">Neurodynamic Music Therapy</option>
						  <option value="2">Rooted Private Lessons</option>
				 </select>
				</div>
			    </div>
			  <button  class="continue">Submit</button>
			  </div>
			 </form>
			</div>
		  </div>
		</div>
	  </div>
	  <!--End of sub category-->


	  <!--Add Category Model-->
	  <!-- <div class="modal fade" id="add-category" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" id="exampleModalLabel">Add Sub category</h5>
			  <button id="closecategoryModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">
			<form [formGroup]="categoryForm" (ngSubmit)="saveCategory()">
			 <div class="row">
			  <div class="col-sm-12">
				<div class="upload-image">
				  <div class="upload-img"><img [src]="imageSrc" src="{{image}}"  alt="img"></div>
				   <div class="upload-btn">
					 <label for="file-upload" class="custom-file-upload">
					  <i class="fas fa-cloud-upload-alt"></i> Upload Image
					</label>
					<input (change)="onImageChange($event);" formControlName="file" id="file-upload" name="uploaded_file" type="file"/>
	  
				   </div>
				</div>
			   </div>
			   <div class="col-sm-12">
				<div class="form-group">
				  <label for="exampleInputEmail1">Category Name</label>
				  <input type="email" class="form-control" formControlName="categoryName" id="categoryName" [ngClass]="{ 'is-invalid': submitted && f.categoryName.errors }">
				</div>
			   </div>
			   <div *ngIf="f.categoryName.touched && f.categoryName.invalid" class="alert alert-danger">
					<div *ngIf="f.categoryName.errors?.required">Category name is required.</div>	
				</div>

			   <div class="col-sm-12">
				<div class="form-group">
				  <label for="exampleInputEmail1">Types of Sessions</label>
					<select formControlName="categorySession" id="categorySession" class="form-control option-select" [ngClass]="{ 'is-invalid': submitted && f.categorySession.errors }">
						  <option value="2">One to One class</option>
						  <option value="1">Group class</option>
				 </select>
				</div>
			   </div>
			   <div *ngIf="f.categorySession.touched && f.categorySession.invalid" class="alert alert-danger">
				 <div *ngIf="f.categorySession.errors?.required">Category session is required.</div>	
			   </div>

			   <div class="col-sm-12">
				<div class="form-group">
				<label for="exampleInputEmail1">Price</label>
				  <input type="text" formControlName="categoryprice" id="categoryprice" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.categoryprice.errors }"  placeholder="$25">
				</div>
			   </div>
			   <div *ngIf="f.categoryprice.touched && f.categoryprice.invalid" class="alert alert-danger">
				<div *ngIf="f.categoryprice.errors?.required">Category price is required.</div>	
			</div>

			 </div>
			  <button  class="continue">Submit</button>
			 </form>
			</div>
		  </div>
		</div>
	  </div> -->
	  <!--End Category Model-->

	  

<!-- Add category Modal -->
<!-- <div class="modal fade" id="add-category" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Category</h5>
        <button id="closecategoryModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	  <form>
       <div class="row">
	    <div class="col-sm-12">
		  <div class="upload-image">
		    <div class="upload-img"><img [src]="imageSrc" src="{{image}}"  alt="img"></div>
			 <div class="upload-btn">
			   <label for="file-upload" class="custom-file-upload">
				<i class="fas fa-cloud-upload-alt"></i> Upload Image
			  </label>
			  <input (change)="readURL($event);" id="file-upload" type="file"/>

			 </div>
		  </div>
		 </div>
	     <div class="col-sm-12">
		  <div class="form-group">
			<label for="exampleInputEmail1">Category Name</label>
			<input type="email" class="form-control" name="categoryName" [(ngModel)]="categoryName">
		  </div>
		 
		 </div>
		 <div class="col-sm-12">
		  <div class="form-group">
			<label for="exampleInputEmail1">Types of Sessions</label>
			  <select name="categorySession" [(ngModel)]="categorySession" class="form-control option-select">
					<option value="2">One to One class</option>
					<option value="1">Group class</option>
           </select>
		  </div>
		 </div>
		 <div class="col-sm-12">
		  <div class="form-group">
		  <label for="exampleInputEmail1">Price</label>
		    <input type="text" name="categoryprice" [(ngModel)]="categoryprice" class="form-control"  placeholder="$25">
		  </div>
		 </div>
	   </div>
	    <button (click)="saveCategories()" class="continue">Submit</button>
	   </form>
      </div>
    </div>
  </div>
</div> -->
<!-- Add category Modal --> 

<!-- view category popup -->
<div class="modal fade" id="view-category" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Category detail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	   <ul>
	     <li>
		   <div class="category-image"><img src="{{baseurls}}{{viewReader.image}}" alt="img"></div>
		 </li>
		 <li>
		   <label>Category Name</label>
		    <p>{{viewReader.name}}</p>
		 </li>
		 <li>
		   <label>Types of Sessions</label>
		   <p *ngIf="viewReader.session_type == 1"> Group Session</p>
		   <p *ngIf="viewReader.session_type == 2"> One to One Session</p>
		    <!-- <p>Group Session</p> -->
		 </li>
		 <li>
		   <label>Price</label>
		    <p>${{viewReader.price}}</p>
		 </li>
	   </ul>
      </div>
    </div>
  </div>
</div>
<!-- view category popup -->	

<!-- edit category Modal -->
<div class="modal fade" id="edit-category" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Category edit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	  <form>
       <div class="row">
	    <div class="col-sm-12">
		  <div class="upload-image">
		    <div class="upload-img"><img src="assets/images/category_upload_img.png" alt="img"></div>
			 <div class="upload-btn">
			   <label for="file-upload" class="custom-file-upload">
				<i class="fas fa-cloud-upload-alt"></i> Upload Image
			  </label>
			  <input id="file-upload" type="file"/>

			 </div>
		  </div>
		 </div>
	     <div class="col-sm-12">
		  <div class="form-group">
			<label for="exampleInputEmail1">Category Name</label>
			<input type="email" class="form-control"  placeholder="Mindful Music">
		  </div>
		 </div>
		 <div class="col-sm-12">
		  <div class="form-group">
			<label for="exampleInputEmail1">Types of Sessions</label>
			  <select class="form-control option-select">
              <option>Group Session</option>
           </select>
		  </div>
		 </div>
		 <div class="col-sm-12">
		  <div class="form-group">
		  <label for="exampleInputEmail1">Price</label>
		    <input type="email" class="form-control"  placeholder="$25">
		  </div>
		 </div>
	   </div>
	    <button class="continue">Save</button>
	   </form>
      </div>
    </div>
  </div>
</div>
<!-- edit category Modal --> 
	 
