.week-class audio{
    float: right;

}

.show-more button{
        color: #fff;
        background: #738c72;
        border-radius: 4px;
        padding: 10px 22px;
        font-size: 15px;
        border: 0;
        font-weight: 500;
    
}

.show-more{
    float: right;
}
.audio-outer .audio-three-dots{
    display: none;
}

@-moz-document url-prefix() {
    .audio-outer .audio-three-dots{
        display: block !important;
    }

    .week-class audio{
        float: left !important;
    margin: 7px 0;
    }
    
.audio-outer{
    position: relative;
float: right;
width: 320px;
background: #221818;
height: 50px;
}


.audio-three-dots {
	float: right;
position: absolute;
right: 10px;
top: 5px;
cursor: pointer;
margin: 10px 0;

}


.audio-three-dots .fa.fa-download {
	color: #ffffff;
}
}


.last-week div.week-class.hide{
    display: none;
}


ul li.more-session ul li {
    display: inline-block !important;
    width: 33%;
}

.more-session li p{
    font-size: 14px !important;
}

/* #view-class li.more-session label {
    padding: 12px 0px;
    font-size: 15px;
} */


.tooltipt {
    position: relative;
   
  }
  
  .tooltipt .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #738c72;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltipt .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #738c72 transparent transparent transparent;
  }
  
  .tooltipt:hover .tooltiptext {
    visibility: visible;
  }