<app-header></app-header>
<section class="booking-main music-therapy">
    <div class="container">
        <div class="heading">
            <h2>dashboard</h2>
            <span><img src="assets/images/heading_border.png" alt="img"></span>
        </div>
    </div>
</section>

<section class="dashboard-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="dashboard-box">
                    <h4  style="cursor: pointer;" routerLink="/mindful-musicians">Mindful Musicians</h4>
                    <p>8-week interactive parent:child classes with a focus on development of musical competence, confidence, and self-worth</p>
                    <button [routerLink]="['/all-categories/mindful']">Book Now</button>
                    
                </div>
            </div>
            <div class="col-sm-4">
                <div class="dashboard-box">
                    <h4  style="cursor: pointer;" routerLink="/neurodynamic-music-therapy">Neurodynamic Music Therapy </h4>
                    <p>1:1 & group sessions led by a board certified music therapist, catering to a large range<br>
                        of need areas</p>
                    <button [routerLink]="['/all-categories/neurodynamic']">Book Now</button>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="dashboard-box">
                    <h4  style="cursor: pointer;" routerLink="/rooted-private-lessions">Rooted Private Lessons</h4>
                    <p>weekly music lessons with opportunities for performance in the areas of voice, piano, guitar, and ukulele </p>
                    <button [routerLink]="['/all-categories/rooted']">Book Now</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="today-schedule payment-history">
    <div class="container">
        <h3>Booking Schedule</h3>
        <div class="table-scroll">
        <table class="table">
            <thead *ngIf="classbyuserArray.length > 0">
                <tr>
                    <th scope="col">Category</th>
                    <th scope="col">Sub Category</th>
                    <th scope="col">Class Name</th>
                    <th scope="col">Date & Time</th>
                    <th scope="col">Tutor Name</th>
                    <th scope="col">Action</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let posts of classbyuserArray">
                    <td>{{posts.categories.name}}</td>
                    <td><ng-container *ngFor="let subcat of  subcategorylistData; let i = index">
                        <span *ngIf="subcat.id == posts.subCategories_id && subcat.cat_type == posts.categories_id">
                         
                          
                                   {{subcat?subcat.subcat_name:''}}
                                  
                             
                        </span>
                        </ng-container></td>
                    <td>{{posts.title}}</td>
                    <td>{{posts.start_date | date}} & {{formatTime(posts.start_time)}} to {{formatTime(posts.end_time)}}</td>
                    <td>{{posts.teachers_name}}</td>
                    <td>
                        <button (click)="viewclass(posts)" class="view" data-toggle="modal" data-target="#view-class" style="background-color: #738c72;"><i class="far fa-eye"></i></button>
                        <ng-container *ngFor="let subcat of  subcategorylistData; let i = index">
                            <ng-container *ngIf="subcat.id == posts.subCategories_id && subcat.stype == 1">
                            <button (click)="pauseplaySubscription($event,posts.id,posts.booking_user_subscriptions.pause)" class="view tooltipt pause"  style="background-color: #738c72;"><i class="fa {{(posts.booking_user_subscriptions.pause == 1?'fa-play':'fa-pause')}}" ></i>
                            <span class="tooltiptext">{{(posts.booking_user_subscriptions.pause == 1?'Resume':'Pause')}} Subscription</span></button>
                        <button (click)="cancelSubscription($event,posts.id)" class="view tooltipt"  style="background-color: #738c72;"><i class="fa fa-times" ></i> <span class="tooltiptext">Cancel Subscription</span></button>
                    </ng-container>
                    </ng-container>

                      </td>
                </tr>

                
            </tbody>
        </table>
    </div>
    <div class="norecordfound" *ngIf="norecordfound" style="color:red">*No Record Found!</div>

        <mat-paginator *ngIf="totalclassbyuserArray.length > 10" [length]="this.totalclassbyuserArray.length" [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions" (page)="OnPageEvent($event)">
        </mat-paginator>
    </div>
</section>
<app-siteloader></app-siteloader>
<section class="last-week" >
    <div class="container">
        <h3>My Music</h3>
    <ng-container *ngIf="mindfullexist">
        <div *ngFor="let post of musicArray; let i = index" class="week-class {{i+1 > 3?'hide':''}}" >
            <div class="week-class-img">
                <img src="{{post.image?baseurls+post.image:'assets/images/week-img.png'}}" alt="img">
            </div>
            <h4>{{post.name}}</h4>
            <span class="audio-outer">
            <audio controls>
	 
                <source src="{{baseurls}}{{post.file}}" type="audio/mpeg">
                Your browser does not support the audio element.
              </audio>
              <span class="audio-three-dots"><i class="fa fa-download" aria-hidden="true" (click)="downloadMusic(baseurls+post.file,post.file)"></i></span>
             
            </span>
            <!-- <a href=""><i class="far fa-play-circle"></i>Play music</a> -->
           
              
        </div>
        <div class="show-more" *ngIf="musicArray.length > 3 && mindfullexist">
            <button (click)="showmoreMusic($event)">Show More</button>
        </div>
       
    </ng-container>
    <div class="norecordfound" *ngIf="norecordfound || !mindfullexist"><span style="color:red">*No Record Found!</span>
    </div>
    </div>
</section>
<br>
<br>
<!-- view class popup -->
<div class="modal fade" id="view-class" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Booking Detail</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         <ul>
          
           <li>
              <label>Category</label>
               <p>{{viewclassarray.categories?viewclassarray.categories.name:''}}</p>
               </li>
            <ng-container *ngFor="let subcat of  subcategorylistData; let i = index">
            <li *ngIf="subcat.id == viewclassarray.subCategories_id && subcat.cat_type == viewclassarray.categories_id">
              <label>SubCategory</label>
               <p>
              
                       {{subcat?subcat.subcat_name:''}}
                      
                  </p>
            </li>
            </ng-container>
            <li>
                <label>Class Name</label>
                 <p>{{viewclassarray.title}}</p>
              </li>
           <li>
             <label>{{viewclassarray.categories_id == 1?'Start Date':'Date'}}</label>
              <p>{{viewclassarray.start_date | date }}</p>
           </li>
           <li>
             <label>Time</label>
              <p>{{formatTime(viewclassarray.start_time)}} to {{formatTime(viewclassarray.end_time)}}</p>
           </li>
  
           <li>
              <label>Tutor</label>
               <p>{{viewclassarray.teachers_name?viewclassarray.teachers_name:''}}</p>
            </li>
  
           
  
            <li>
              <label>Price</label>
               <p>{{viewclassarray.amount > 0?'$'+viewclassarray.amount:'N/A'}}</p>
            </li>
  
            <li>
                <label>Name of Child(ren)</label>
                <p>{{viewclassarray.individual+(viewclassarray.issiblingsData?',':'')}}
                 <ng-container *ngFor="let sibling of viewclassarray.siblingsData" >{{sibling}}</ng-container></p>
              </li>
          
            <li class="more-session" *ngIf="sessionDatearray.length > 0"><label>{{viewclassarray.categories.stype == 1?'All Available Sessions (In Current Billing Cycle)':'All Sessions'}}</label>
              <div class="row">
                  <div class="col-sm-4" *ngFor="let sessionDate of sessionDatearray">
                    <div class="session-box">
                    {{sessionDate | date }}
                    <p>{{formatTime(viewclassarray.start_time)}} to {{formatTime(viewclassarray.end_time)}}</p>
                  </div>
                </div>
                </div>
            </li>
            <!-- <li>
             <label>Status</label>
              <p *ngIf="viewclassarray.status == '1'"><strong>Completed</strong></p>
              <p *ngIf="viewclassarray.status == '0'"><strong>Pending</strong></p>
           </li> -->
         </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- view class popup -->	
<app-footer></app-footer>