<app-header></app-header>
<section class="login">
    <div class="container">
        <div class="heading">
            <h2>Verify your email</h2>
            <span><img src="assets/images/heading_border.png" alt="img"></span>
        </div>
        <div class="login-main">
            <form>
                <span style="color: red;">{{error}}</span>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">email address</label>
                    <input [(ngModel)]="email" name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter your Email">
                </div>
                <button type="submit" class="btn" (click)="submitchangePassword()"><span *ngIf="!ShowSubmitLoader">Submit</span><i
					class="fa fa-spinner fa-spin" *ngIf="ShowSubmitLoader"></i></button>
            </form>
        </div>
    </div>
</section>
<app-footer></app-footer>