/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; }
body { margin: 0; font-family: 'Montserrat', sans-serif } */



.full_page_loader_app.pay{
    position:fixed;
    background: #0000008c !important;
}

.full_page_loader_app.pay i.fa.fa-spinner.fa-spin{
    color:#FFFFFF;
    position: absolute;
    top: 50%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
