.StripeElement {
    transition: box-shadow 150ms ease;
    border: solid 3px #e3e3e3;
    border-radius: 0.5em;
    padding: 1.143em 1em;
  }
  
  .StripeElement--focus {
    border-color: #85b7d9;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }
  #myModal  .modal-dialog{width:80%;}
  #myModal .modal-body button {
    background: #000;
    padding: 7px 10px;
    color: #fff;
    border: 1px solid #000;
    border-radius: 6px;
    margin-top:10px;
}
#myModal .StripeElement{
  transition: box-shadow 150ms ease;
  border: solid 3px #e3e3e3;
  border-radius: 0.5em;
  padding: 1.143em 1em;
  float: left;
  width: 100%;
}
  #myModal button.close {
    width: 34px;
    height: 34px;
    background: #FAE1A3;
    border-radius: 60px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 29px;
    color: #fff;
    line-height: 2px;
    top: 8px;
    opacity: 1;
    right: 16px;
    z-index: 99;
    padding: 0;
    margin: 0;
    left: auto;
}
.CardField-number.CardField-child {
  margin-bottom: 16px;
}
.CardField-expiry.CardField-child {
  float: left;
  width: 48%;
  transform: initial !important;
  margin: 0px !important;
}