<app-header></app-header>
<div class="container">
    <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Class</button> -->
    <button  id="openModel" data-toggle="modal" data-target="#myModal" class="btn btn-success" style="display: none;">Book</button>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <!-- <th scope="col">Status</th> -->
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Start time</th>
                <th scope="col">End time</th>
                <th scope="col">Type</th>
                <th scope="col">Capacity</th>
                <th scope="col">Category Name</th>
                <th scope="col">Teacher Name</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let post of classArray; let i=index;">
                <td scope="row">{{i +1}}</td>
                <td>{{post.title}}</td>
                <td>{{post.start_date}}</td>
                <td>{{post.end_date}}</td>
                <td>{{post.start_time}}</td>
                <td>{{post.end_time}}</td>
                <td><span *ngIf="post.class_type == 2">Group Class</span><span *ngIf="post.class_type == 1">One to One class</span></td>
                <td>{{post.capacity}}</td>
                <!-- <td>{{post.class_type}}</td> -->
                <td>{{post.categories.name}}</td>
                <td>{{post.teacher.name}}</td>
                <td>
                  <button (click)="activeBook(post.id,post)"  class="btn btn-success">Book</button>
                </td>

                <!-- <td>
                    <label class="switch">
                        <input (change)="changeStatus(post,$event)" type="checkbox" [checked]="post.status">
                        <span class="slider round"></span>
                    </label>
                </td>
                <td *ngIf="post.bookings == null"><span (click)="updateData(post,post.id)" class="btn btn-info btn-sl" data-toggle="modal" data-target="#myModal">Update</span><span (click)="deleteClasses(post.id)"  class="btn btn-danger btn-sl" >Delete</span></td>
                <td *ngIf="post.bookings == null">
                    
                </td> -->
            </tr>
            <!-- <tr>
                <td scope="row">2</td>
                <td>Jacob</td>
                <td>Thornton</td>
            </tr> -->
        </tbody>
    </table>
</div>


<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <label *ngIf="noofbookingBool">No of Booking</label>
        <input *ngIf="noofbookingBool" value= "0"  type ="number" name="bookingCount" [(ngModel)]="bookingCount" class="form-control">
        <label>Card Number</label>
        <input type ="number" name="number" [(ngModel)]="number" class="form-control">
        <label>Expiry month</label>
        <input type ="number" name="expiry_month" [(ngModel)]="expiry_month" class="form-control">
        <label>Expiry year</label>
        <input type ="number" name="expiry_year" [(ngModel)]="expiry_year" class="form-control">
        <label>cvc</label>
        <input type ="number" name="cvc" [(ngModel)]="cvc" class="form-control">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default" (click)="submitPayment()">Submit</button>
      </div>
    </div>

  </div>
</div>