<app-header></app-header>

<!------ music therapy detail page start ----->
<section class="booking-main music-therapy">
    <div class="container">
    <div class="heading">
          <h2>Neurodynamic Music Therapy</h2>
         <span><img src="assets/images/heading_border.png" alt="img"></span>
       </div>
       <section class="music-therapy-top">
       <div class="row">
         <div class="col-sm-5">
           <div class="mission-left">
            <div class="mission-img">
             <img src="assets/images/music_img1.png" alt="">
           </div>
          </div>
         </div>
         <div class="col-sm-7">
           <div class="music-therapy-right">
             <p>Music therapy is a unique avenue of therapy in that it reaches all areas of the brain, and therefore, has limitless possibility. Music therapy involves collaborative music experience to create changes that transfer to non-musical goals. No previous musical experience is necessary to benefit from music therapy and goal areas include realms of social, emotional, cognition, communication, and physical development and recovery.<br><br>
                Examples of clientele include individuals with developmental delays, verbal limitations, stroke recovery, dementia, mental health needs, trauma/PTSD, and autism. The results of the therapy are directly influenced by the creativity of the therapist and the willingness of the client to participate.</p>
             <div class="one-one">
               <ul>
                 <li>1:1 Music therapy: 45 minutes weekly @ $70/session.<br>
                    Group Music Therapy: 8 week consecutive commitment @ $300</li>
                  <li class="frid">- Tuesdays 11am 1-4 year olds with down syndrome<br>
                    - Fridays 3:15pm 5-7 year olds with down syndrome
                    </li>
                    <button *ngIf="loginUser; else elseblock" [routerLink]="['/all-categories/neurodynamic']">Register here</button>
                  <ng-template #elseblock>
                    <button (click)="checkForRegisterNeurodynamic('neurodynamic')">Register here</button>
                  </ng-template>
               </ul>
             </div>
           </div>
         </div>
       </div>
       </section>
    </div>
  </section>
  
  <section class="benefits-music-therapy">
    <div class="container">
     <div class="benefits-music-therapy-left">
       <h2>Benefits of music therapy</h2>
        <ul>
          <!-- <li>https://www.biausa.org/public-affairs/media/neurologic-music-therapy-in-neurorehabilitation</li> -->
           <!-- <li>https://library.down-syndrome.org/en-us/news-update/05/2/music-m
  usic-therapy-musical-abilities-role-music-lives-adults-down-syndrome/</li>
  <li>https://www.musictherapy.org/assets/1/7/bib_autism10.pdf</li>
  <li>http://www.therabeat.com/news-and-events/2017/10/5/rhythm-music and-the-brain</li>
  <li>https://www.apa.org/monitor/2013/11/musi</li> -->
          <li><a target="_blank" href="https://www.biausa.org/public-affairs/media/neurologic-music-therapy-in-neurorehabilitation">https://www.biausa.org/public-affairs/media/neurologic-music-therapy-in-neurorehabilitation</a></li>
          <li><a target="_blank" href="https://library.down-syndrome.org/en-us/news-update/05/2/music-music-therapy-musical-abilities-role-music-lives-adults-down-syndrome/">https://library.down-syndrome.org/en-us/news-update/05/2/music-music-therapy-musical-abilities-role-music-lives-adults-down-syndrome/</a></li>
          <li><a target="_blank" href="https://www.musictherapy.org/assets/1/7/bib_autism10.pdf">https://www.musictherapy.org/assets/1/7/bib_autism10.pdf</a></li>
          <li><a target="_blank" href="http://www.therabeat.com/news-and-events/2017/10/5/rhythm-music-and-the-brain">http://www.therabeat.com/news-and-events/2017/10/5/rhythm-music-and-the-brain</a></li>
          <li><a target="_blank" href="https://www.apa.org/monitor/2013/11/music">https://www.apa.org/monitor/2013/11/music</a></li>
        </ul>
     </div>
     <div class="benefits-music-therapy-right">
       <img src="assets/images/benefits_img.png">
     </div>
     
     </div>
  </section>

  <section class="testimonials">
    <div class="container">
        <h3>Testimonials</h3>
          <p>“Callie is incredibly patient with our son Lincoln, who has Down Syndrome. She uses many different methods to keep him
            engaged, on task, and thriving during his sessions. We have always been impressed with her genuine concern for Lincoln’s best interests. She has helped his speech <br>and pronunciation immensely. She is a valued member of “Team Lincoln”.</p>
          <h4>-Dr. Ben and Lisa Vogt</h4> 
    </div>
</section>

  <!------ music therapy page close -----> 

<app-footer></app-footer>