<app-header></app-header>
<div class="container">
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Class</button>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <!-- <th scope="col">Status</th> -->
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Start time</th>
                <th scope="col">End time</th>
                <th scope="col">Type</th>
                <th scope="col">Capacity</th>
                <th scope="col">Category Name</th>
                <th scope="col">Teacher Name</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let post of classArray; let i=index;">
                <td scope="row">{{i +1}}</td>
                <td>{{post.title}}</td>
                <td>{{post.start_date}}</td>
                <td>{{post.end_date}}</td>
                <td>{{post.start_time}}</td>
                <td>{{post.end_time}}</td>
                <td><span *ngIf="post.class_type == 2">Group Class</span><span *ngIf="post.class_type == 1">One to One
                        class</span></td>
                <td>{{post.capacity}}</td>
                <!-- <td>{{post.class_type}}</td> -->
                <td>{{post.categories.name}}</td>
                <td>{{post.teacher.name}}</td>

                <td>
                    <label class="switch">
                        <input (change)="changeStatus(post,$event)" type="checkbox" [checked]="post.status">
                        <span class="slider round"></span>
                    </label>
                </td>
                <td *ngIf="post.bookings.length == 0"><span (click)="updateData(post,post.id)"
                        class="btn btn-info btn-sl" data-toggle="modal" data-target="#myModal">Update</span><span
                        (click)="deleteClasses(post.id)" class="btn btn-danger btn-sl">Delete</span></td>
                <td *ngIf="post.bookings == null">
                    <!-- <span>Already booked</span> -->
                </td>
            </tr>
            <!-- <tr>
                    <td scope="row">2</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                </tr> -->
        </tbody>
    </table>
</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog add-class-dialog">


        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Class</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <label>Title</label><input type="text" class="form-control" name="title" [(ngModel)]="data.title">
                </div> 
                <div class="row">
                    <div class="col">
                        <label>Start Date</label>
                        <p-calendar class="form-control" [(ngModel)]="data.start_date"></p-calendar>
                    </div>
                    <div class="col">
                        <label>End Date</label>
                        <p-calendar class="form-control" [(ngModel)]="data.end_date"></p-calendar>
                    </div>
                </div>       
                    <label>Start time</label>
                    <p-calendar class="form-control" [(ngModel)]="data.start_time" [timeOnly]="true" inputId="timeonly">
                    </p-calendar>
                    <label>End time</label>
                    <p-calendar class="form-control" [(ngModel)]="data.end_time" [timeOnly]="true" inputId="timeonly">
                    </p-calendar>
                    <label>Class Type</label>
                    <select class="form-control" [(ngModel)]="data.type">
                        <option value="1">One to One class</option>
                        <option value="2">Group class</option>
                    </select>
                    <label>Upload file</label>
                    <input type="file" name="file" (change)="onFileSelected($event)">
                    <label *ngIf="data.type != '1'">Capacity</label>
                    <input *ngIf="data.type != '1'" type="number" class="form-control" name="capacity"
                        [(ngModel)]="data.capacity">
                    <label>Teacher</label>
                    <select class="form-control" [(ngModel)]="data.teacher">
                        <option *ngFor="let data of TeachersArray" value="{{data.id}}">
                            {{data.name}}
                        </option>
                    </select>
                    <label>Categories</label>
                    <select class="form-control" [(ngModel)]="data.categories">
                        <option *ngFor="let data of categoriesArray" value="{{data.id}}">
                            {{data.name}}
                        </option>
                    </select>



                    <label>Payment One Student</label>
                    <input type="number" class="form-control" name="payment_one_student"
                        [(ngModel)]="data.payment_one_student">

                    <label *ngIf="data.type != '1'">Payment One Plus Student</label>
                    <input *ngIf="data.type != '1'" type="number" class="form-control" name="payment_one_plus_student"
                        [(ngModel)]="data.payment_one_plus_student">

                    <label *ngIf="data.type != '1'">Payment Two Plus Student</label>
                    <input *ngIf="data.type != '1'" type="number" class="form-control" name="payment_two_plus_student"
                        [(ngModel)]="data.payment_two_plus_student">



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-default" (click)="SaveClass()"
                        data-dismiss="modal">Save</button>
                </div>
            </div>

        </div>
    </div>